Repository pagopa/interop-be-monorepo, pull requests merged in 2024-11, with the labels that each got.

#1158 Remove uuid and @types/uuid from dependancies
  packages/delegation-process/package.json
  pnpm-lock.yaml
Labels: capofila, delegation-process

#1116 PIN-5450 - Update getEservices query with delegation lookup
  packages/catalog-process/src/services/readModelService.ts
  packages/catalog-process/test/getEservices.test.ts
Labels: catalog-process, capofila

#1114 PIN-5444 - Reject descriptor
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-process/src/model/domain/toEvent.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/services/readModelService.ts
  packages/catalog-process/src/utilities/errorMappers.ts
  packages/catalog-process/test/getEservices.test.ts
  packages/catalog-process/test/rejectDelegatedEServiceDescriptor.test.ts
Labels: catalog-process, capofila

#1113 PIN-5443 - Updated publish descriptor and added approve delegated descriptor
  packages/agreement-process/test/createAgreement.test.ts
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-process/src/model/domain/toEvent.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/services/readModelService.ts
  packages/catalog-process/src/utilities/errorMappers.ts
  packages/catalog-process/test/approveDelegatedEServiceDescriptor.test.ts
  packages/catalog-process/test/getEservices.test.ts
  packages/catalog-process/test/publishDescriptor.test.ts
  packages/catalog-process/test/rejectDelegatedEServiceDescriptor.test.ts
Labels: catalog-process, capofila

#1105 PIN-5459 - Add new eservice state and events
  packages/agreement-outbound-writer/package.json
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/test/createAgreement.test.ts
  packages/agreement-process/test/submitAgreement.test.ts
  packages/api-clients/open-api/apiGatewayApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/authorization-updater/src/index.ts
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-outbound-writer/package.json
  packages/catalog-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/catalog-platformstate-writer/src/consumerServiceV1.ts
  packages/catalog-platformstate-writer/src/consumerServiceV2.ts
  packages/catalog-process/src/model/domain/apiConverter.ts
  packages/catalog-process/src/model/domain/toEvent.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/services/readModelService.ts
  packages/catalog-process/src/services/validators.ts
  packages/catalog-process/src/utilities/errorMappers.ts
  packages/catalog-process/test/activateDescriptor.test.ts
  packages/catalog-process/test/approveDelegatedEServiceDescriptor.test.ts
  packages/catalog-process/test/createDescriptor.test.ts
  packages/catalog-process/test/deleteDocument.test.ts
  packages/catalog-process/test/getEserviceById.test.ts
  packages/catalog-process/test/getEservices.test.ts
  packages/catalog-process/test/publishDescriptor.test.ts
  packages/catalog-process/test/rejectDelegatedEServiceDescriptor.test.ts
  packages/catalog-process/test/suspendDescriptor.test.ts
  packages/catalog-process/test/updateDescriptor.test.ts
  packages/catalog-process/test/updateDocument.test.ts
  packages/catalog-process/test/uploadDocument.test.ts
  packages/catalog-readmodel-writer/src/consumerServiceV2.ts
  packages/commons-test/src/protobufConvertersToV1/catalogProtobufConverterToV1.ts
  packages/datalake-data-export/src/services/readModelService.ts
  packages/datalake-data-export/test/read-model-queries-service.test.ts
  packages/models/proto/v2/eservice/eservice.proto
  packages/models/proto/v2/eservice/events.proto
  packages/models/src/eservice/eservice.ts
  packages/models/src/eservice/eserviceEvents.ts
  packages/models/src/eservice/protobufConverterFromV2.ts
  packages/models/src/eservice/protobufConverterToV2.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationConverter.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationMappers.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationMessage.ts
  packages/purpose-outbound-writer/package.json
  packages/tenant-outbound-writer/package.json
  pnpm-lock.yaml
Labels: catalog-process, capofila

#1157 PIN-5481 agreement documents
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/readModelService.ts
  packages/agreement-process/test/agreementConsumerDocuments.test.ts
  packages/agreement-process/test/utils.ts
Labels: capofila, agreement-process

#1136 IMN-784 - Fixing attribute duplicate errors
  packages/attribute-registry-process/src/model/domain/errors.ts
  packages/attribute-registry-process/src/services/attributeRegistryService.ts
  packages/attribute-registry-process/test/attributeRegistryService.integration.test.ts
Labels: improvement

#1120 PIN-5372 BFF delegation routers
  collections/bff/delegation/Approve Delegation.bru
  collections/bff/delegation/Create Delegation.bru
  collections/bff/delegation/Get Delegation ById.bru
  collections/bff/delegation/Get Delegations.bru
  collections/bff/delegation/Reject Delegation.bru
  collections/bff/delegation/Revoke Delegation.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/template-bff.hbs
  packages/api-clients/template.hbs
  packages/backend-for-frontend/.env
  packages/backend-for-frontend/src/api/delegationApiConverter.ts
  packages/backend-for-frontend/src/clients/clientsProvider.ts
  packages/backend-for-frontend/src/model/errors.ts
  packages/backend-for-frontend/src/routers/delegationRouter.ts
  packages/backend-for-frontend/src/routers/producerDelegationRouter.ts
  packages/backend-for-frontend/src/services/delegationService.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
Labels: bff, capofila

#1162 PIN-5484 activate agreement with delegation
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/services/agreementActivationProcessor.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementStampUtils.ts
  packages/agreement-process/src/services/readModelService.ts
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/archiveAgreement.test.ts
  packages/agreement-process/test/suspendAgreement.test.ts
  packages/commons-test/src/testUtils.ts
  packages/models/src/agreement/agreement.ts
Labels: capofila

#1051 IMN-793 Add scaffold for authorization-platformstate-writer
  packages/authorization-platformstate-writer/.env
  packages/authorization-platformstate-writer/Dockerfile
  packages/authorization-platformstate-writer/aws.config.local
  packages/authorization-platformstate-writer/package.json
  packages/authorization-platformstate-writer/src/config/config.ts
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/index.ts
  packages/authorization-platformstate-writer/test/sample.integration.test.ts
  packages/authorization-platformstate-writer/test/tsconfig.json
  packages/authorization-platformstate-writer/test/utils.ts
  packages/authorization-platformstate-writer/test/vitestGlobalSetup.ts
  packages/authorization-platformstate-writer/tsconfig.check.json
  packages/authorization-platformstate-writer/tsconfig.json
  packages/authorization-platformstate-writer/vitest.config.ts
  packages/models/src/index.ts
  packages/models/src/token-generation-readmodel/commons.ts
  packages/models/src/token-generation-readmodel/platform-states-entry.ts
  packages/models/src/token-generation-readmodel/token-generation-states-entry.ts
  pnpm-lock.yaml
Labels: authorization-server

#1155 PIN-5548 add eservices ids filter fetch delegations
  collections/bff/delegation/Get Delegations.bru
  collections/delegation/Delegation Process Micro Service/producer/List producer delegations.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/delegationApi.yml
  packages/backend-for-frontend/src/api/delegationApiConverter.ts
  packages/backend-for-frontend/src/routers/delegationRouter.ts
  packages/backend-for-frontend/src/services/delegationService.ts
  packages/backend-for-frontend/src/services/validators.ts
  packages/delegation-process/src/routers/DelegationRouter.ts
  packages/delegation-process/src/services/delegationService.ts
  packages/delegation-process/src/services/readModelService.ts
  packages/delegation-process/test/getDelegations.test.ts
Labels: capofila, delegation-process

#1062 IMN-795 Add events service v2 in authorization-platformstate-writer
  packages/authorization-platformstate-writer/package.json
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
  packages/commons-test/src/testUtils.ts
  packages/commons-test/src/tokenGenerationReadmodelUtils.ts
  packages/models/src/brandedIds.ts
  packages/models/src/token-generation-readmodel/commons.ts
  packages/models/src/token-generation-readmodel/platform-states-entry.ts
  packages/models/src/token-generation-readmodel/token-generation-states-entry.ts
  pnpm-lock.yaml
Labels: authorization-server

#1137 IMN-518 pt1 - Case insensitive duplicate checks for catalog
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/cloneDescriptor.test.ts
  packages/catalog-process/test/createEService.test.ts
  packages/catalog-process/test/createRiskAnalysis.test.ts
  packages/catalog-process/test/updateDocument.test.ts
  packages/catalog-process/test/updateEservice.test.ts
  packages/catalog-process/test/updateRiskAnalysis.test.ts
  packages/catalog-process/test/uploadDocument.test.ts
Labels: improvement

#1192 Renaming producer delegation events adding `Producer` prefix
  packages/delegation-process/src/model/domain/toEvent.ts
  packages/delegation-process/src/services/delegationProducerService.ts
  packages/delegation-process/test/approveProducerDelegation.test.ts
  packages/delegation-process/test/createProducerDelegation.test.ts
  packages/delegation-process/test/rejectProducerDelegation.test.ts
  packages/delegation-process/test/revokeProducerDelegation.test.ts
  packages/delegation-process/test/utils.ts
  packages/delegation-readmodel-writer/src/delegationConsumerServiceV2.ts
  packages/delegation-readmodel-writer/test/consumerServiceV2.test.ts
  packages/models/proto/v2/delegation/events.proto
  packages/models/src/delegation/delegationEvents.ts
Labels: capofila, Incaricato

#1194 Fixing TS errors in delegation routers
  packages/delegation-process/src/app.ts
  packages/delegation-process/src/routers/DelegationProducerRouter.ts
  packages/delegation-process/src/routers/DelegationRouter.ts
  packages/delegation-process/src/utilities/errorMappers.ts
Labels: delegation-process

#1195 Small fixes and refactors in `delegation-process`
  packages/delegation-process/src/routers/DelegationProducerRouter.ts
  packages/delegation-process/src/routers/DelegationRouter.ts
  packages/delegation-process/src/services/delegationProducerService.ts
  packages/delegation-process/src/services/delegationService.ts
  packages/delegation-process/src/utilities/errorMappers.ts
  packages/delegation-process/test/approveProducerDelegation.test.ts
  packages/delegation-process/test/getDelegationById.test.ts
  packages/delegation-process/test/getDelegations.test.ts
  packages/delegation-process/test/rejectProducerDelegation.test.ts
Labels: capofila, delegation-process

#1189 PIN-5659 - Added `DELETE /tenants/delegatedProducer` in bff and tenant process
  collections/tenant/Add delegated producer feature.bru
  collections/tenant/Remove delegated producer feature.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/tenantApi.yml
  packages/backend-for-frontend/src/routers/tenantRouter.ts
  packages/backend-for-frontend/src/services/tenantService.ts
  packages/compute-agreements-consumer/src/index.ts
  packages/models/proto/v2/tenant/events.proto
  packages/models/src/tenant/tenantEvents.ts
  packages/tenant-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/tenant-process/src/model/domain/errors.ts
  packages/tenant-process/src/model/domain/toEvent.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/src/services/validators.ts
  packages/tenant-process/src/utilities/errorMappers.ts
  packages/tenant-process/test/removeTenantDelegatedProducerFeature.test.ts
  packages/tenant-readmodel-writer/src/tenantConsumerServiceV2.ts
Labels: tenant-process, capofila

#1182 PIN-5641 - Add features filter in get tenants
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/tenantApi.yml
  packages/api-clients/template-bff.hbs
  packages/backend-for-frontend/src/routers/tenantRouter.ts
  packages/backend-for-frontend/src/services/tenantService.ts
  packages/models/src/tenant/tenant.ts
  packages/tenant-process/src/model/domain/apiConverter.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/readModelService.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/test/getTenants.test.ts
Labels: tenant-process, capofila

#1179 PIN-5640 - Add `delegated` filter in `GET /eservices`
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-process/src/model/domain/models.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/readModelService.ts
  packages/catalog-process/test/getEservices.test.ts
Labels: catalog-process, capofila

#1151 PIN-5203 - Updated purpose process for producer delegations
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/readModelService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/test/activatePurposeVersion.test.ts
  packages/purpose-process/test/getRiskAnalysisDocument.test.ts
  packages/purpose-process/test/rejectPurposeVersion.test.ts
  packages/purpose-process/test/suspendPurposeVersion.test.ts
  packages/purpose-process/test/utils.ts
Labels: capofila, purpose-process

#1183 PIN-5656 fix suspend agreement
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementStateProcessor.ts
  packages/agreement-process/src/services/agreementSuspensionProcessor.ts
  packages/agreement-process/test/suspendAgreement.test.ts
Labels: capofila, agreement-process

#1168 PIN-5605 - Allow delegate to retrieve purpose in api-gateway
  packages/api-gateway/.env
  packages/api-gateway/src/clients/clientsProvider.ts
  packages/api-gateway/src/config/config.ts
  packages/api-gateway/src/models/errors.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/purposeService.ts
  packages/api-gateway/src/services/validators.ts
Labels: api-gateway, capofila

#1154 PIN-5488 agreement listing
  packages/agreement-process/src/services/readModelService.ts
  packages/agreement-process/test/getAgreementEservices.test.ts
  packages/agreement-process/test/getAgreements.test.ts
Labels: capofila, agreement-process

#1211 PIN-5699 - Fix producer keychain keys retrieving in api-gateway
  packages/api-gateway/src/services/readModelService.ts
Labels: api-gateway

#1180 IMN-521 - Replace Fastify with Express in authorization-server
  docker/docker-compose.yml
  packages/authorization-server/.env
  packages/authorization-server/package.json
  packages/authorization-server/src/app.ts
  packages/authorization-server/src/config/config.ts
  packages/authorization-server/src/index.ts
  packages/authorization-server/src/routers/AuthorizationServerRouter.ts
  packages/authorization-server/src/routers/HealthRouter.ts
  packages/authorization-server/src/services/tokenService.ts
  packages/authorization-server/test/utils.ts
  packages/backend-for-frontend/.env
  packages/client-assertion-validation/src/errors.ts
  pnpm-lock.yaml
Labels: authorization-server

#1086 IMN-521 Authorization server - part 2
  docker/docker-compose.yml
  package.json
  packages/api-clients/open-api/authorizationServerApi.yml
  packages/api-clients/src/index.ts
  packages/authorization-server/.env
  packages/authorization-server/Dockerfile
  packages/authorization-server/aws.config.local
  packages/authorization-server/package.json
  packages/authorization-server/src/app.ts
  packages/authorization-server/src/config/config.ts
  packages/authorization-server/src/index.ts
  packages/authorization-server/src/model/domain/errors.ts
  packages/authorization-server/src/model/domain/models.ts
  packages/authorization-server/src/routers/AuthorizationServerRouter.ts
  packages/authorization-server/src/routers/HealthRouter.ts
  packages/authorization-server/src/services/tokenService.ts
  packages/authorization-server/src/utilities/errorMappers.ts
  packages/authorization-server/test/.eslintrc.json
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/authorization-server/test/authorizationServer.unit.test.ts
  packages/authorization-server/test/tsconfig.json
  packages/authorization-server/test/utils.ts
  packages/authorization-server/test/vitestGlobalSetup.ts
  packages/authorization-server/tsconfig.check.json
  packages/authorization-server/tsconfig.json
  packages/authorization-server/vitest.config.ts
  packages/backend-for-frontend/.env
  packages/client-assertion-validation/src/errors.ts
  packages/client-assertion-validation/test/validation.test.ts
  packages/commons-test/src/testUtils.ts
  packages/commons/src/interop-token/interopTokenService.ts
  packages/commons/src/utils/date.ts
  packages/models/src/brandedIds.ts
  packages/models/src/token-generation-readmodel/token-generation-states-entry.ts
  pnpm-lock.yaml
Labels: authorization-server

#1134 IMN-521 Authorization-server
  docker/docker-compose.yml
  package.json
  packages/api-clients/open-api/authorizationServerApi.yml
  packages/api-clients/src/index.ts
  packages/authorization-platformstate-writer/test/sample.integration.test.ts
  packages/authorization-server/.env
  packages/authorization-server/Dockerfile
  packages/authorization-server/aws.config.local
  packages/authorization-server/package.json
  packages/authorization-server/src/app.ts
  packages/authorization-server/src/config/config.ts
  packages/authorization-server/src/index.ts
  packages/authorization-server/src/model/domain/errors.ts
  packages/authorization-server/src/model/domain/models.ts
  packages/authorization-server/src/routers/AuthorizationServerRouter.ts
  packages/authorization-server/src/routers/HealthRouter.ts
  packages/authorization-server/src/services/tokenService.ts
  packages/authorization-server/src/utilities/errorMappers.ts
  packages/authorization-server/test/.eslintrc.json
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/authorization-server/test/authorizationServer.unit.test.ts
  packages/authorization-server/test/tsconfig.json
  packages/authorization-server/test/utils.ts
  packages/authorization-server/test/vitestGlobalSetup.ts
  packages/authorization-server/tsconfig.check.json
  packages/authorization-server/tsconfig.json
  packages/authorization-server/vitest.config.ts
  packages/backend-for-frontend/.env
  packages/backend-for-frontend/src/services/toolService.ts
  packages/client-assertion-validation/src/errors.ts
  packages/client-assertion-validation/src/types.ts
  packages/client-assertion-validation/src/utils.ts
  packages/client-assertion-validation/src/validation.ts
  packages/client-assertion-validation/test/utils.ts
  packages/client-assertion-validation/test/validation.test.ts
  packages/commons-test/package.json
  packages/commons-test/src/testUtils.ts
  packages/commons-test/src/tokenGenerationReadmodelUtils.ts
  packages/commons/src/config/authorizationServerTokenGenerationConfig.ts
  packages/commons/src/config/index.ts
  packages/commons/src/interop-token/interopTokenService.ts
  packages/commons/src/interop-token/models.ts
  packages/commons/src/utils/date.ts
  packages/models/src/brandedIds.ts
  packages/models/src/client-assertion/clientAssertionValidation.ts
  packages/models/src/index.ts
  packages/models/src/token-generation-audit/audit.ts
  packages/models/src/token-generation-readmodel/token-generation-states-entry.ts
  pnpm-lock.yaml
Labels: authorization-server

#1177 IMN-798 Fix voucher lifespan in token-generation readmodel
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/catalog-platformstate-writer/src/consumerServiceV2.ts
  packages/catalog-platformstate-writer/src/utils.ts
  packages/catalog-platformstate-writer/test/consumerServiceV1.test.ts
  packages/catalog-platformstate-writer/test/consumerServiceV2.test.ts
  packages/catalog-platformstate-writer/test/utils.ts
Labels: authorization-server

#1212 PIN-5680 - Fix datalake data export
  .github/workflows/build-push.yaml
  packages/agreement-platformstate-writer/package.json
  packages/anac-certified-attributes-importer/.env
  packages/anac-certified-attributes-importer/Dockerfile
  packages/anac-certified-attributes-importer/aws.config.local
  packages/anac-certified-attributes-importer/package.json
  packages/anac-certified-attributes-importer/src/config/config.ts
  packages/anac-certified-attributes-importer/src/config/sftpConfig.ts
  packages/anac-certified-attributes-importer/src/index.ts
  packages/anac-certified-attributes-importer/src/model/tenant.ts
  packages/anac-certified-attributes-importer/src/service/processor.ts
  packages/anac-certified-attributes-importer/src/service/readmodelQueriesService.ts
  packages/anac-certified-attributes-importer/src/service/sftpService.ts
  packages/backend-for-frontend/package.json
  packages/catalog-platformstate-writer/package.json
  packages/commons-test/package.json
  packages/commons/package.json
  packages/datalake-data-export/Dockerfile
  packages/datalake-data-export/aws.config.local
  packages/datalake-data-export/package.json
  packages/datalake-data-export/src/index.ts
  packages/datalake-data-export/src/services/datalakeService.ts
  packages/dtd-catalog-exporter/package.json
  packages/dtd-catalog-exporter/src/index.ts
  packages/ivass-certified-attributes-importer/.env
  packages/ivass-certified-attributes-importer/package.json
  packages/ivass-certified-attributes-importer/src/config/config.ts
  packages/ivass-certified-attributes-importer/src/index.ts
  packages/ivass-certified-attributes-importer/src/model/tenant.ts
  packages/ivass-certified-attributes-importer/src/service/processor.ts
  packages/ivass-certified-attributes-importer/src/service/readModelQueriesService.ts
  packages/kafka-iam-auth/package.json
  packages/notifier-seeder/package.json
  packages/one-trust-notices/.env
  packages/one-trust-notices/aws.config.local
  packages/one-trust-notices/package.json
  packages/one-trust-notices/src/services/html2json.ts
  packages/pn-consumers/.env
  packages/pn-consumers/Dockerfile
  packages/pn-consumers/package.json
  packages/pn-consumers/test/readModelQueriesService.test.ts
  packages/purpose-platformstate-writer/package.json
  pnpm-lock.yaml
Labels: jobs

#1216 Fixing type of `who` in delegation process
  packages/commons-test/src/testUtils.ts
  packages/delegation-process/src/services/delegationProducerService.ts
  packages/delegation-process/test/.eslintrc.json
  packages/delegation-process/test/approveProducerDelegation.test.ts
  packages/delegation-process/test/createProducerDelegation.test.ts
  packages/delegation-process/test/rejectProducerDelegation.test.ts
  packages/delegation-process/test/revokeProducerDelegation.test.ts
  packages/models/src/delegation/delegation.ts
Labels: capofila, delegation-process, Incaricato

#1199 PIN-5674 - Include descriptors in `Delegation` model in bff
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/api/delegationApiConverter.ts
Labels: bff, capofila

#1217 Delegation process approval + revoke + PDF contract fixes
  packages/api-clients/open-api/delegationApi.yml
  packages/delegation-process/package.json
  packages/delegation-process/src/model/domain/errors.ts
  packages/delegation-process/src/model/domain/models.ts
  packages/delegation-process/src/model/domain/toEvent.ts
  packages/delegation-process/src/resources/templates/delegationApprovedTemplate.html
  packages/delegation-process/src/resources/templates/delegationRevokedTemplate.html
  packages/delegation-process/src/services/delegationContractBuilder.ts
  packages/delegation-process/src/services/delegationProducerService.ts
  packages/delegation-process/src/services/validators.ts
  packages/delegation-process/src/utilities/errorMappers.ts
  packages/delegation-process/test/approveProducerDelegation.test.ts
  packages/delegation-process/test/createProducerDelegation.test.ts
  packages/delegation-process/test/rejectProducerDelegation.test.ts
  packages/delegation-process/test/revokeProducerDelegation.test.ts
  packages/delegation-process/test/utils.ts
  pnpm-lock.yaml
Labels: capofila, delegation-process, Incaricato

#1204 PIN-5489 tenant process
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/tenantApi.yml
  packages/backend-for-frontend/src/routers/tenantRouter.ts
  packages/backend-for-frontend/src/services/tenantService.ts
  packages/models/proto/v2/tenant/tenant.proto
  packages/models/src/tenant/protobufConverterFromV2.ts
  packages/models/src/tenant/protobufConverterToV2.ts
  packages/models/src/tenant/tenant.ts
  packages/tenant-process/src/model/domain/errors.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/readModelService.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/src/services/validators.ts
  packages/tenant-process/src/utilities/errorMappers.ts
  packages/tenant-process/test/revokeVerifiedAttribute.test.ts
  packages/tenant-process/test/utils.ts
  packages/tenant-process/test/verifyVerifiedAttribute.test.ts
Labels: tenant-process, capofila

#1094 IMN-787 Token details persister
  package.json
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/authorization-server/test/authorizationServer.unit.test.ts
  packages/commons/src/config/consumerServiceConfig.ts
  packages/kafka-iam-auth/src/index.ts
  packages/token-details-persister/.env
  packages/token-details-persister/Dockerfile
  packages/token-details-persister/aws.config.local
  packages/token-details-persister/package.json
  packages/token-details-persister/src/config/config.ts
  packages/token-details-persister/src/consumerService.ts
  packages/token-details-persister/src/index.ts
  packages/token-details-persister/test/consumerService.integration.test.ts
  packages/token-details-persister/test/tsconfig.json
  packages/token-details-persister/test/utils.ts
  packages/token-details-persister/test/vitestGlobalSetup.ts
  packages/token-details-persister/tsconfig.check.json
  packages/token-details-persister/tsconfig.json
  packages/token-details-persister/vitest.config.ts
  pnpm-lock.yaml
Labels: authorization-server

#1153 PIN-5251 - Agreement contract PDF fixes + attributes filter fix
  packages/agreement-lifecycle/src/filters/attributesFilter.ts
  packages/agreement-lifecycle/src/index.ts
  packages/agreement-lifecycle/src/utils/verifiedAttributes.ts
  packages/agreement-process/package.json
  packages/agreement-process/src/resources/templates/documents/agreementContractTemplate.html
  packages/agreement-process/src/services/agreementContractBuilder.ts
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/agreementStatesFlows.test.ts
  packages/agreement-process/test/computeAgreementsState.test.ts
  packages/agreement-process/test/rejectAgreement.test.ts
  packages/agreement-process/test/submitAgreement.test.ts
  packages/agreement-process/test/upgradeAgreement.test.ts
  packages/agreement-process/test/verifiedAttributes.test.ts
  packages/commons/src/pdf-generator/pdfGenerator.ts
  packages/models/src/agreement/agreement.ts
  pnpm-lock.yaml
Labels: agreement-process

#1221 PIN-5737 - Implementing new agreement contract standard template
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/model/domain/errors.ts
  packages/agreement-process/src/resources/templates/documents/agreementContractTemplate.html
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementContractBuilder.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/agreementStatesFlows.test.ts
  packages/agreement-process/test/submitAgreement.test.ts
  packages/agreement-process/test/upgradeAgreement.test.ts
  packages/agreement-process/test/utils.ts
  packages/models/src/agreement/agreement.ts
Labels: agreement-process

#1193 PIN-5555 eservice delegateClientAccess
  collections/bff/catalog/Create a new EService.bru
  collections/bff/catalog/Update EService general information.bru
  packages/api-clients/open-api/apiGatewayApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/api-gateway/src/services/catalogService.ts
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
  packages/backend-for-frontend/src/model/types.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/utilities/fileUtils.ts
  packages/catalog-process/src/model/domain/apiConverter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/createEService.test.ts
  packages/catalog-process/test/getEserviceById.test.ts
  packages/catalog-process/test/getEservices.test.ts
  packages/catalog-process/test/updateEservice.test.ts
  packages/models/proto/v2/eservice/eservice.proto
  packages/models/src/eservice/eservice.ts
Labels: catalog-process, Incaricato

#1218 PIN 5558 - Get eservice descriptor
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
Labels: Incaricato

#1012 IMN-833: improve getLatestAgreement with findOne
  packages/authorization-updater/src/readModelService.ts
Labels: authorization-process

#1206 PIN-5682 - Reverting #1131 to fix JWKS timeout
  packages/agreement-process/src/app.ts
  packages/api-gateway/src/app.ts
  packages/attribute-registry-process/src/app.ts
  packages/authorization-process/src/app.ts
  packages/backend-for-frontend/src/app.ts
  packages/backend-for-frontend/src/routers/authorizationRouter.ts
  packages/backend-for-frontend/src/routers/supportRouter.ts
  packages/backend-for-frontend/src/services/authorizationService.ts
  packages/catalog-process/src/app.ts
  packages/commons/src/auth/authenticationMiddleware.ts
  packages/commons/src/auth/jwk.ts
  packages/commons/src/auth/jwt.ts
  packages/delegation-process/src/app.ts
  packages/purpose-process/src/app.ts
  packages/tenant-process/src/app.ts
Labels: bug

#1239 Disambiguate delegation validators
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/services/agreementActivationProcessor.ts
  packages/agreement-process/src/services/agreementContractBuilder.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementStampUtils.ts
  packages/agreement-process/src/services/agreementStateProcessor.ts
  packages/agreement-process/src/services/agreementSuspensionProcessor.ts
  packages/agreement-process/src/services/agreementUpgradeProcessor.ts
  packages/agreement-process/src/services/readModelService.ts
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/rejectAgreement.test.ts
  packages/agreement-process/test/suspendAgreement.test.ts
  packages/agreement-process/test/upgradeAgreement.test.ts
  packages/api-gateway/src/models/errors.ts
  packages/api-gateway/src/services/purposeService.ts
  packages/api-gateway/src/services/validators.ts
  packages/backend-for-frontend/src/services/validators.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/services/readModelService.ts
  packages/catalog-process/src/services/validators.ts
  packages/commons-test/src/testUtils.ts
  packages/models/proto/v2/agreement/agreement.proto
  packages/models/proto/v2/tenant/tenant.proto
  packages/models/src/agreement/agreement.ts
  packages/models/src/agreement/protobufConverterFromV2.ts
  packages/models/src/tenant/protobufConverterFromV2.ts
  packages/models/src/tenant/protobufConverterToV2.ts
  packages/models/src/tenant/tenant.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/readModelService.ts
  packages/purpose-process/src/services/validators.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/src/services/validators.ts
  packages/tenant-process/test/revokeVerifiedAttribute.test.ts
  packages/tenant-process/test/verifyVerifiedAttribute.test.ts
Labels: capofila

#1025 PIN-5317-Fix unexpected field in purpose-service
  packages/purpose-process/src/services/purposeService.ts
Labels: purpose-process

#985 PIN-4810 clear tenant mail address
  packages/tenant-process/src/model/domain/errors.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/test/addTenantMail.test.ts
Labels: tenant-process

#1026 PIN-5318 Fix suspended by consumer flag
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/activatePurposeVersion.test.ts
Labels: purpose-process

#1240 Added `requireCorrections` and `rejectionReasons` in bff catalog apis
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-process/src/model/domain/apiConverter.ts
Labels: bff, capofila
