Repository pagopa/interop-be-monorepo, pull requests merged in 2024-12, with the labels that each got.

#1227 PIN-5667 add tests for GET delegations
  packages/delegation-process/test/getDelegations.test.ts
Labels: delegation-process, Incaricato

#1246 Standardizing agreement requester validators
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/readModelService.ts
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/agreementConsumerDocuments.test.ts
  packages/agreement-process/test/rejectAgreement.test.ts
  packages/agreement-process/test/suspendAgreement.test.ts
Labels: capofila, agreement-process, Incaricato

#1244 Removing unused components in API specs
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/delegationApi.yml
  packages/api-clients/open-api/purposeApi.yml
Labels: small-activity

#1251 Fix missing resources in delegation process build
  packages/delegation-process/package.json
  pnpm-lock.yaml
Labels: delegation-process

#1252 Fix Delegation bff api parsing
  packages/backend-for-frontend/src/api/delegationApiConverter.ts
Labels: capofila

#1253 Fix BFF e-service producer assertions
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/services/validators.ts
Labels: capofila

#1238 PIN-5607: delegated consumer agreement creation
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/model/domain/errors.ts
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/readModelService.ts
  packages/agreement-process/src/utilities/errorMappers.ts
  packages/agreement-process/test/createAgreement.test.ts
  packages/agreement-process/test/utils.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/api-clients/open-api/bffApi.yml
Labels: agreement-process, Incaricato

#1224 Pin 5687: Verify tenant certified attributes for agreement creation
  collections/agreement/Verify Certified Attributes.bru
  collections/bff/agreements/Verify Certified Attributes.bru
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementUpgradeProcessor.ts
  packages/agreement-process/src/services/readModelService.ts
  packages/agreement-process/src/utilities/errorMappers.ts
  packages/agreement-process/test/verifyTenantCertifiedAttributes.test.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/agreementRouter.ts
  packages/backend-for-frontend/src/services/agreementService.ts
Labels: Incaricato

#1256 Fix delegation contract api zod parsing error
  packages/delegation-process/src/routers/DelegationRouter.ts
Labels: capofila

#1255 Add waiting for approval descriptors in BFF`draftDescriptors` property
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
Labels: bff, capofila

#1184 IMN-912 Refactor token generation states
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-platformstate-writer/src/utils.ts
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/agreement-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/agreement-platformstate-writer/test/utils.test.ts
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
  packages/authorization-server/src/model/domain/errors.ts
  packages/authorization-server/src/services/tokenService.ts
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/authorization-server/test/authorizationServer.unit.test.ts
  packages/backend-for-frontend/src/services/toolService.ts
  packages/catalog-platformstate-writer/src/utils.ts
  packages/catalog-platformstate-writer/test/consumerServiceV1.test.ts
  packages/catalog-platformstate-writer/test/consumerServiceV2.test.ts
  packages/catalog-platformstate-writer/test/utils.test.ts
  packages/client-assertion-validation/src/errors.ts
  packages/client-assertion-validation/src/utils.ts
  packages/client-assertion-validation/src/validation.ts
  packages/client-assertion-validation/test/utils.test.ts
  packages/client-assertion-validation/test/validation.test.ts
  packages/commons-test/src/testUtils.ts
  packages/commons-test/src/tokenGenerationReadmodelUtils.ts
  packages/models/src/brandedIds.ts
  packages/models/src/index.ts
  packages/models/src/token-generation-readmodel/commons.ts
  packages/models/src/token-generation-readmodel/platform-states-entry.ts
  packages/models/src/token-generation-readmodel/token-generation-states-entry.ts
  packages/purpose-platformstate-writer/src/consumerServiceV1.ts
  packages/purpose-platformstate-writer/src/consumerServiceV2.ts
  packages/purpose-platformstate-writer/src/utils.ts
  packages/purpose-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/purpose-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/purpose-platformstate-writer/test/utils.test.ts
  packages/purpose-platformstate-writer/test/utils.ts
Labels: authorization-server

#1257 Fix DynamoDB GSIs projection types
  docker/dynamo-db/schema/platform-states-dynamo-db.json
  docker/dynamo-db/schema/token-generation-states-dynamo-db.json
  packages/agreement-platformstate-writer/src/index.ts
  packages/agreement-platformstate-writer/src/utils.ts
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/agreement-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/agreement-platformstate-writer/test/utils.test.ts
  packages/agreement-platformstate-writer/test/utils.ts
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/index.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
  packages/authorization-platformstate-writer/test/utils.ts
  packages/authorization-server/src/routers/AuthorizationServerRouter.ts
  packages/catalog-platformstate-writer/src/utils.ts
  packages/catalog-platformstate-writer/test/consumerServiceV1.test.ts
  packages/catalog-platformstate-writer/test/consumerServiceV2.test.ts
  packages/catalog-platformstate-writer/test/utils.test.ts
  packages/catalog-platformstate-writer/test/utils.ts
  packages/commons-test/src/setupDynamoDBtables.ts
  packages/commons-test/src/tokenGenerationReadmodelUtils.ts
  packages/models/src/token-generation-readmodel/platform-states-entry.ts
  packages/models/src/token-generation-readmodel/token-generation-states-entry.ts
  packages/purpose-platformstate-writer/src/utils.ts
  packages/purpose-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/purpose-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/purpose-platformstate-writer/test/utils.test.ts
  packages/purpose-platformstate-writer/test/utils.ts
Labels: authorization-server

#1266 Fix delegated eservice agreement activation from suspension
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementStateProcessor.ts
Labels: capofila

#1262 Minor refactor on verifyVerifiedAttribute
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/readModelService.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/test/verifyVerifiedAttribute.test.ts
Labels: bug, tenant-process

#1234 PIN-5666 GET delegations by id tests
  packages/delegation-process/test/getDelegationById.test.ts
Labels: delegation-process, Incaricato

#1268 Fix authorization server's audience types and dates
  packages/authorization-server/src/services/tokenService.ts
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/commons/src/interop-token/interopTokenService.ts
  packages/commons/src/interop-token/models.ts
  packages/commons/src/utils/date.ts
Labels: authorization-server

#1233 IMN-521 Fix audience validation
  packages/authorization-server/src/config/config.ts
  packages/authorization-server/src/services/tokenService.ts
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/backend-for-frontend/src/config/config.ts
  packages/backend-for-frontend/src/services/toolService.ts
  packages/client-assertion-validation/.env
  packages/client-assertion-validation/src/config.ts
  packages/client-assertion-validation/src/errors.ts
  packages/client-assertion-validation/src/index.ts
  packages/client-assertion-validation/src/utils.ts
  packages/client-assertion-validation/src/validation.ts
  packages/client-assertion-validation/test/utils.ts
  packages/client-assertion-validation/test/validation.test.ts
  packages/commons/src/interop-token/interopTokenService.ts
  packages/commons/src/interop-token/models.ts
  packages/commons/src/utils/date.ts
Labels: authorization-server

#1260 Removing delegation info from state processors
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementStateProcessor.ts
  packages/agreement-process/src/services/agreementSuspensionProcessor.ts
  packages/agreement-process/test/upgradeAgreement.test.ts
Labels: capofila, agreement-process, Incaricato

#1264 Improve readability on createAgreement flow
  packages/agreement-process/src/model/domain/agreement-validators.ts
Labels: agreement-process, Incaricato

#1228 PIN-5664 Reject consumer delegation
  collections/delegation/consumer/Rejects a consumer delegation.bru
  packages/api-clients/open-api/delegationApi.yml
  packages/delegation-process/src/model/domain/toEvent.ts
  packages/delegation-process/src/routers/DelegationConsumerRouter.ts
  packages/delegation-process/src/services/delegationConsumerService.ts
  packages/delegation-process/test/rejectConsumerDelegation.test.ts
  packages/delegation-readmodel-writer/src/delegationConsumerServiceV2.ts
  packages/delegation-readmodel-writer/test/consumerServiceV2.test.ts
  packages/models/proto/v2/delegation/events.proto
  packages/models/src/delegation/delegationEvents.ts
Labels: delegation-process, Incaricato

#1245 PIN-5609 - Consumer delegate agreement operations
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/model/domain/models.ts
  packages/agreement-process/src/resources/templates/documents/agreementContractTemplate.html
  packages/agreement-process/src/services/agreementActivationProcessor.ts
  packages/agreement-process/src/services/agreementContractBuilder.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementStampUtils.ts
  packages/agreement-process/src/services/agreementStateProcessor.ts
  packages/agreement-process/src/services/agreementSubmissionProcessor.ts
  packages/agreement-process/src/services/agreementSuspensionProcessor.ts
  packages/agreement-process/src/services/agreementUpgradeProcessor.ts
  packages/agreement-process/src/services/readModelService.ts
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/cloneAgreement.test.ts
  packages/agreement-process/test/rejectAgreement.test.ts
  packages/agreement-process/test/submitAgreement.test.ts
  packages/agreement-process/test/suspendAgreement.test.ts
  packages/agreement-process/test/upgradeAgreement.test.ts
  packages/agreement-process/test/utils.ts
  packages/models/src/agreement/agreement.ts
Labels: agreement-process, Incaricato

#1254 [HOTFIX] PIN-5746 - In-Add Attributes
  packages/agreement-outbound-writer/package.json
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/authorization-updater/src/index.ts
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-outbound-writer/package.json
  packages/catalog-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/catalog-platformstate-writer/src/consumerServiceV2.ts
  packages/catalog-process/src/model/domain/errors.ts
  packages/catalog-process/src/model/domain/toEvent.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/utilities/errorMappers.ts
  packages/catalog-process/test/updateDescriptorAttributes.test.ts
  packages/catalog-readmodel-writer/src/consumerServiceV2.ts
  packages/models/proto/v2/eservice/events.proto
  packages/models/src/eservice/eserviceEvents.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationConverter.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationMessage.ts
  packages/purpose-outbound-writer/package.json
  packages/tenant-outbound-writer/package.json
  pnpm-lock.yaml
Labels: catalog-process, hotfix

#1269 PIN-5790 client-purpose-updater-consumer
  package.json
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/client-purpose-updater/.env
  packages/client-purpose-updater/Dockerfile
  packages/client-purpose-updater/package.json
  packages/client-purpose-updater/src/clientPurposeUpdaterConsumerServiceV2.ts
  packages/client-purpose-updater/src/clients/clientsProvider.ts
  packages/client-purpose-updater/src/config/config.ts
  packages/client-purpose-updater/src/index.ts
  packages/client-purpose-updater/tsconfig.check.json
  packages/client-purpose-updater/tsconfig.json
  pnpm-lock.yaml
Labels: hotfix

#1274 Fixing agreement service delegate operations validators
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/services/agreementContractBuilder.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementUpgradeProcessor.ts
  packages/agreement-process/src/services/readModelService.ts
Labels: agreement-process, Incaricato

#1208 IMN-915 Improve logging in authorization-server and platformstate-writers
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-platformstate-writer/src/index.ts
  packages/agreement-platformstate-writer/src/utils.ts
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/agreement-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/agreement-platformstate-writer/test/utils.test.ts
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/index.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
  packages/authorization-server/src/model/domain/errors.ts
  packages/authorization-server/src/routers/AuthorizationServerRouter.ts
  packages/authorization-server/src/services/tokenService.ts
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/client-assertion-validation/src/index.ts
  packages/models/src/errors.ts
  packages/purpose-platformstate-writer/src/consumerServiceV1.ts
  packages/purpose-platformstate-writer/src/consumerServiceV2.ts
  packages/purpose-platformstate-writer/src/index.ts
  packages/purpose-platformstate-writer/src/utils.ts
  packages/purpose-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/purpose-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/purpose-platformstate-writer/test/utils.test.ts
Labels: authorization-server

#1259 Pin-5689: unify delegation services
  packages/delegation-process/src/app.ts
  packages/delegation-process/src/routers/DelegationConsumerRouter.ts
  packages/delegation-process/src/routers/DelegationProducerRouter.ts
  packages/delegation-process/src/routers/DelegationRouter.ts
  packages/delegation-process/src/services/delegationConsumerService.ts
  packages/delegation-process/src/services/delegationProducerService.ts
  packages/delegation-process/src/services/delegationService.ts
  packages/delegation-process/test/approveConsumerDelegation.test.ts
  packages/delegation-process/test/approveProducerDelegation.test.ts
  packages/delegation-process/test/createConsumerDelegation.test.ts
  packages/delegation-process/test/createProducerDelegation.test.ts
  packages/delegation-process/test/rejectConsumerDelegation.test.ts
  packages/delegation-process/test/rejectProducerDelegation.test.ts
  packages/delegation-process/test/revokeConsumerDelegation.test.ts
  packages/delegation-process/test/revokeProducerDelegation.test.ts
  packages/delegation-process/test/utils.ts
Labels: delegation-process, Incaricato

#1281 PIN-5796 - Added missing e-service handling in enhance delegation bff function
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/api/delegationApiConverter.ts
  packages/backend-for-frontend/src/services/delegationService.ts
Labels: capofila, delegation-process

#1287 Fix for clientPurposeUpdater missing import
  packages/client-purpose-updater/Dockerfile
Labels: hotfix

#1270 PIN-5790 Test for clientPurposeUpdater consumer
  packages/client-purpose-updater/package.json
  packages/client-purpose-updater/test/clientPurposeUpdaterConsumerServiceV2.test.ts
  packages/client-purpose-updater/test/tsconfig.json
  packages/client-purpose-updater/test/vitestGlobalSetup.ts
  packages/client-purpose-updater/vitest.config.ts
Labels: hotfix

#1292 Fix `getEServices` visibility filter with producer delegation
  packages/catalog-process/src/services/readModelService.ts
  packages/catalog-process/test/getEservices.test.ts
Labels: catalog-process, capofila

#1283 Improve mockMessage type in tests
  packages/client-readmodel-writer/test/consumerServiceV1.test.ts
  packages/client-readmodel-writer/test/consumerServiceV2.test.ts
  packages/delegation-readmodel-writer/test/consumerServiceV2.test.ts
  packages/producer-keychain-readmodel-writer/test/consumerServiceV2.test.ts
  packages/tenant-readmodel-writer/test/consumerServiceV2.test.ts
Labels: improvement

#1249 PIN-5777 Add Descriptor Reject Reasons
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/utils.ts
  packages/commons-test/src/testUtils.ts
Labels: capofila

#1294 Added missing delegation param to agreement activation
  packages/agreement-process/src/services/agreementActivationProcessor.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementStampUtils.ts
  packages/agreement-process/test/activateAgreement.test.ts
Labels: bug, capofila

#1298 Event v1 for clientPurposeUpdater
  packages/client-purpose-updater/src/index.ts
  packages/client-purpose-updater/tsconfig.json
Labels: hotfix

#1297 Fixing tests after last merge from develop to feature/incaricato
  packages/delegation-process/test/approveConsumerDelegation.test.ts
  packages/delegation-process/test/revokeConsumerDelegation.test.ts
Labels: delegation-process, Incaricato

#1219 PIN 5608 - Confirm declared attributes
  package.json
  packages/agreement-process/src/model/domain/apiConverter.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/tenantApi.yml
  packages/backend-for-frontend/src/api/tenantApiConverter.ts
  packages/backend-for-frontend/src/services/tenantService.ts
  packages/compute-agreements-consumer/src/converters.ts
  packages/models/proto/v2/tenant/tenant.proto
  packages/models/src/tenant/protobufConverterFromV2.ts
  packages/models/src/tenant/protobufConverterToV2.ts
  packages/models/src/tenant/tenant.ts
  packages/tenant-process/src/model/domain/apiConverter.ts
  packages/tenant-process/src/model/domain/errors.ts
  packages/tenant-process/src/services/readModelService.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/src/utilities/errorMappers.ts
  packages/tenant-process/test/addDeclaredAttribute.test.ts
Labels: tenant-process, Incaricato

#1296 Minor fixes on BFF delegations
  collections/bff/delegation/consumer/Approve Consumer Delegation.bru
  collections/bff/delegation/consumer/Create Consumer Delegation.bru
  collections/bff/delegation/consumer/Reject Consumer Delegation.bru
  collections/bff/delegation/consumer/Revoke Consumer Delegation.bru
  collections/bff/delegation/producer/Approve Producer Delegation.bru
  collections/bff/delegation/producer/Create Producer Delegation.bru
  collections/bff/delegation/producer/Reject Producer Delegation.bru
  collections/bff/delegation/producer/Revoke Producer Delegation.bru
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/consumerDelegationRouter.ts
  packages/backend-for-frontend/src/routers/delegationRouter.ts
  packages/backend-for-frontend/src/routers/producerDelegationRouter.ts
  packages/backend-for-frontend/src/services/delegationService.ts
Labels: bff, Incaricato

#1277 PIN-5609 - activate consumer delegated agreement tests
  packages/agreement-process/src/services/agreementActivationProcessor.ts
  packages/agreement-process/src/services/agreementStampUtils.ts
  packages/agreement-process/src/services/agreementSuspensionProcessor.ts
  packages/agreement-process/test/activateAgreement.test.ts
Labels: agreement-process, Incaricato

#1300 Allow delegate attribute self verification
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/src/services/validators.ts
  packages/tenant-process/test/revokeVerifiedAttribute.test.ts
  packages/tenant-process/test/verifyVerifiedAttribute.test.ts
Labels: capofila

#1265 PIN-5612 agreement listing incaricato
  collections/bff/agreements/retrieves a list of agreements.bru
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/readModelService.ts
  packages/agreement-process/test/getAgreementEservices.test.ts
  packages/agreement-process/test/getAgreements.test.ts
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/services/agreementService.ts
Labels: agreement-process, Incaricato

#1275 PIN-5763 Add update agreement test on consumer delegate
  packages/agreement-process/test/updateAgreement.test.ts
Labels: agreement-process, Incaricato

#1307 PIN-5858 - Agreement creation conflict check fix
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/test/createAgreement.test.ts
Labels: agreement-process, Incaricato

#1308 IMN-787 Fix config in token-details-persister
  packages/commons/src/config/consumerServiceConfig.ts
  packages/kafka-iam-auth/src/index.ts
  packages/token-details-persister/src/config/config.ts
  packages/token-details-persister/src/index.ts
Labels: authorization-server

#1295 Pin 5814: get Consumer delegators
  collections/bff/delegation/consumer/getConsumerDelegators.bru
  collections/delegation/consumer/getConsumerDelegators.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/delegationApi.yml
  packages/backend-for-frontend/src/routers/consumerDelegationRouter.ts
  packages/backend-for-frontend/src/services/delegationService.ts
  packages/delegation-process/src/routers/DelegationRouter.ts
  packages/delegation-process/src/services/delegationService.ts
  packages/delegation-process/src/services/readModelService.ts
  packages/delegation-process/src/utilities/errorMappers.ts
  packages/delegation-process/test/createConsumerDelegation.test.ts
  packages/delegation-process/test/createProducerDelegation.test.ts
  packages/delegation-process/test/getConsumerDelegators.test.ts
  packages/delegation-process/test/utils.ts
Labels: bff, delegation-process, Incaricato

#1280 IMN-787 Fix token details persister
  docker/docker-compose.yml
  packages/commons/src/file-manager/fileManager.ts
  packages/token-details-persister/.env
Labels: authorization-server

#1311 Proposal refactoring GET agreements
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/readModelService.ts
  packages/agreement-process/test/getAgreementEservices.test.ts
  packages/agreement-process/test/getAgreements.test.ts
Labels: Incaricato

#1305 PIN-5754 Add delete agreement tests
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/deleteAgreement.test.ts
  packages/agreement-process/test/updateAgreement.test.ts
  packages/agreement-process/test/utils.ts
Labels: Incaricato

#1303 PIN-5609 - Agreement activation contract fixes for Incaricato
  packages/agreement-lifecycle/src/utils/verifiedAttributes.ts
  packages/agreement-process/src/model/domain/models.ts
  packages/agreement-process/src/resources/templates/documents/agreementContractTemplate.html
  packages/agreement-process/src/services/agreementContractBuilder.ts
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/submitAgreement.test.ts
  packages/agreement-process/test/upgradeAgreement.test.ts
Labels: agreement-process, Incaricato

#1304 PIN 5613 - retrieve agreement delegation changes
  packages/agreement-process/src/services/agreementService.ts
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/services/agreementService.ts
Labels: Incaricato

#1315 PIN-5743 - Adding tenant feature DelegatedConsumer to tenants filter
  collections/bff/tenants/get Tenants.bru
  collections/tenant/Tenants.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/tenantApi.yml
  packages/delegation-process/src/services/validators.ts
  packages/models/src/tenant/tenant.ts
  packages/tenant-process/src/model/domain/apiConverter.ts
  packages/tenant-process/src/utilities/errorMappers.ts
  packages/tenant-process/test/getTenants.test.ts
Labels: delegation-process, Incaricato

#1312 Pin 5762 suspend agreement test
  packages/agreement-process/test/suspendAgreement.test.ts
Labels: Incaricato

#1322 PIN-5875 - Fix Delegations pagination
  packages/delegation-process/src/routers/DelegationRouter.ts
  packages/delegation-process/src/services/delegationService.ts
  packages/delegation-process/src/services/readModelService.ts
  packages/delegation-process/test/getDelegations.test.ts
Labels: delegation-process

#1323 Pin 5764 - Upgrade agreement delegate tests
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/upgradeAgreement.test.ts
  packages/agreement-process/test/utils.ts
Labels: agreement-process, Incaricato

#1313 PIN-5756 Add archive agreement test
  packages/agreement-process/test/archiveAgreement.test.ts
Labels: Incaricato

#1314 PIN 5757 - Add clone agreement test on consumer delegate
  packages/agreement-process/test/cloneAgreement.test.ts
Labels: agreement-process, Incaricato

#1316 PIN 5758 - Add create agreement consumer document test
  packages/agreement-process/test/agreementConsumerDocuments.test.ts
Labels: agreement-process, Incaricato

#1317 PIN-5759 Get agreement documents test
  packages/agreement-process/test/agreementConsumerDocuments.test.ts
  packages/delegation-process/test/rejectConsumerDelegation.test.ts
  packages/delegation-process/test/rejectProducerDelegation.test.ts
Labels: agreement-process, Incaricato

#1321 PIN-5760 Delete agreement documents test
  packages/agreement-process/test/agreementConsumerDocuments.test.ts
Labels: agreement-process, Incaricato

#1318 PIN-5761 - Submit agreement delegate tests
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/submitAgreement.test.ts
Labels: agreement-process, Incaricato
