Repository pagopa/interop-be-monorepo, pull requests merged in 2024-09, with the labels that each got.

#931 PIN-5194 - Add second half of producer keychain bff paths business logics
  packages/bff/src/routers/producerKeychainRouter.ts
  packages/bff/src/services/producerKeychainService.ts
  packages/bff/src/utilities/errorMappers.ts
Labels: producer-keychain

#930 PIN-5193 - Add first half of producer keychain bff paths business logics
  packages/bff/src/model/api/apiConverter.ts
  packages/bff/src/routers/producerKeychainRouter.ts
  packages/bff/src/services/producerKeychainService.ts
  packages/bff/src/utilities/errorMappers.ts
Labels: producer-keychain

#893 PIN-5192 - Add scaffolding for producer keychain bff
  packages/api-clients/open-api/bffApi.yml
  packages/bff/src/app.ts
  packages/bff/src/model/api/apiConverter.ts
  packages/bff/src/providers/clientProvider.ts
  packages/bff/src/routers/producerKeychainRouter.ts
  packages/bff/src/services/producerKeychainService.ts
  packages/bff/src/utilities/errorMappers.ts
Labels: producer-keychain

#888 PIN-5096 - Add producer keychain readmodel writer
  packages/producer-keychain-readmodel-writer/.env
  packages/producer-keychain-readmodel-writer/Dockerfile
  packages/producer-keychain-readmodel-writer/kubernetes/dev/configmap.yaml
  packages/producer-keychain-readmodel-writer/kubernetes/dev/deployment.yaml
  packages/producer-keychain-readmodel-writer/kubernetes/dev/serviceAccount.yaml
  packages/producer-keychain-readmodel-writer/package.json
  packages/producer-keychain-readmodel-writer/src/config/config.ts
  packages/producer-keychain-readmodel-writer/src/index.ts
  packages/producer-keychain-readmodel-writer/src/producerKeychainConsumerServiceV2.ts
  packages/producer-keychain-readmodel-writer/test/consumerServiceV2.test.ts
  packages/producer-keychain-readmodel-writer/test/tsconfig.json
  packages/producer-keychain-readmodel-writer/test/utils.ts
  packages/producer-keychain-readmodel-writer/test/vitestGlobalSetup.ts
  packages/producer-keychain-readmodel-writer/tsconfig.check.json
  packages/producer-keychain-readmodel-writer/tsconfig.json
  packages/producer-keychain-readmodel-writer/vitest.config.ts
  pnpm-lock.yaml
Labels: producer-keychain

#876 PIN-5189 - DELETE /producerKeychains/{producerKeychainId}/eservices/{eserviceId}
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
Labels: producer-keychain

#875 PIN-5188 - POST /producerKeychains/:producerKeychainId/eservices
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
Labels: producer-keychain

#872 PIN-5187 - GET /producerKeychains/:producerKeychainId/keys/:keyId
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
Labels: producer-keychain

#871 PIN-5186 - GET /producerKeychains/:producerKeychainId/keys
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
Labels: producer-keychain

#869 PIN-5185 - DELETE /producerKeychains/:producerKeychainId/keys/:keyId
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/getClientKeyById.test.ts
  packages/authorization-process/test/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/removeClientKeyById.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/removeProducerKeychainKeyById.test.ts
Labels: producer-keychain

#866 PIN-5184 - POST /producerKeychains/:producerKeychainId/keys
  packages/authorization-process/.env
  packages/authorization-process/src/config/config.ts
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/readModelService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/createProducerKeychainKey.test.ts
  packages/authorization-process/test/getClientKeyById.test.ts
  packages/authorization-process/test/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/removeClientKeyById.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/removeProducerKeychainKeyById.test.ts
Labels: producer-keychain

#874 PIN-5183 - DELETE /producerKeychains/{producerKeychainId}/users/{userId}
  packages/authorization-process/.env
  packages/authorization-process/src/config/config.ts
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/readModelService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/createProducerKeychainKey.test.ts
  packages/authorization-process/test/getClientKeyById.test.ts
  packages/authorization-process/test/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/removeClientKeyById.test.ts
  packages/authorization-process/test/removeClientUser.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/removeProducerKeychainKeyById.test.ts
  packages/authorization-process/test/removeProducerKeychainUser.test.ts
Labels: producer-keychain

#870 PIN-5182 - POST /producerKeychains/{producerKeychainId}/users/{userId}
  packages/authorization-process/.env
  packages/authorization-process/src/config/config.ts
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/readModelService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addClientUser.test.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/addProducerKeychainUser.test.ts
  packages/authorization-process/test/createProducerKeychainKey.test.ts
  packages/authorization-process/test/getClientKeyById.test.ts
  packages/authorization-process/test/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/removeClientKeyById.test.ts
  packages/authorization-process/test/removeClientUser.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/removeProducerKeychainKeyById.test.ts
  packages/authorization-process/test/removeProducerKeychainUser.test.ts
Labels: producer-keychain

#864 PIN-5181 - GET /producerKeychains/{producerKeychainId}/users
  packages/authorization-process/.env
  packages/authorization-process/src/config/config.ts
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/readModelService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addClientUser.test.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/addProducerKeychainUser.test.ts
  packages/authorization-process/test/createProducerKeychainKey.test.ts
  packages/authorization-process/test/getClientKeyById.test.ts
  packages/authorization-process/test/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/getProducerKeychainUsers.test.ts
  packages/authorization-process/test/removeClientKeyById.test.ts
  packages/authorization-process/test/removeClientUser.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/removeProducerKeychainKeyById.test.ts
  packages/authorization-process/test/removeProducerKeychainUser.test.ts
Labels: producer-keychain

#863 PIN-5180 - GET /producerKeychains/{producerKeychainId}
  packages/authorization-process/.env
  packages/authorization-process/src/config/config.ts
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/readModelService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addClientUser.test.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/addProducerKeychainUser.test.ts
  packages/authorization-process/test/createProducerKeychainKey.test.ts
  packages/authorization-process/test/getClientKeyById.test.ts
  packages/authorization-process/test/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/getProducerKeychainById.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/getProducerKeychainUsers.test.ts
  packages/authorization-process/test/removeClientKeyById.test.ts
  packages/authorization-process/test/removeClientUser.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/removeProducerKeychainKeyById.test.ts
  packages/authorization-process/test/removeProducerKeychainUser.test.ts
Labels: producer-keychain

#857 PIN-5177 - DELETE /producerKeychains/{producerKeychainId}
  packages/authorization-process/.env
  packages/authorization-process/src/config/config.ts
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/readModelService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addClientUser.test.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/addProducerKeychainUser.test.ts
  packages/authorization-process/test/createProducerKeychainKey.test.ts
  packages/authorization-process/test/deleteProducerKeychain.test.ts
  packages/authorization-process/test/getClientKeyById.test.ts
  packages/authorization-process/test/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/getProducerKeychainById.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/getProducerKeychainUsers.test.ts
  packages/authorization-process/test/removeClientKeyById.test.ts
  packages/authorization-process/test/removeClientUser.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/removeProducerKeychainKeyById.test.ts
  packages/authorization-process/test/removeProducerKeychainUser.test.ts
  packages/authorization-process/test/utils.ts
Labels: producer-keychain

#856 PIN-5176 - GET /producerKeychains
  packages/authorization-process/.env
  packages/authorization-process/src/config/config.ts
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/readModelService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addClientUser.test.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/addProducerKeychainUser.test.ts
  packages/authorization-process/test/createProducerKeychainKey.test.ts
  packages/authorization-process/test/deleteProducerKeychain.test.ts
  packages/authorization-process/test/getClientKeyById.test.ts
  packages/authorization-process/test/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/getProducerKeychainById.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/getProducerKeychainUsers.test.ts
  packages/authorization-process/test/getProducerKeychains.test.ts
  packages/authorization-process/test/removeClientKeyById.test.ts
  packages/authorization-process/test/removeClientUser.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/removeProducerKeychainKeyById.test.ts
  packages/authorization-process/test/removeProducerKeychainUser.test.ts
  packages/authorization-process/test/utils.ts
Labels: producer-keychain

#853 PIN-5172 - POST /producerKeychains
  packages/authorization-process/.env
  packages/authorization-process/src/config/config.ts
  packages/authorization-process/src/model/domain/apiConverter.ts
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/readModelService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addClientUser.test.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/addProducerKeychainUser.test.ts
  packages/authorization-process/test/createProducerKeychain.test.ts
  packages/authorization-process/test/createProducerKeychainKey.test.ts
  packages/authorization-process/test/deleteProducerKeychain.test.ts
  packages/authorization-process/test/getClientKeyById.test.ts
  packages/authorization-process/test/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/getProducerKeychainById.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/getProducerKeychainUsers.test.ts
  packages/authorization-process/test/getProducerKeychains.test.ts
  packages/authorization-process/test/removeClientKeyById.test.ts
  packages/authorization-process/test/removeClientUser.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/removeProducerKeychainKeyById.test.ts
  packages/authorization-process/test/removeProducerKeychainUser.test.ts
  packages/authorization-process/test/utils.ts
Labels: producer-keychain

#897 IMN 607 - BFF Tenant router - Pt1
  packages/bff/src/app.ts
  packages/bff/src/model/api/tenantApiConverter.ts
  packages/bff/src/providers/clientProvider.ts
  packages/bff/src/routers/tenantRouter.ts
  packages/bff/src/services/tenantService.ts
Labels: bff-tenant

#862 IMN 606 - BFF purpose router 4
  packages/bff/src/routers/purposeRouter.ts
  packages/bff/src/services/purposeService.ts
  packages/bff/src/utilities/errorMappers.ts
Labels: bff

#933 IMN 607 - BFF Tenant router - Pt2
  packages/bff/src/model/api/tenantApiConverter.ts
  packages/bff/src/routers/tenantRouter.ts
  packages/bff/src/services/attributeService.ts
  packages/bff/src/services/tenantService.ts
  packages/commons/src/utils/arrays.ts
Labels: bff-tenant

#934 IMN-607 - BFF Tenant router - Pt3
  packages/bff/src/routers/tenantRouter.ts
  packages/bff/src/services/tenantService.ts
Labels: bff-tenant

#935 IMN-607 - BFF Tenant router - Pt4
  packages/bff/src/model/api/tenantApiConverter.ts
  packages/bff/src/providers/clientProvider.ts
  packages/bff/src/routers/tenantRouter.ts
  packages/bff/src/services/tenantService.ts
Labels: bff-tenant

#951 Hotfix: fix wrong argument in getClientWithKeys
  packages/bff/src/services/clientService.ts
Labels: bff

#828 IMN-683 IMN-684 IMN-689 IMN-703 - BFF Agreement enhanceAgreement
  packages/bff/src/app.ts
  packages/bff/src/model/api/apiConverter.ts
  packages/bff/src/model/domain/errors.ts
  packages/bff/src/routers/agreementRouter.ts
  packages/bff/src/services/agreementService.ts
  packages/bff/src/services/attributeService.ts
  packages/bff/src/services/tenantService.ts
  packages/bff/src/utilities/errorMappers.ts
Labels: bff, bff-agreement

#919 IMN-669 IMN-671
  packages/bff/.env
  packages/bff/src/model/domain/errors.ts
  packages/bff/src/routers/catalogRouter.ts
  packages/bff/src/services/catalogService.ts
Labels: bff, catalog

#917 IMN-661 IMN-662 IMN-663 eservice descriptor
  packages/bff/src/model/domain/errors.ts
  packages/bff/src/routers/catalogRouter.ts
  packages/bff/src/services/catalogService.ts
Labels: bff, catalog

#955 IMN-682 - Configuring axios interceptors to log responses and errors
  packages/api-clients/generate.ts
  packages/api-clients/src/axiosLogInterceptors.ts
  packages/api-clients/src/selfcareClients.ts
  packages/api-clients/template-bff.hbs
  packages/api-clients/template.hbs
Labels: bff

#918 IMN-670 get eservice descriptor document
  packages/api-clients/template-bff.hbs
  packages/bff/.env
  packages/bff/src/config/config.ts
  packages/bff/src/routers/catalogRouter.ts
  packages/bff/src/services/catalogService.ts
  packages/commons/src/file-manager/utils.ts
Labels: bff, catalog

#924 IMN-605 Authorization router - /support
  packages/bff/.env
  packages/bff/src/config/config.ts
  packages/bff/src/model/domain/errors.ts
  packages/bff/src/model/types.ts
  packages/bff/src/routers/authorizationRouter.ts
  packages/bff/src/services/authorizationService.ts
  packages/bff/src/utilities/samlValidator.ts
  packages/commons/src/interop-token/interopTokenService.ts
  packages/commons/src/interop-token/models.ts
  pnpm-lock.yaml
Labels: bff, authorization

#830 IMN-685 IMN-686 IMN-687 IMN-688 - BFF Agreement routes pt.1
  packages/bff/src/model/api/apiConverter.ts
  packages/bff/src/services/agreementService.ts
  packages/commons/src/index.ts
Labels: bff, bff-agreement

#860 IMN-697 to IMN-702 - Agreement routes pt.3
  packages/bff/src/routers/agreementRouter.ts
  packages/bff/src/services/agreementService.ts
Labels: bff, bff-agreement

#904 IMN-744 - API Gateway - GET Agreement Attributes
  packages/api-gateway/.env
  packages/api-gateway/src/api/attributesApiConverter.ts
  packages/api-gateway/src/api/tenantApiConverter.ts
  packages/api-gateway/src/clients/clientsProvider.ts
  packages/api-gateway/src/config/config.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/agreementService.ts
  packages/bff/src/services/agreementService.ts
  packages/bff/src/services/purposeService.ts
  packages/commons/src/utils/arrays.ts
  packages/tenant-process/.env
Labels: api-gateway

#905 IMN-745 - API Gateway - GET Agreement Purposes
  packages/api-clients/src/apiGatewayApi.ts
  packages/api-clients/src/index.ts
  packages/api-clients/src/purposeApi.ts
  packages/api-gateway/.env
  packages/api-gateway/src/api/purposeApiConverter.ts
  packages/api-gateway/src/clients/clientsProvider.ts
  packages/api-gateway/src/config/config.ts
  packages/api-gateway/src/models/errors.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/agreementService.ts
  packages/api-gateway/src/services/validators.ts
  packages/purpose-process/.env
Labels: api-gateway

#925 IMN-644 Add support router
  packages/bff/.env
  packages/bff/src/app.ts
  packages/bff/src/config/config.ts
  packages/bff/src/routers/authorizationRouter.ts
  packages/bff/src/routers/genericRouter.ts
  packages/bff/src/routers/supportRouter.ts
  packages/bff/src/routers/toolRouter.ts
  packages/bff/src/services/authorizationService.ts
Labels: bff, support

#885 IMN-659 IMN-673 IMN-674 eservice
  packages/bff/src/model/api/apiConverter.ts
  packages/bff/src/routers/catalogRouter.ts
  packages/bff/src/services/catalogService.ts
Labels: bff, catalog

#950 IMN-693 IMN-694 IMN-695 IMN-696 - Agreement routes pt.4
  packages/api-clients/template-bff.hbs
  packages/bff/.env
  packages/bff/src/app.ts
  packages/bff/src/config/config.ts
  packages/bff/src/model/domain/errors.ts
  packages/bff/src/routers/agreementRouter.ts
  packages/bff/src/services/agreementService.ts
  packages/bff/src/services/purposeService.ts
  packages/bff/src/utilities/errorMappers.ts
  packages/bff/src/utilities/mimeTypes.ts
Labels: bff, bff-agreement

#882 IMN-738 Export eservices descriptors
  packages/agreement-process/src/services/agreementContractBuilder.ts
  packages/agreement-process/test/agreementConsumerDocuments.test.ts
  packages/agreement-process/test/utils.ts
  packages/bff/.env
  packages/bff/package.json
  packages/bff/src/config/config.ts
  packages/bff/src/model/api/apiConverter.ts
  packages/bff/src/model/api/converters/catalogClientApiConverter.ts
  packages/bff/src/model/domain/errors.ts
  packages/bff/src/model/validators.ts
  packages/bff/src/routers/catalogRouter.ts
  packages/bff/src/routers/clientRouter.ts
  packages/bff/src/routers/producerKeychainRouter.ts
  packages/bff/src/services/agreementService.ts
  packages/bff/src/services/catalogService.ts
  packages/bff/src/services/clientService.ts
  packages/bff/src/services/producerKeychainService.ts
  packages/bff/src/utilities/eserviceDocumentUtils.ts
  packages/bff/src/utilities/fileutils.ts
  packages/catalog-process/test/cloneDescriptor.test.ts
  packages/catalog-process/test/deleteDocument.test.ts
  packages/catalog-process/test/deleteDraftDescriptor.test.ts
  packages/catalog-process/test/deleteEservice.test.ts
  packages/catalog-process/test/updateEservice.test.ts
  packages/commons-test/test/fileManager.integration.test.ts
  packages/commons/package.json
  packages/commons/src/file-manager/fileManager.ts
  packages/purpose-process/src/services/riskAnalysisDocumentBuilder.ts
  pnpm-lock.yaml
Labels: bff, catalog

#910 IMN-740 get import presigned url
  packages/bff/.env
  packages/bff/src/config/config.ts
  packages/bff/src/routers/catalogRouter.ts
  packages/bff/src/services/catalogService.ts
  packages/commons/src/file-manager/fileManager.ts
Labels: bff, catalog

#965 IMN-805 - Fixing latest tenant mail retrieval
  packages/agreement-email-sender/src/services/agreementEmailSenderService.ts
  packages/bff/src/model/api/converters/catalogClientApiConverter.ts
  packages/bff/src/model/api/tenantApiConverter.ts
  packages/bff/src/model/modelMappingUtils.ts
  packages/bff/src/services/agreementService.ts
  packages/commons/src/index.ts
  packages/commons/src/utils/tenantMails.ts
Labels: bff

#827 IMN-610 - BFF Privacy Notice
  .gitignore
  docker/docker-compose.yml
  docker/dynamo-db/dynamo-migrations.sh
  docker/dynamo-db/schema/privacy-notice-acceptances-dynamo-db.json
  docker/dynamo-db/schema/privacy-notice-dynamo-db.json
  docker/dynamo-db/seed/privacy-notice-acceptances-seed.json
  docker/dynamo-db/seed/privacy-notice-seed.json
  packages/agreement-process/aws.config.local
  packages/authorization-updater/aws.config.local
  packages/bff/.env
  packages/bff/aws.config.local
  packages/bff/package.json
  packages/bff/src/app.ts
  packages/bff/src/config/config.ts
  packages/bff/src/model/domain/errors.ts
  packages/bff/src/model/domain/types.ts
  packages/bff/src/routers/privacyNoticeRouter.ts
  packages/bff/src/services/privacyNoticeService.ts
  packages/bff/src/services/privacyNoticeStorage.ts
  packages/bff/src/utilities/errorMappers.ts
  packages/catalog-process/aws.config.local
  packages/commons-test/aws.config.local
  packages/commons-test/src/containerTestUtils.ts
  packages/compute-agreements-consumer/aws.config.local
  packages/eservice-descriptors-archiver/aws.config.local
  packages/notifier-seeder/aws.config.local
  packages/purpose-process/aws.config.local
  pnpm-lock.yaml
Labels: bff, privacy-notices

#957 Added `getEncodedProducerKeychainKeyById` in bff producer keychain router
  packages/api-clients/open-api/bffApi.yml
  packages/bff/src/routers/producerKeychainRouter.ts
  packages/bff/src/services/producerKeychainService.ts
Labels: producer-keychain

#940 IMN-739 import eservices
  packages/bff/.env
  packages/bff/package.json
  packages/bff/src/config/config.ts
  packages/bff/src/model/api/apiTypes.ts
  packages/bff/src/model/api/converters/catalogClientApiConverter.ts
  packages/bff/src/model/domain/errors.ts
  packages/bff/src/routers/catalogRouter.ts
  packages/bff/src/services/catalogService.ts
  packages/bff/src/utilities/eserviceDocumentUtils.ts
  packages/bff/src/utilities/fileUtils.ts
  packages/commons/src/index.ts
  packages/commons/src/utils/apiUtils.ts
  pnpm-lock.yaml
Labels: bff, catalog

#980 Added check to prevent upload of certificates
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/createKeys.test.ts
  packages/commons/src/auth/jwk.ts
  packages/models/src/errors.ts
Labels: authorization

#979 Fixing descriptorId parameter bug in catalog service BFF
  packages/bff/src/routers/catalogRouter.ts
  packages/bff/src/services/catalogService.ts
Labels: bff

#974 IMN-808 - Refactoring code structure of API converters in BFF
  packages/bff/src/api/agreementApiConverter.ts
  packages/bff/src/api/attributeApiConverter.ts
  packages/bff/src/api/authorizationApiConverter.ts
  packages/bff/src/api/catalogApiConverter.ts
  packages/bff/src/api/selfcareApiConverter.ts
  packages/bff/src/api/tenantApiConverter.ts
  packages/bff/src/app.ts
  packages/bff/src/clients/clientsProvider.ts
  packages/bff/src/model/api/apiTypes.ts
  packages/bff/src/model/api/converters/tenantClientApiConverters.ts
  packages/bff/src/model/domain/types.ts
  packages/bff/src/model/errors.ts
  packages/bff/src/model/modelMappingUtils.ts
  packages/bff/src/model/types.ts
  packages/bff/src/routers/agreementRouter.ts
  packages/bff/src/routers/attributeRouter.ts
  packages/bff/src/routers/authorizationRouter.ts
  packages/bff/src/routers/catalogRouter.ts
  packages/bff/src/routers/clientRouter.ts
  packages/bff/src/routers/privacyNoticeRouter.ts
  packages/bff/src/routers/producerKeychainRouter.ts
  packages/bff/src/routers/purposeRouter.ts
  packages/bff/src/routers/selfcareRouter.ts
  packages/bff/src/routers/supportRouter.ts
  packages/bff/src/routers/tenantRouter.ts
  packages/bff/src/services/agreementService.ts
  packages/bff/src/services/attributeService.ts
  packages/bff/src/services/authorizationService.ts
  packages/bff/src/services/bffService.ts
  packages/bff/src/services/catalogService.ts
  packages/bff/src/services/clientService.ts
  packages/bff/src/services/privacyNoticeService.ts
  packages/bff/src/services/privacyNoticeStorage.ts
  packages/bff/src/services/producerKeychainService.ts
  packages/bff/src/services/purposeService.ts
  packages/bff/src/services/selfcareService.ts
  packages/bff/src/services/tenantService.ts
  packages/bff/src/services/validators.ts
  packages/bff/src/utilities/errorMappers.ts
  packages/bff/src/utilities/eserviceDocumentUtils.ts
  packages/bff/src/utilities/fileUtils.ts
  packages/bff/src/utilities/samlValidator.ts
Labels: bff

#978 IMN-816 - Adding missing routes
  packages/bff/src/routers/agreementRouter.ts
  packages/bff/src/services/agreementService.ts
Labels: bff

#981 IMN-772 - Align logging in BFF
  packages/bff/src/routers/agreementRouter.ts
  packages/bff/src/routers/catalogRouter.ts
  packages/bff/src/routers/producerKeychainRouter.ts
  packages/bff/src/routers/selfcareRouter.ts
  packages/bff/src/services/agreementService.ts
  packages/bff/src/services/catalogService.ts
  packages/bff/src/services/selfcareService.ts
  packages/bff/src/services/tenantService.ts
Labels: bff

#975 IMN-813 - Fixing BFF containers env vars
  packages/bff/.env
  packages/bff/src/config/config.ts
  packages/bff/src/services/catalogService.ts
  packages/bff/src/services/purposeService.ts
  packages/bff/src/utilities/eserviceDocumentUtils.ts
Labels: bff

#906 IMN-763 + IMN-764 - API Gateway GET Purpose + GET Purposes
  packages/api-gateway/.env
  packages/api-gateway/src/clients/clientsProvider.ts
  packages/api-gateway/src/config/config.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/agreementService.ts
  packages/api-gateway/src/services/purposeService.ts
  packages/api-gateway/src/services/validators.ts
  packages/api-gateway/src/utilities/errorMappers.ts
  packages/catalog-process/.env
Labels: api-gateway

#907 IMN-765 - API Gateway - GET Purpose Agreement
  packages/api-gateway/src/models/errors.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/agreementService.ts
  packages/api-gateway/src/services/purposeService.ts
  packages/api-gateway/src/services/validators.ts
  packages/api-gateway/src/utilities/errorMappers.ts
Labels: api-gateway

#908 IMN-753 + IMN-754 - API Gateway Eservice routes
  packages/api-clients/src/apiGatewayApi.ts
  packages/api-clients/src/catalogApi.ts
  packages/api-gateway/.env
  packages/api-gateway/src/api/catalogApiConverter.ts
  packages/api-gateway/src/api/tenantApiConverter.ts
  packages/api-gateway/src/clients/clientsProvider.ts
  packages/api-gateway/src/config/config.ts
  packages/api-gateway/src/models/errors.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/agreementService.ts
  packages/api-gateway/src/services/attributeService.ts
  packages/api-gateway/src/services/catalogService.ts
  packages/api-gateway/src/services/purposeService.ts
  packages/api-gateway/src/services/tenantService.ts
  packages/api-gateway/src/services/validators.ts
  packages/api-gateway/src/utilities/errorMappers.ts
  packages/attribute-registry-process/.env
  packages/bff/src/api/catalogApiConverter.ts
  packages/bff/src/services/catalogService.ts
Labels: api-gateway

#911 IMN-755 + IMN-756 - Api Gateway Descriptor routes
  packages/api-gateway/src/api/catalogApiConverter.ts
  packages/api-gateway/src/models/errors.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/catalogService.ts
  packages/api-gateway/src/utilities/errorMappers.ts
Labels: api-gateway

#915 IMN-750 - API Gateway Auth - GET Client
  packages/api-gateway/.env
  packages/api-gateway/src/api/authorizationApiConverter.ts
  packages/api-gateway/src/clients/clientsProvider.ts
  packages/api-gateway/src/config/config.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/authorizationService.ts
  packages/api-gateway/src/utilities/errorMappers.ts
  packages/authorization-process/.env
Labels: api-gateway

#927 IMN-751 - API Gateway getJWK
  packages/api-gateway/.env
  packages/api-gateway/src/config/config.ts
  packages/api-gateway/src/models/errors.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/authorizationService.ts
  packages/api-gateway/src/services/readModelService.ts
  packages/api-gateway/src/utilities/errorMappers.ts
Labels: api-gateway

#913 IMN-747 + IMN-748 - Api Gateway Attribute routes
  packages/api-gateway/src/api/attributeApiConverter.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/agreementService.ts
  packages/api-gateway/src/services/attributeService.ts
  packages/attribute-registry-process/src/utilities/errorMappers.ts
Labels: api-gateway

#926 IMN-757 - Api Gateway Notifier Events
  docker/local-kms-seed/jwks.json
  packages/api-clients/open-api/apiGatewayApi.yml
  packages/api-clients/open-api/notifierApi.yml
  packages/api-clients/src/index.ts
  packages/api-gateway/.env
  packages/api-gateway/src/clients/clientsProvider.ts
  packages/api-gateway/src/config/config.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/notifierEventsService.ts
Labels: api-gateway

#988 PIN-5288 & PIN-5297: added support for SCP and PVT
  packages/selfcare-onboarding-consumer/src/model/institutionEvent.ts
  packages/selfcare-onboarding-consumer/src/services/selfcareOnboardingProcessor.ts
  packages/selfcare-onboarding-consumer/test/selfcareOnboardingProcessor.test.ts
  packages/selfcare-onboarding-consumer/test/utils.ts
Labels: interop-be-reports

#992 IMN-783 - Adding correlationId to selfcare client logs
  packages/agreement-process/src/services/agreementContractBuilder.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/bff/src/routers/selfcareRouter.ts
  packages/bff/src/services/clientService.ts
  packages/bff/src/services/producerKeychainService.ts
  packages/bff/src/services/selfcareService.ts
  packages/bff/src/services/tenantService.ts
Labels: bff, selfcare

#1035 IMN-849: fix various BFF mappers
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
  packages/backend-for-frontend/src/utilities/eserviceDocumentUtils.ts
Labels: bff
