Repository pagopa/interop-be-monorepo, pull requests merged in 2025-08, with the labels that each got.

#2211 Added metadata to getEServiceById
  packages/api-clients/open-api/catalogApi.yml
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/api/getEserviceById.test.ts
  packages/catalog-process/test/integration/getEserviceById.test.ts
Labels: api-v2

#2236 Analytics - Added deleted_at relationship on client_key_deleting_table
  packages/domains-analytics-writer/src/index.ts
  packages/domains-analytics-writer/src/service/setupDbService.ts
  packages/domains-analytics-writer/test/utils.ts
Labels: kpi

#2243 Analytics - Changed order execution and partial table implementation
  packages/domains-analytics-writer/src/handlers/catalog/consumerServiceV1.ts
  packages/domains-analytics-writer/src/index.ts
  packages/domains-analytics-writer/src/model/db/authorization.ts
  packages/domains-analytics-writer/src/model/db/index.ts
  packages/domains-analytics-writer/src/repository/client/clientKey.repository.ts
  packages/domains-analytics-writer/test/utils.ts
Labels: kpi

#2220 PIN-7361 - Fix invalid `serverUrls` for read operations
  packages/api-clients/open-api/bffApi.yml
Labels: hotfix

#2235 PIN-7363 - Add min/max to `dailyCalls`
  packages/api-clients/open-api/apiGatewayApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/open-api/purposeApi.yml
  packages/backend-for-frontend/test/mockUtils.ts
  packages/commons-test/src/apiMocks.ts
Labels: hotfix

#2242 PIN-7267 - PIN-7268 - APIV2 upload and delete e-service descriptor interface
  collections/m2m gateway/eservices/Delete e-service descriptor interface.bru
  collections/m2m gateway/eservices/Upload e-service descriptor interface.bru
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/catalog-process/src/utilities/errorMappers.ts
  packages/catalog-process/test/api/uploadDocument.test.ts
  packages/commons-test/src/apiMocks.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/eservices/deleteEServiceDescriptorInterface.test.ts
  packages/m2m-gateway/test/api/eservices/uploadEServiceDescriptorInterface.test.ts
  packages/m2m-gateway/test/integration/eservices/deleteEServiceDescriptorInterface.test.ts
  packages/m2m-gateway/test/integration/eservices/uploadEServiceDescriptorInterface.test.ts
Labels: api-v2

#2245 PIN-7378 - Add mapping for checksumDuplicate error in e-service template document upload
  packages/eservice-template-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/api/createEServiceTemplateDocument.test.ts
  packages/eservice-template-process/test/integration/uploadDocument.test.ts
Labels: hotfix

#2164 PIN-7256 - APIV2 POST /eservices/{eserviceId}/descriptors/{descriptorId}/suspend
  collections/m2m gateway/eservices/Suspend Descriptor.bru
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/api/suspendDescriptor.test.ts
  packages/catalog-process/test/integration/suspendDescriptor.test.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/test/api/eservices/suspendDescriptor.test.ts
  packages/m2m-gateway/test/integration/eservices/suspendDescriptor.test.ts
Labels: api-v2

#2184 PIN-7257 - APIV2 POST /eservices/{eserviceId}/descriptors/{descriptorId}/unsuspend
  collections/m2m gateway/eservices/Unsuspend Descriptor.bru
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/api/activateDescriptor.test.ts
  packages/catalog-process/test/integration/activateDescriptor.test.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/test/api/eservices/unsuspendDescriptor.test.ts
  packages/m2m-gateway/test/integration/eservices/unsuspendDescriptor.test.ts
Labels: api-v2

#2187 PIN-7258 - APIV2 POST /eservices/{eserviceId}/descriptors/{descriptorId}/publish
  collections/m2m gateway/eservices/Publish Descriptor.bru
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/api/publishDescriptor.test.ts
  packages/catalog-process/test/integration/publishDescriptor.test.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/test/api/eservices/publishDescriptor.test.ts
  packages/m2m-gateway/test/integration/eservices/publishDescriptor.test.ts
Labels: api-v2

#2189 PIN-7259 - APIV2 POST /eservices/{eserviceId}/descriptors/{descriptorId}/approve
  collections/m2m gateway/eservices/Approve Descriptor.bru
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/api/approveDelegatedEServiceDescriptor.test.ts
  packages/catalog-process/test/integration/approveDelegatedEServiceDescriptor.test.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/test/api/eservices/approveDelegatedEServiceDescriptor.test.ts
  packages/m2m-gateway/test/integration/eservices/approveDelegatedEServiceDescriptor.test.ts
Labels: api-v2

#2246 M2M - reorganize validators in the right files
  packages/m2m-gateway/src/api/clientApiConverter.ts
  packages/m2m-gateway/src/services/clientService.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/polling.ts
  packages/m2m-gateway/src/utils/validators/clientValidators.ts
  packages/m2m-gateway/src/utils/validators/delegationValidators.ts
  packages/m2m-gateway/src/utils/validators/metadataValidators.ts
  packages/m2m-gateway/src/utils/validators/validators.ts
Labels: api-v2

#2191 PIN-7328 - Refactor producer keychain API models and visibility in auth process
  collections/authorization/Get Producer Keychain Keys.bru
  collections/bff/producerKeychains/Get producer keychain keys.bru
  package.json
  packages/api-clients/open-api/authorizationApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/src/authorizationApi.ts
  packages/authorization-process/src/model/domain/apiConverter.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/readModelServiceSQL.ts
  packages/authorization-process/test/api/addProducerKeychainUsers.test.ts
  packages/authorization-process/test/api/createProducerKeychain.test.ts
  packages/authorization-process/test/api/getProducerKeychainById.test.ts
  packages/authorization-process/test/api/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/api/getProducerKeychains.test.ts
  packages/authorization-process/test/apiUtils.ts
  packages/authorization-process/test/integration/createProducerKeychain.test.ts
  packages/authorization-process/test/integration/getProducerKeychainById.test.ts
  packages/authorization-process/test/integration/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/integration/getProducerKeychains.test.ts
  packages/backend-for-frontend/src/api/authorizationApiConverter.ts
  packages/backend-for-frontend/src/routers/clientRouter.ts
  packages/backend-for-frontend/src/routers/producerKeychainRouter.ts
  packages/backend-for-frontend/src/services/clientService.ts
  packages/backend-for-frontend/src/services/producerKeychainService.ts
  packages/backend-for-frontend/src/services/validators.ts
  packages/backend-for-frontend/test/api/producerKeychainRouter/getProducerKeychains.test.ts
  packages/backend-for-frontend/test/api/producerKeychainRouter/getProducerKeys.test.ts
  packages/commons-test/src/testUtils.ts
  packages/m2m-gateway/src/services/eserviceService.ts
Labels: api-v2

#2163 PIN-7303 suspend reactivate agreement
  packages/in-app-notification-dispatcher/src/handlers/agreements/handleAgreementEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/agreements/handleAgreementSuspendedUnsuspended.ts
  packages/in-app-notification-dispatcher/src/handlers/attributes/handleAttributeEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/authorizations/handleAuthorizationEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/delegations/handleDelegationEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceStateChangedToConsumer.ts
  packages/in-app-notification-dispatcher/src/handlers/handlerCommons.ts
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeEvent.ts
  packages/in-app-notification-dispatcher/src/index.ts
  packages/in-app-notification-dispatcher/src/models/errors.ts
  packages/in-app-notification-dispatcher/src/services/inAppNotificationServiceSQL.ts
  packages/in-app-notification-dispatcher/src/templates/inAppTemplates.ts
  packages/in-app-notification-dispatcher/test/handleAgreementSuspendedUnsuspended.test.ts
  packages/in-app-notification-dispatcher/test/handleEserviceStateChangedToConsumer.test.ts
  packages/models/src/notification/notification.ts
  packages/models/src/notification/notificationSQLAdapter.ts
Labels: notification-config

#2197 PIN-7281 - PIN-7282 - APIV2 `GET /producerKeychains/{keychainId}/eservices` and `GET /producerKeychains/{keychainId}/keys`
  collections/m2m gateway/producerKeychains/List producer keychain JWKs.bru
  collections/m2m gateway/producerKeychains/List producer keychain eservices.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/src/m2mGatewayApi.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/test/api/getProducerKeychainKeys.test.ts
  packages/commons-test/src/apiMocks.ts
  packages/m2m-gateway/src/routers/producerKeychainRouter.ts
  packages/m2m-gateway/src/services/producerKeychainService.ts
  packages/m2m-gateway/src/utils/validators/keychainValidators.ts
  packages/m2m-gateway/test/api/producerKeychains/getProducerKeychainEServices.test.ts
  packages/m2m-gateway/test/api/producerKeychains/getProducerKeychainKeys.test.ts
  packages/m2m-gateway/test/integration/producerKeychains/getProducerKeychainEServices.test.ts
  packages/m2m-gateway/test/integration/producerKeychains/getProducerKeychainKeys.test.ts
Labels: api-v2

#2205 PIN-7283 - PIN-7284 - APIV2 `POST /producerKeychains/{keychainId}/eservices` and `DELETE /producerKeychains/{keychainId}/eservices/{eserviceId}`
  collections/m2m gateway/producerKeychains/Add producer keychain eservice.bru
  collections/m2m gateway/producerKeychains/List producer keychain JWKs.bru
  collections/m2m gateway/producerKeychains/Remove producer keychain eservice.bru
  packages/api-clients/open-api/authorizationApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/test/api/addProducerKeychainEService.test.ts
  packages/authorization-process/test/api/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/integration/addProducerKeychainEService.test.ts
  packages/authorization-process/test/integration/removeProducerKeychainEService.test.ts
  packages/backend-for-frontend/src/services/producerKeychainService.ts
  packages/m2m-gateway/src/routers/producerKeychainRouter.ts
  packages/m2m-gateway/src/services/producerKeychainService.ts
  packages/m2m-gateway/test/api/producerKeychains/addProducerKeychainEService.test.ts
  packages/m2m-gateway/test/api/producerKeychains/removeProducerKeychainEService.test.ts
  packages/m2m-gateway/test/integration/producerKeychains/addProducerKeychainEService.test.ts
  packages/m2m-gateway/test/integration/producerKeychains/removeProducerKeychainEService.test.ts
Labels: api-v2

#2253 PIN-7265 - M2M download e-service descriptor document
  collections/m2m gateway/eservices/Add eservice descriptor document.bru
  collections/m2m gateway/eservices/Get eservice descriptor document.bru
  collections/m2m gateway/eservices/List eservice descriptor documents.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/api/getDocumentById.test.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/test/api/eservices/downloadEserviceDescriptorDocument.test.ts
  packages/m2m-gateway/test/integration/eservices/downloadEserviceDescriptorDocument.test.ts
  packages/m2m-gateway/test/integration/eservices/downloadEserviceDescriptorInterface.test.ts
Labels: api-v2

#2237 PIN-7255 - APIV2 DELETE /eservices/{eServiceId}/descriptors/{descriptorId}
  collections/m2m gateway/eservices/Delete draft eservice descriptor.bru
  collections/m2m gateway/eservices/List eservice descriptors.bru
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/api/deleteDraftDescriptor.test.ts
  packages/catalog-process/test/integration/deleteDraftDescriptor.test.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/eservices/deleteDraftEServiceDescriptor.test.ts
  packages/m2m-gateway/test/integration/eservices/deleteDraftEServiceDescriptor.test.ts
Labels: api-v2

#2265 PIN-7269 - M2M create e-service risk analysis
  collections/m2m gateway/eservices/Create eservice risk analysis.bru
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/api/createRiskAnalysis.test.ts
  packages/catalog-process/test/integration/createRiskAnalysis.test.ts
  packages/commons-test/src/apiMocks.ts
  packages/m2m-gateway/src/api/eserviceApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/test/api/eservices/createEServiceRiskAnalysis.test.ts
  packages/m2m-gateway/test/integration/eservices/createEServiceRiskAnalysis.test.ts
  packages/m2m-gateway/test/mockUtils.ts
Labels: api-v2

#2198 PIN-7341 + PIN-7342 - M2M add/revoke tenant declared/verified attributes
  collections/m2m gateway/tenants/certifiedAttributes/Assign tenant certified attribute.bru
  collections/m2m gateway/tenants/certifiedAttributes/List tenant certified attributes.bru
  collections/m2m gateway/tenants/certifiedAttributes/Revoke tenant certified attribute.bru
  collections/m2m gateway/tenants/declaredAttributes/Assign tenant declared attribute.bru
  collections/m2m gateway/tenants/declaredAttributes/List tenant declared attributes.bru
  collections/m2m gateway/tenants/declaredAttributes/Revoke tenant declared attribute.bru
  collections/m2m gateway/tenants/verifiedAttributes/Assign tenant verified attribute.bru
  collections/m2m gateway/tenants/verifiedAttributes/Get Tenant Verified Attribute Revokers.bru
  collections/m2m gateway/tenants/verifiedAttributes/Get Tenant Verified Attribute Verifiers.bru
  collections/m2m gateway/tenants/verifiedAttributes/List tenant verified attribute revokers.bru
  collections/m2m gateway/tenants/verifiedAttributes/List tenant verified attribute verifiers.bru
  collections/m2m gateway/tenants/verifiedAttributes/List tenant verified attributes.bru
  collections/m2m gateway/tenants/verifiedAttributes/Revoke tenant verified attribute.bru
  collections/tenant/Get Tenant Verified Attribute Revokers.bru
  collections/tenant/Get Tenant Verified Attribute Verifiers.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/open-api/tenantApi.yml
  packages/commons-test/src/apiMocks.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/src/utils/context.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/src/utils/validators/delegationValidators.ts
  packages/m2m-gateway/src/utils/validators/tenantValidators.ts
  packages/m2m-gateway/test/api/tenants/assignTenantCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/tenants/assignTenantDeclaredAttribute.test.ts
  packages/m2m-gateway/test/api/tenants/assignTenantVerifiedAttribute.test.ts
  packages/m2m-gateway/test/api/tenants/getTenant.test.ts
  packages/m2m-gateway/test/api/tenants/revokeTenantCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/tenants/revokeTenantDeclaredAttribute.test.ts
  packages/m2m-gateway/test/api/tenants/revokeTenantVerifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/tenants/assignTenantCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/tenants/assignTenantDeclaredAttribute.test.ts
  packages/m2m-gateway/test/integration/tenants/assignTenantVerifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/tenants/revokeTenantCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/tenants/revokeTenantDeclaredAttribute.test.ts
  packages/m2m-gateway/test/integration/tenants/revokeTenantVerifiedAttribute.test.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/m2m-gateway/test/vitest.api.setup.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/test/api/addDeclaredAttribute.test.ts
  packages/tenant-process/test/api/revokeDeclaredAttribute.test.ts
  packages/tenant-process/test/api/revokeVerifiedAttribute.test.ts
  packages/tenant-process/test/api/verifyVerifiedAttribute.test.ts
  packages/tenant-process/test/integration/addDeclaredAttribute.test.ts
  packages/tenant-process/test/integration/revokeDeclaredAttribute.test.ts
  packages/tenant-process/test/integration/revokeVerifiedAttribute.test.ts
  packages/tenant-process/test/integration/verifyVerifiedAttribute.test.ts
Labels: api-v2

#2264 PIN-7429 Remove deepLink, add NotificationType and EntityId
  docker/in-app-notification-db/notification.sql
  packages/api-clients/open-api/inAppNotificationApi.yml
  packages/in-app-notification-db-models/src/schema.ts
  packages/in-app-notification-dispatcher/src/config/config.ts
  packages/in-app-notification-dispatcher/src/handlers/agreements/handleAgreementActivatedRejectedToConsumer.ts
  packages/in-app-notification-dispatcher/src/handlers/agreements/handleAgreementManagementToProducer.ts
  packages/in-app-notification-dispatcher/src/handlers/agreements/handleAgreementSuspendedUnsuspended.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceStateChangedToConsumer.ts
  packages/in-app-notification-dispatcher/test/handleAgreementActivatedRejectedToConsumer.test.ts
  packages/in-app-notification-dispatcher/test/handleAgreementManagementToProducer.test.ts
  packages/in-app-notification-dispatcher/test/handleAgreementSuspendedUnsuspended.test.ts
  packages/in-app-notification-dispatcher/test/handleEserviceStateChangedToConsumer.test.ts
  packages/in-app-notification-manager/src/model/apiConverter.ts
  packages/in-app-notification-manager/test/api/getNotifications.test.ts
  packages/in-app-notification-manager/test/integrationUtils.ts
  packages/models/src/brandedIds.ts
  packages/models/src/notification/notification.ts
  packages/models/src/notification/notificationSQLAdapter.ts
Labels: notification-config

#2273 PIN-7455 purposeStatusChangedToProducer
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeStatusChangedToProducer.ts
  packages/in-app-notification-dispatcher/test/handlePurposeStatusChangedToProducer.test.ts
Labels: notification-config

#2275 PIN-7457 purposeSuspendedUnsuspendedToConsumer
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeSuspendedUnsuspendedToConsumer.ts
  packages/in-app-notification-dispatcher/src/templates/inAppTemplates.ts
  packages/in-app-notification-dispatcher/test/handlePurposeSuspendedUnsuspendedToConsumer.test.ts
Labels: notification-config

#2277 PIN-7458 purpose activated rejected to consumer
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeActivatedRejectedToConsumer.ts
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeEvent.ts
  packages/in-app-notification-dispatcher/src/templates/inAppTemplates.ts
  packages/in-app-notification-dispatcher/test/handlePurposeActivatedRejectedToConsumer.test.ts
Labels: notification-config

#2284 PIN-7270 + PIN-7271 + PIN-7464 - M2M E-Service Risk Analysis endpoints
  collections/m2m gateway/eservices/Create eservice risk analysis.bru
  collections/m2m gateway/eservices/Delete eservice risk analysis.bru
  collections/m2m gateway/eservices/Get eservice risk analysis.bru
  collections/m2m gateway/eservices/List eservice risk analyses.bru
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/src/m2mGatewayApi.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/api/deleteRiskAnalysis.test.ts
  packages/catalog-process/test/integration/deleteRiskAnalysis.test.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/eservices/createEServiceRiskAnalysis.test.ts
  packages/m2m-gateway/test/api/eservices/deleteEserviceRiskAnalysis.test.ts
  packages/m2m-gateway/test/api/eservices/getEserviceRiskAnalyses.test.ts
  packages/m2m-gateway/test/api/eservices/getEserviceRiskAnalysis.test.ts
  packages/m2m-gateway/test/integration/eservices/createEServiceRiskAnalysis.test.ts
  packages/m2m-gateway/test/integration/eservices/deleteEserviceRiskAnalysis.test.ts
  packages/m2m-gateway/test/integration/eservices/getEserviceRiskAnalyses.test.ts
  packages/m2m-gateway/test/integration/eservices/getEserviceRiskAnalysis.test.ts
  packages/m2m-gateway/test/mockUtils.ts
Labels: api-v2

#2278 PIN-7250 + PIN-7251 + PIN-7252 - M2M add PATCH endpoints to update published E-Service fields
  collections/m2m gateway/eservices/Update published eservice delegation.bru
  collections/m2m gateway/eservices/Update published eservice description.bru
  collections/m2m gateway/eservices/Update published eservice name.bru
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/api/updateEServiceName.test.ts
  packages/catalog-process/test/api/updateEserviceDelegationFlags.test.ts
  packages/catalog-process/test/api/updateEserviceDescription.test.ts
  packages/catalog-process/test/integration/updateEServiceName.test.ts
  packages/catalog-process/test/integration/updateEserviceDelegationFlags.test.ts
  packages/catalog-process/test/integration/updateEserviceDescription.test.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/test/api/eservices/updatePublishedEServiceDelegation.test.ts
  packages/m2m-gateway/test/api/eservices/updatePublishedEServiceDescription.test.ts
  packages/m2m-gateway/test/api/eservices/updatePublishedEServiceName.test.ts
  packages/m2m-gateway/test/integration/eservices/updatePublishedEServiceDelegation.test.ts
  packages/m2m-gateway/test/integration/eservices/updatePublishedEServiceDescription.test.ts
  packages/m2m-gateway/test/integration/eservices/updatePublishedEServiceName.test.ts
Labels: api-v2

#2293 PIN-7436 - Add error 403 mapping to `retrievePurpose` in `api-gateway`
  packages/api-gateway/src/services/purposeService.ts
Labels: hotfix

#2167 PIN-7297 - Add `purpose-template` models and events
  docker/domains-analytics-db/domains-init.sql
  docker/readmodel-db/purpose-template.sql
  docker/readmodel-db/purpose.sql
  packages/agreement-readmodel-writer-sql/.env
  packages/anac-certified-attributes-importer/.env
  packages/attribute-registry-process/.env
  packages/attribute-registry-readmodel-writer-sql/.env
  packages/authorization-process/.env
  packages/catalog-process/.env
  packages/catalog-readmodel-writer-sql/.env
  packages/certified-email-sender/.env
  packages/client-readmodel-writer-sql/.env
  packages/commons-test/src/setupTestContainersVitest.ts
  packages/commons/src/config/readmodelSQLDbConfig.ts
  packages/datalake-data-export/.env
  packages/delegation-items-archiver/.env
  packages/delegation-process/.env
  packages/delegation-readmodel-writer-sql/.env
  packages/eservice-descriptors-archiver/.env
  packages/eservice-template-instances-updater/.env
  packages/eservice-template-process/.env
  packages/eservice-template-readmodel-writer-sql/.env
  packages/ipa-certified-attributes-importer/.env
  packages/ivass-certified-attributes-importer/.env
  packages/key-readmodel-writer-sql/.env
  packages/kpi-domains-readmodel-checker/.env
  packages/models/proto/v2/purpose-template/events.proto
  packages/models/proto/v2/purpose-template/purpose-template.proto
  packages/models/src/brandedIds.ts
  packages/models/src/index.ts
  packages/models/src/purpose-template/protobufConverterFromV2.ts
  packages/models/src/purpose-template/protobufConverterToV2.ts
  packages/models/src/purpose-template/purposeTemplate.ts
  packages/models/src/purpose-template/purposeTemplateEvents.ts
  packages/models/src/purpose/purpose.ts
  packages/models/src/risk-analysis/riskAnalysis.ts
  packages/models/src/risk-analysis/riskAnalysisTemplate.ts
  packages/notification-email-sender/.env
  packages/pn-consumers/.env
  packages/producer-key-readmodel-writer-sql/.env
  packages/producer-keychain-readmodel-writer-sql/.env
  packages/purpose-process/.env
  packages/purpose-readmodel-writer-sql/.env
  packages/purpose-readmodel-writer-sql/test/purposeQueries.test.ts
  packages/readmodel-checker/.env
  packages/readmodel-models/.env
  packages/readmodel-models/drizzle.config.ts
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel-models/src/pgSchema.ts
  packages/readmodel-models/src/types.ts
  packages/readmodel/src/purpose/aggregators.ts
  packages/readmodel/src/purpose/splitters.ts
  packages/readmodel/test/purposeAggregator.test.ts
  packages/readmodel/test/purposeSplitter.test.ts
  packages/selfcare-client-users-updater/.env
  packages/tenant-process/.env
  packages/tenant-readmodel-writer-sql/.env
  packages/token-generation-readmodel-checker/.env
Labels: purpose-template

#2207 PIN-7360 Create all notification type in config
  collections/notification-config/Update Tenant Notification Config.bru
  collections/notification-config/Update User Notification Config.bru
  packages/api-clients/open-api/notificationConfigApi.yml
  packages/commons-test/src/testUtils.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceStateChangedToConsumer.ts
  packages/in-app-notification-dispatcher/src/templates/inAppTemplates.ts
  packages/in-app-notification-dispatcher/test/handleEserviceStateChangedToConsumer.test.ts
  packages/models/proto/v2/notification-config/notification-config.proto
  packages/models/src/notification-config/notificationConfig.ts
  packages/notification-config-process/src/model/domain/apiConverter.ts
  packages/notification-config-process/src/services/notificationConfigService.ts
  packages/notification-config-process/test/api/createTenantDefaultNotificationConfig.test.ts
  packages/notification-config-process/test/api/updateTenantNotificationConfig.test.ts
  packages/notification-config-process/test/api/updateUserNotificationConfig.test.ts
  packages/notification-config-process/test/integration/createTenantDefaultNotificationConfig.test.ts
  packages/notification-config-process/test/integration/createUserDefaultNotificationConfig.test.ts
  packages/notification-config-process/test/integration/updateTenantNotificationConfig.test.ts
  packages/notification-config-process/test/integration/updateUserNotificationConfig.test.ts
  packages/notification-config-readmodel-writer-sql/test/notificationConfigReadmodelWriter.integration.test.ts
  packages/notification-user-lifecycle-consumer/test/messageProcessor.test.ts
  packages/readmodel/src/notification-config/aggregators.ts
  packages/readmodel/test/notificationConfigQueries.test.ts
  packages/readmodel/test/notificationConfigSplitter.test.ts
Labels: notification-config

#2165 PIN-7299 - Add `purpose-template-readmodel-writer-sql` scaffold
  packages/commons/src/config/kafkaTopicConfig.ts
  packages/purpose-template-readmodel-writer-sql/.env
  packages/purpose-template-readmodel-writer-sql/Dockerfile
  packages/purpose-template-readmodel-writer-sql/package.json
  packages/purpose-template-readmodel-writer-sql/src/config/config.ts
  packages/purpose-template-readmodel-writer-sql/src/consumerServiceV2.ts
  packages/purpose-template-readmodel-writer-sql/src/index.ts
  packages/purpose-template-readmodel-writer-sql/src/purposeTemplateWriterService.ts
  packages/purpose-template-readmodel-writer-sql/test/purposeTemplateReadModelWriter.integration.test.ts
  packages/purpose-template-readmodel-writer-sql/test/tsconfig.json
  packages/purpose-template-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/purpose-template-readmodel-writer-sql/tsconfig.check.json
  packages/purpose-template-readmodel-writer-sql/tsconfig.json
  packages/purpose-template-readmodel-writer-sql/vitest.config.ts
  pnpm-lock.yaml
Labels: purpose-template

#2296 PIN-7434 m2mGateway getProducerDelegation
  collections/m2m gateway/delegations/Get Producer Delegation.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/m2m-gateway/src/routers/delegationRouter.ts
  packages/m2m-gateway/src/services/delegationService.ts
  packages/m2m-gateway/test/api/delegations/getProducerDelegation.test.ts
  packages/m2m-gateway/test/integration/delegations/getProducerDelegation.test.ts
Labels: api-v2

#2298 Pin 7432 - PIN-7433 | List declared attributes | List verifiedAttributes
  collections/m2m gateway/attributes/List certified attributes.bru
  collections/m2m gateway/attributes/List declared attributes.bru
  collections/m2m gateway/attributes/List verified attributes.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/src/m2mGatewayApi.ts
  packages/m2m-gateway/src/api/attributeApiConverter.ts
  packages/m2m-gateway/src/routers/attributeRouter.ts
  packages/m2m-gateway/src/services/attributeService.ts
  packages/m2m-gateway/test/api/attributes/ListCertifiedAttributes.test.ts
  packages/m2m-gateway/test/api/attributes/ListDeclaredAttributes.test.ts
  packages/m2m-gateway/test/api/attributes/ListVerifiedAttributes.test.ts
  packages/m2m-gateway/test/integration/attributes/ListCertifiedAttributes.test.ts
  packages/m2m-gateway/test/integration/attributes/ListDeclaredAttributes.test.ts
  packages/m2m-gateway/test/integration/attributes/ListVerifiedAttributes.test.ts
Labels: api-v2
