Repository pagopa/interop-be-monorepo, pull requests merged in 2025-07, with the labels that each got.

#2084 Fix risk analysis sorting in `createPurposeVersion` tests
  packages/purpose-process/test/integration/createPurposeVersion.test.ts
Labels: readmodel-sql, fix-sql

#2092 PIN-7131 - Refactor client API models and visibility in auth process
  collections/authorization/Create Client Keys.bru
  collections/authorization/Create Producer Keychain Key.bru
  collections/bff/clients/Adds a purpose to a client.bru
  collections/bff/clients/Create Keys for a Client.bru
  collections/bff/clients/Get a Client.bru
  collections/bff/clients/Returns a set of keys by client ID.bru
  collections/bff/clients/Returns a set of keys by user ID and client ID.bru
  collections/collection.bru
  packages/api-clients/generate.ts
  packages/api-clients/open-api/authorizationApi.yml
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/authorizationService.ts
  packages/authorization-process/src/model/domain/apiConverter.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/test/api/addClientPurpose.test.ts
  packages/authorization-process/test/api/addClientUsers.test.ts
  packages/authorization-process/test/api/createApiClient.test.ts
  packages/authorization-process/test/api/createConsumerClient.test.ts
  packages/authorization-process/test/api/getClientById.test.ts
  packages/authorization-process/test/api/getClientUsers.test.ts
  packages/authorization-process/test/api/getClients.test.ts
  packages/authorization-process/test/api/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/api/setAdminToClient.test.ts
  packages/authorization-process/test/apiUtils.ts
  packages/authorization-process/test/integration/addClientPurpose.test.ts
  packages/authorization-process/test/integration/addClientUsers.test.ts
  packages/authorization-process/test/integration/createApiClient.test.ts
  packages/authorization-process/test/integration/createConsumerClient.test.ts
  packages/authorization-process/test/integration/createKey.test.ts
  packages/authorization-process/test/integration/getClientById.test.ts
  packages/authorization-process/test/integration/getClientUsers.test.ts
  packages/authorization-process/test/integration/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/integration/setAdminToClient.test.ts
  packages/backend-for-frontend/src/api/authorizationApiConverter.ts
  packages/backend-for-frontend/src/services/clientService.ts
  packages/backend-for-frontend/src/services/validators.ts
  packages/commons-test/src/apiMocks.ts
  packages/commons-test/src/testUtils.ts
  packages/m2m-gateway/src/services/clientService.ts
  packages/m2m-gateway/test/api/m2mAuthDataValidationMiddleware.test.ts
  packages/m2m-gateway/test/integration/clients/addClientPurpose.test.ts
  packages/m2m-gateway/test/integration/clients/getClientAdminId.test.ts
  packages/models/src/errors.ts
Labels: authorization-process, api-v2

#2113 PIN-7185 - Fix risk analysis answers length by increasing the max length to 2000
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/open-api/purposeApi.yml
  packages/commons/src/risk-analysis/rules/PA/2.0.ts
  packages/commons/src/risk-analysis/rules/PA/3.0.ts
  packages/commons/src/risk-analysis/rules/PRIVATE/1.0.ts
  packages/commons/src/risk-analysis/rules/PRIVATE/2.0.ts
  packages/commons/src/risk-analysis/rules/riskAnalysisFormRules.ts
  packages/purpose-process/src/model/domain/apiConverter.ts
Labels: hotfix

#2102 PIN-7086 - APIV2 `GET /purposes/{purposeId}/versions/{versionId}/document`
  collections/m2m gateway/purposes/Download Purpose version document.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/commons-test/src/apiMocks.ts
  packages/m2m-gateway/.env
  packages/m2m-gateway/src/config/config.ts
  packages/m2m-gateway/src/index.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/agreements/downloadAgreementConsumerDocument.test.ts
  packages/m2m-gateway/test/api/eservices/downloadEserviceDescriptorInterface.test.ts
  packages/m2m-gateway/test/api/purposes/createPurposeVersion.test.ts
  packages/m2m-gateway/test/api/purposes/downloadPurposeVersionDocument.test.ts
  packages/m2m-gateway/test/api/purposes/getPurposeVersion.test.ts
  packages/m2m-gateway/test/api/purposes/getPurposeVersions.test.ts
  packages/m2m-gateway/test/integration/agreements/downloadAgreementConsumerDocument.test.ts
  packages/m2m-gateway/test/integration/eservices/downloadEserviceDescriptorInterface.test.ts
  packages/m2m-gateway/test/integration/purposes/downloadPurposeVersionDocument.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
Labels: api-v2

#2045 PIN-7130 + PIN-7132 - M2M Clients - get + list
  collections/m2m gateway/clients/Get client.bru
  collections/m2m gateway/clients/List clients.bru
  package.json
  packages/api-clients/open-api/authorizationApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/src/authorizationApi.ts
  packages/api-clients/src/index.ts
  packages/api-clients/src/m2mGatewayApi.ts
  packages/authorization-process/src/model/domain/apiConverter.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/api/getClientById.test.ts
  packages/authorization-process/test/api/getClients.test.ts
  packages/authorization-process/test/api/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/apiUtils.ts
  packages/backend-for-frontend/src/services/validators.ts
  packages/commons-test/src/apiMocks.ts
  packages/m2m-gateway/src/api/clientApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/clientRouter.ts
  packages/m2m-gateway/src/services/clientService.ts
  packages/m2m-gateway/src/utils/validators/delegationValidators.ts
  packages/m2m-gateway/test/api/clients/getClient.test.ts
  packages/m2m-gateway/test/api/clients/getClients.test.ts
  packages/m2m-gateway/test/integration/clients/getClient.test.ts
  packages/m2m-gateway/test/integration/clients/getClientAdminId.test.ts
  packages/m2m-gateway/test/integration/clients/getClients.test.ts
Labels: api-v2

#2075 PIN-7088 - APIV2 `DELETE /purposes/:purposeId`
  collections/m2m gateway/purposes/Delete Purpose.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/commons/src/utils/apiUtils.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/polling.ts
  packages/m2m-gateway/test/api/purposes/deletePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/deletePurpose.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/api/deletePurpose.test.ts
Labels: purpose-process, api-v2

#2086 PIN-7083 - APIV2 `GET /purposes/:purposeId/agreement`
  collections/m2m gateway/purposes/Get agreement purpose.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/commons-test/src/apiMocks.ts
  packages/m2m-gateway/src/api/purposeApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/purposes/getPurposeAgreement.test.ts
  packages/m2m-gateway/test/integration/purposes/getPurposeAgreement.test.ts
Labels: api-v2

#2100 PIN-7007 - Bootstrap the notification-config-readmodel-writer-sql
  package.json
  packages/commons/src/config/kafkaTopicConfig.ts
  packages/notification-config-readmodel-writer-sql/.env
  packages/notification-config-readmodel-writer-sql/Dockerfile
  packages/notification-config-readmodel-writer-sql/package.json
  packages/notification-config-readmodel-writer-sql/src/config/config.ts
  packages/notification-config-readmodel-writer-sql/src/consumerServiceV2.ts
  packages/notification-config-readmodel-writer-sql/src/index.ts
  packages/notification-config-readmodel-writer-sql/src/readModelService.ts
  packages/notification-config-readmodel-writer-sql/test/notificationConfigReadmodelWriter.integration.test.ts
  packages/notification-config-readmodel-writer-sql/test/tsconfig.json
  packages/notification-config-readmodel-writer-sql/test/utils.ts
  packages/notification-config-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/notification-config-readmodel-writer-sql/tsconfig.check.json
  packages/notification-config-readmodel-writer-sql/tsconfig.json
  packages/notification-config-readmodel-writer-sql/vitest.config.ts
  packages/readmodel/.env
  pnpm-lock.yaml
Labels: notification-config

#2120 PIN-7171 - M2M list Client Purposes
  collections/m2m gateway/clients/List client purposes.bru
  package.json
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/src/m2mGatewayApi.ts
  packages/commons-test/src/apiMocks.ts
  packages/m2m-gateway/src/routers/clientRouter.ts
  packages/m2m-gateway/src/services/clientService.ts
  packages/m2m-gateway/src/utils/validators/validators.ts
  packages/m2m-gateway/test/api/clients/getClient.test.ts
  packages/m2m-gateway/test/api/clients/getClientPurposes.test.ts
  packages/m2m-gateway/test/api/clients/getClients.test.ts
  packages/m2m-gateway/test/api/m2mAuthDataValidationMiddleware.test.ts
  packages/m2m-gateway/test/integration/clients/addClientPurpose.test.ts
  packages/m2m-gateway/test/integration/clients/getClient.test.ts
  packages/m2m-gateway/test/integration/clients/getClientAdminId.test.ts
  packages/m2m-gateway/test/integration/clients/getClientPurposes.test.ts
  packages/m2m-gateway/test/integration/clients/getClients.test.ts
  packages/m2m-gateway/test/integration/clients/removeClientPurpose.test.ts
Labels: api-v2

#1915 PIN-6546 Supertest backend-for-frontend - attributeRouter, clientRouter, delegationRouter
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/test/api/attributeRouter/createCertifiedAttribute.test.ts
  packages/backend-for-frontend/test/api/attributeRouter/createDeclaredAttribute.test.ts
  packages/backend-for-frontend/test/api/attributeRouter/createVerifiedAttribute.test.ts
  packages/backend-for-frontend/test/api/attributeRouter/getAttributeById.test.ts
  packages/backend-for-frontend/test/api/attributeRouter/getAttributeByOriginAndCode.test.ts
  packages/backend-for-frontend/test/api/attributeRouter/getAttributes.test.ts
  packages/backend-for-frontend/test/api/clientRouter/addClientPurpose.test.ts
  packages/backend-for-frontend/test/api/clientRouter/addUsersToClient.test.ts
  packages/backend-for-frontend/test/api/clientRouter/createApiClient.test.ts
  packages/backend-for-frontend/test/api/clientRouter/createConsumerClient.test.ts
  packages/backend-for-frontend/test/api/clientRouter/createKey.test.ts
  packages/backend-for-frontend/test/api/clientRouter/deleteClient.test.ts
  packages/backend-for-frontend/test/api/clientRouter/deleteClientKeyById.test.ts
  packages/backend-for-frontend/test/api/clientRouter/getClientById.test.ts
  packages/backend-for-frontend/test/api/clientRouter/getClientKeyById.test.ts
  packages/backend-for-frontend/test/api/clientRouter/getClientKeys.test.ts
  packages/backend-for-frontend/test/api/clientRouter/getClientUsers.test.ts
  packages/backend-for-frontend/test/api/clientRouter/getClients.test.ts
  packages/backend-for-frontend/test/api/clientRouter/getEncodedClientKeyById.test.ts
  packages/backend-for-frontend/test/api/clientRouter/removeClientPurpose.test.ts
  packages/backend-for-frontend/test/api/clientRouter/removeUser.test.ts
  packages/backend-for-frontend/test/api/delegationRouter/getDelegation.test.ts
  packages/backend-for-frontend/test/api/delegationRouter/getDelegationContract.test.ts
  packages/backend-for-frontend/test/api/delegationRouter/getDelegations.test.ts
  packages/backend-for-frontend/test/mockUtils.ts
Labels: supertest

#1688 PIN-5572 DescriptorVersion from string to number
  docker/readmodel-db/catalog.sql
  packages/agreement-process/src/model/domain/errors.ts
  packages/agreement-process/src/model/domain/models.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/test/integration/agreementStatesFlows.test.ts
  packages/agreement-process/test/integration/createAgreement.test.ts
  packages/agreement-process/test/integration/submitAgreement.test.ts
  packages/agreement-process/test/integration/upgradeAgreement.test.ts
  packages/api-clients/open-api/apiGatewayApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/authorization-updater/test/authorizationUpdater.test.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/test/exportEServiceDescriptor.test.ts
  packages/backend-for-frontend/test/getCatalogEServiceDescriptor.test.ts
  packages/backend-for-frontend/test/importEService.test.ts
  packages/backend-for-frontend/test/mockUtils.ts
  packages/backend-for-frontend/test/utils.ts
  packages/catalog-platformstate-writer/src/consumerServiceV2.ts
  packages/catalog-platformstate-writer/test/consumerServiceV2.test.ts
  packages/catalog-process/src/model/domain/models.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/utilities/versionGenerator.ts
  packages/catalog-process/test/api/createDescriptor.test.ts
  packages/catalog-process/test/api/createTemplateInstanceDescriptor.test.ts
  packages/catalog-process/test/api/getEserviceConsumers.test.ts
  packages/catalog-process/test/api/upgradeEserviceTemplateInstance.test.ts
  packages/catalog-process/test/integration/approveDelegatedEServiceDescriptor.test.ts
  packages/catalog-process/test/integration/cloneDescriptor.test.ts
  packages/catalog-process/test/integration/createDescriptor.test.ts
  packages/catalog-process/test/integration/createTemplateInstanceDescriptor.test.ts
  packages/catalog-process/test/integration/deleteDraftDescriptor.test.ts
  packages/catalog-process/test/integration/deleteEservice.test.ts
  packages/catalog-process/test/integration/getEserviceById.test.ts
  packages/catalog-process/test/integration/getEservices.test.ts
  packages/catalog-process/test/integration/publishDescriptor.test.ts
  packages/catalog-process/test/integration/upgradeEserviceTemplateInstance.test.ts
  packages/catalog-readmodel-writer-sql/test/catalogReadmodelWriter.integration.test.ts
  packages/catalog-readmodel-writer/test/catalogReadmodelWriter.integration.test.ts
  packages/commons-test/src/apiMocks.ts
  packages/commons-test/src/protobufConvertersToV1/catalogProtobufConverterToV1.ts
  packages/commons-test/src/testUtils.ts
  packages/datalake-data-export/test/read-model-queries-service.test.ts
  packages/dtd-catalog-exporter/src/models/models.ts
  packages/eservice-descriptors-archiver/test/eserviceDescriptorsArchiver.integration.test.ts
  packages/m2m-gateway/src/api/eserviceApiConverter.ts
  packages/m2m-gateway/test/integration/eservices/getEserviceDescriptor.test.ts
  packages/m2m-gateway/test/integration/eservices/getEserviceDescriptors.test.ts
  packages/models/src/eservice/eservice.ts
  packages/models/src/eservice/protobufConverterFromV1.ts
  packages/models/src/eservice/protobufConverterFromV2.ts
  packages/notification-email-sender/test/sendEserviceDescriptorPublishedEmail.integration.test.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationMappers.ts
  packages/notifier-seeder/test/notificationMessage.integration.test.ts
  packages/purpose-process/test/integration/createPurpose.test.ts
  packages/readmodel-models/src/drizzle/schema.ts
Labels: mixed-activity

#2126 PIN-7112 - APIV2 `GET /agreements/:agreementId/contract`
  collections/m2m gateway/agreements/Get agreement consumer contract.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/commons-test/src/apiMocks.ts
  packages/m2m-gateway/.env
  packages/m2m-gateway/src/config/config.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/agreements/downloadAgreementConsumerContract.test.ts
  packages/m2m-gateway/test/integration/agreements/downloadAgreementConsumerContract.test.ts
Labels: api-v2

#2055 PIN-7059 - M2M list Tenant Verified Attributes
  collections/m2m gateway/tenants/verifiedAttributes/List verified attributes.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/src/m2mGatewayApi.ts
  packages/commons-test/src/apiMocks.ts
  packages/m2m-gateway/src/api/tenantApiConverter.ts
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/test/api/tenants/getVerifiedAttributes.test.ts
  packages/m2m-gateway/test/integration/tenants/getVerifiedAttributes.test.ts
  packages/tenant-process/src/model/domain/errors.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/test/integration/addTenantMail.test.ts
Labels: api-v2

#2108 PIN-7156 - APIV2 `DELETE /purposes/{purposeId}/versions/{versionId}`
  collections/m2m gateway/purposes/Delete Purpose Version.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/open-api/purposeApi.yml
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/test/api/purposes/deletePurposeVersion.test.ts
  packages/m2m-gateway/test/integration/purposes/deletePurposeVersion.test.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/api/deletePurposeVersion.test.ts
  packages/purpose-process/test/integration/deletePurposeVersion.test.ts
Labels: api-v2

#2123 PIN-7117 - APIV2 `DELETE /agreements/:agreementId/consumerDocuments/:documentId`
  collections/m2m gateway/agreements/Delete agreement consumer document.bru
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/test/api/removeAgreementConsumerDocument.test.ts
  packages/agreement-process/test/integration/agreementConsumerDocuments.test.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/commons-test/src/apiMocks.ts
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/test/api/agreements/deleteAgreementConsumerDocument.test.ts
  packages/m2m-gateway/test/integration/agreements/deleteAgreementConsumerDocument.test.ts
Labels: api-v2

#2133 PIN-6546 supertest in tool, support and selfcare router
  packages/backend-for-frontend/test/api/selfcareRouter/getInstitutionUsers.test.ts
  packages/backend-for-frontend/test/api/selfcareRouter/getSelfcareInstitutions.test.ts
  packages/backend-for-frontend/test/api/selfcareRouter/getSelfcareInstitutionsProducts.test.ts
  packages/backend-for-frontend/test/api/selfcareRouter/getSelfcareUser.test.ts
  packages/backend-for-frontend/test/api/supportRouter/getSaml2Token.test.ts
  packages/backend-for-frontend/test/api/toolRouter/validateTokenGeneration.test.ts
Labels: supertest

#2153 [Hotfix] PIN - 7245 fix mongo connection string
  packages/commons/src/config/readmodelDbConfig.ts
  packages/commons/src/repositories/ReadModelRepository.ts
  packages/event-migration/src/index.ts
  packages/event-migration/src/read-models-migration-check.ts
Labels: hotfix

#2127 Turbo Cache - Hit the cache every run
  .github/workflows/pr.yml
Labels: turbo

#2156 PIN-7195 - Renamed M2M Api download purpose document
  collections/m2m gateway/purposes/Download Purpose version Risk Analysis document.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/purposes/downloadPurposeVersionRiskAnalysisDocument.test.ts
  packages/m2m-gateway/test/integration/purposes/downloadPurposeVersionRiskAnalysisDocument.test.ts
Labels: api-v2

#2072 PIN-7123 Fix purpose risk analysis answer table
  docker/readmodel-db/purpose.sql
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel/src/purpose/aggregators.ts
Labels: readmodel-sql, fix-sql

#2160 Fix Dockerfile of kpi-domains-readmodel-checker
  packages/kpi-domains-readmodel-checker/Dockerfile
Labels: kpi

#2161 PIN-6936 Fix Dockerfile of kpi-domains-readmodel-checker
  packages/kpi-domains-readmodel-checker/Dockerfile
Labels: kpi

#2141 Implement GET /certifiedAttributes endpoint with pagination and autho…
  collections/m2m gateway/agreements/folder.bru
  collections/m2m gateway/attributes/Create certified attribute.bru
  collections/m2m gateway/attributes/Get certified attribute.bru
  collections/m2m gateway/attributes/Get certified attributes.bru
  collections/m2m gateway/attributes/Get declared attribute.bru
  collections/m2m gateway/attributes/Get verified attribute.bru
  collections/m2m gateway/attributes/folder.bru
  collections/m2m gateway/certifiedAttributes/folder.bru
  collections/m2m gateway/delegations/folder.bru
  collections/m2m gateway/eServiceTemplates/folder.bru
  collections/m2m gateway/eservices/folder.bru
  collections/m2m gateway/health/folder.bru
  collections/m2m gateway/keys/folder.bru
  collections/m2m gateway/purposes/folder.bru
  collections/m2m gateway/tenants/folder.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/src/attributeRegistryApi.ts
  packages/api-clients/src/m2mGatewayApi.ts
  packages/attribute-registry-process/src/routers/AttributeRouter.ts
  packages/attribute-registry-process/test/api/getAttributesByKindsNameOrigin.test.ts
  packages/m2m-gateway/src/api/attributeApiConverter.ts
  packages/m2m-gateway/src/routers/attributeRouter.ts
  packages/m2m-gateway/src/services/attributeService.ts
  packages/m2m-gateway/test/api/attributes/createCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/attributes/getCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/attributes/getCertifiedAttributes.test.ts
  packages/m2m-gateway/test/api/attributes/getDeclaredAttribute.test.ts
  packages/m2m-gateway/test/api/attributes/getVerifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/certifiedAttributes/getCertifiedAttributes.test.ts
Labels: api-v2

#2159 [Hotfix] - Added support for wsdl SOAP 1.2 file upload
  packages/commons-test/test/resources/interface-test-soap12.wsdl
  packages/commons-test/test/retrieveServerUrlsAPI.test.ts
  packages/commons/src/eservice-documents/soapFileParser.ts
Labels: hotfix

#2146 PIN-7165 - APIV2 DELETE /agrements/{agrementId}
  collections/m2m gateway/agreements/Delete Agreement.bru
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/test/api/deleteAgreementById.test.ts
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/test/api/agreements/deleteAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/deleteAgreement.test.ts
Labels: api-v2

#2136 PIN-7143 - Refactor the notification config readmodel
  docker/readmodel-db/notification-config.sql
  packages/notification-config-readmodel-writer-sql/src/readModelService.ts
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel-models/src/types.ts
  packages/readmodel/src/notification-config/aggregators.ts
  packages/readmodel/src/notification-config/splitters.ts
  packages/readmodel/src/notification-config/utils.ts
  packages/readmodel/src/notificationConfigReadModelService.ts
  packages/readmodel/src/testUtils.ts
  packages/readmodel/test/notificationConfigAggregator.test.ts
  packages/readmodel/test/notificationConfigQueries.test.ts
  packages/readmodel/test/notificationConfigSplitter.test.ts
Labels: notification-config

#2130 PIN-7202 - APIV2 POST /verifiedAttributes
  collections/m2m gateway/attributes/Create verified attribute.bru
  packages/api-clients/open-api/attributeRegistryApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/attribute-registry-process/src/routers/AttributeRouter.ts
  packages/attribute-registry-process/src/services/attributeRegistryService.ts
  packages/attribute-registry-process/test/api/createVerifiedAttribute.test.ts
  packages/attribute-registry-process/test/integration/createVerifiedAttribute.test.ts
  packages/m2m-gateway/src/routers/attributeRouter.ts
  packages/m2m-gateway/src/services/attributeService.ts
  packages/m2m-gateway/test/api/attributes/createVerifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/attributes/createVerifiedAttribute.test.ts
Labels: api-v2

#2128 PIN-7201 - APIV2 `POST /declaredAttributes`
  collections/m2m gateway/attributes/Create declared attribute.bru
  packages/api-clients/open-api/attributeRegistryApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/attribute-registry-process/src/routers/AttributeRouter.ts
  packages/attribute-registry-process/src/services/attributeRegistryService.ts
  packages/attribute-registry-process/test/api/createDeclaredAttribute.test.ts
  packages/attribute-registry-process/test/integration/createDeclaredAttribute.test.ts
  packages/m2m-gateway/src/routers/attributeRouter.ts
  packages/m2m-gateway/src/services/attributeService.ts
  packages/m2m-gateway/test/api/attributes/createDeclaredAttribute.test.ts
  packages/m2m-gateway/test/integration/attributes/createDeclaredAttribute.test.ts
Labels: api-v2

#2150 PIN-7206 - Add missing origin in m2m admin auth data management in attribute creation services
  collections/m2m gateway/attributes/Create declared attribute.bru
  collections/m2m gateway/attributes/Create verified attribute.bru
  collections/m2m gateway/attributes/Get certified attribute.bru
  collections/m2m gateway/attributes/folder.bru
  packages/api-clients/open-api/attributeRegistryApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/attribute-registry-process/src/routers/AttributeRouter.ts
  packages/attribute-registry-process/src/services/attributeRegistryService.ts
  packages/attribute-registry-process/test/api/createDeclaredAttribute.test.ts
  packages/attribute-registry-process/test/api/createVerifiedAttribute.test.ts
  packages/attribute-registry-process/test/integration/createDeclaredAttribute.test.ts
  packages/attribute-registry-process/test/integration/createVerifiedAttribute.test.ts
  packages/m2m-gateway/src/routers/attributeRouter.ts
  packages/m2m-gateway/src/services/attributeService.ts
  packages/m2m-gateway/test/api/attributes/createDeclaredAttribute.test.ts
  packages/m2m-gateway/test/api/attributes/createVerifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/attributes/createCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/attributes/createDeclaredAttribute.test.ts
  packages/m2m-gateway/test/integration/attributes/createVerifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/attributes/getCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/attributes/getDeclaredAttribute.test.ts
  packages/m2m-gateway/test/integration/attributes/getVerifiedAttribute.test.ts
Labels: api-v2

#2144 PIN-7008 in app notification dispatcher
  package.json
  packages/in-app-notification-dispatcher/.env
  packages/in-app-notification-dispatcher/Dockerfile
  packages/in-app-notification-dispatcher/package.json
  packages/in-app-notification-dispatcher/src/config/config.ts
  packages/in-app-notification-dispatcher/src/handlers/agreements/handleAgreementEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/attributes/handleAttributeEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/authorizations/handleAuthorizationEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/delegations/handleDelegationEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleNewEServiceVersionPublished.ts
  packages/in-app-notification-dispatcher/src/handlers/handlerCommons.ts
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeEvent.ts
  packages/in-app-notification-dispatcher/src/index.ts
  packages/in-app-notification-dispatcher/src/models/errors.ts
  packages/in-app-notification-dispatcher/src/services/inAppNotificationServiceSQL.ts
  packages/in-app-notification-dispatcher/src/services/readModelServiceSQL.ts
  packages/in-app-notification-dispatcher/src/templates/inAppTemplates.ts
  packages/in-app-notification-dispatcher/test/handleNewEServiceVerisionPublished.test.ts
  packages/in-app-notification-dispatcher/test/tsconfig.json
  packages/in-app-notification-dispatcher/test/utils.ts
  packages/in-app-notification-dispatcher/test/vitestGlobalSetup.ts
  packages/in-app-notification-dispatcher/tsconfig.check.json
  packages/in-app-notification-dispatcher/tsconfig.json
  packages/in-app-notification-dispatcher/vitest.config.ts
  packages/models/src/notification/notificationSQLAdapter.ts
  pnpm-lock.yaml
Labels: notification-config

#2169 PIN-7217 - Move upsert/delete client functions to `client-rmw-sql`
  packages/authorization-process/test/integrationUtils.ts
  packages/client-readmodel-writer-sql/src/clientConsumerServiceV1.ts
  packages/client-readmodel-writer-sql/src/clientConsumerServiceV2.ts
  packages/client-readmodel-writer-sql/src/clientWriterService.ts
  packages/client-readmodel-writer-sql/src/index.ts
  packages/client-readmodel-writer-sql/test/clientQueries.test.ts
  packages/client-readmodel-writer-sql/test/consumerServiceV1.test.ts
  packages/client-readmodel-writer-sql/test/consumerServiceV2.test.ts
  packages/client-readmodel-writer-sql/test/utils.ts
  packages/commons-test/src/testUtils.ts
  packages/readmodel-checker/test/clientReadModelCheck.test.ts
  packages/readmodel-checker/test/utils.ts
  packages/readmodel/src/clientReadModelService.ts
  packages/readmodel/src/testUtils.ts
  packages/readmodel/test/clientQueries.test.ts
  packages/readmodel/test/clientUtils.ts
  packages/selfcare-client-users-updater/test/utils.ts
  packages/token-generation-readmodel-checker/test/utils.ts
Labels: readmodel-sql, refactor

#2170 PIN-7218 - Move upsert/delete delegation functions to `delegation-rmw-sql`
  packages/agreement-process/test/integrationUtils.ts
  packages/authorization-process/test/integrationUtils.ts
  packages/catalog-process/test/integrationUtils.ts
  packages/commons-test/src/testUtils.ts
  packages/delegation-process/test/integrationUtils.ts
  packages/delegation-readmodel-writer-sql/package.json
  packages/delegation-readmodel-writer-sql/src/delegationConsumerServiceV2.ts
  packages/delegation-readmodel-writer-sql/src/delegationWriterService.ts
  packages/delegation-readmodel-writer-sql/src/index.ts
  packages/delegation-readmodel-writer-sql/src/readModelService.ts
  packages/delegation-readmodel-writer-sql/test/consumerServiceV2.test.ts
  packages/delegation-readmodel-writer-sql/test/delegationQueries.test.ts
  packages/delegation-readmodel-writer-sql/test/utils.ts
  packages/purpose-process/test/integrationUtils.ts
  packages/readmodel-checker/test/delegationReadModelCheck.test.ts
  packages/readmodel-checker/test/utils.ts
  packages/readmodel/src/delegationReadModelService.ts
  packages/readmodel/src/testUtils.ts
  packages/readmodel/test/delegationQueries.test.ts
  packages/readmodel/test/delegationUtils.ts
  packages/tenant-process/test/integrationUtils.ts
  pnpm-lock.yaml
Labels: readmodel-sql, refactor

#2172 PIN-7219 - Move upsert/delete e-service template functions to `eservice-template-rmw-sql`
  packages/catalog-process/test/integrationUtils.ts
  packages/eservice-template-process/test/integrationUtils.ts
  packages/eservice-template-readmodel-writer-sql/package.json
  packages/eservice-template-readmodel-writer-sql/src/consumerServiceV2.ts
  packages/eservice-template-readmodel-writer-sql/src/eserviceTemplateWriterService.ts
  packages/eservice-template-readmodel-writer-sql/src/index.ts
  packages/eservice-template-readmodel-writer-sql/test/eserviceTemplateQueries.test.ts
  packages/eservice-template-readmodel-writer-sql/test/eserviceTemplateReadmodelWriter.integration.test.ts
  packages/eservice-template-readmodel-writer-sql/test/utils.ts
  packages/readmodel-checker/test/eserviceTemplateReadModelCheck.test.ts
  packages/readmodel-checker/test/utils.ts
  packages/readmodel/src/eserviceTemplateReadModelService.ts
  packages/readmodel/src/testUtils.ts
  packages/readmodel/test/eserviceTemplateQueries.test.ts
  packages/readmodel/test/eserviceTemplateUtils.ts
  pnpm-lock.yaml
Labels: readmodel-sql, refactor

#2182 PIN-7220 - Move upsert/delete producer key functions to `producer-key-readmodel-writer-sql`
  packages/authorization-process/test/integrationUtils.ts
  packages/producer-key-readmodel-writer-sql/src/index.ts
  packages/producer-key-readmodel-writer-sql/src/producerJWKKeyWriterService.ts
  packages/producer-key-readmodel-writer-sql/src/producerKeyConsumerServiceV2.ts
  packages/producer-key-readmodel-writer-sql/src/readModelService.ts
  packages/producer-key-readmodel-writer-sql/test/consumerServiceV2.test.ts
  packages/producer-key-readmodel-writer-sql/test/producerJWKKeyQueries.test.ts
  packages/producer-key-readmodel-writer-sql/test/utils.ts
  packages/readmodel-checker/test/producerKeychainKeyReadModelCheck.test.ts
  packages/readmodel-checker/test/utils.ts
  packages/readmodel/src/producerJWKKeyReadModelService.ts
  packages/readmodel/src/testUtils.ts
  packages/readmodel/test/producerJWKKeyQueries.test.ts
  packages/readmodel/test/producerJWKKeyUtils.ts
Labels: readmodel-sql, refactor

#2177 PIN-6482 Add check on user role on bff for upload document
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
Labels: bug

#2186 PIN-7198 notification-user-lifecycle-consumer
  docker/docker-compose.yml
  docker/user-db/user.sql
  package.json
  packages/commons/src/config/index.ts
  packages/commons/src/config/userSQLDbConfig.ts
  packages/models/src/index.ts
  packages/models/src/user/user.ts
  packages/notification-user-lifecycle-consumer/.env
  packages/notification-user-lifecycle-consumer/Dockerfile
  packages/notification-user-lifecycle-consumer/README.md
  packages/notification-user-lifecycle-consumer/package.json
  packages/notification-user-lifecycle-consumer/src/config/config.ts
  packages/notification-user-lifecycle-consumer/src/index.ts
  packages/notification-user-lifecycle-consumer/src/model/UsersEventPayload.ts
  packages/notification-user-lifecycle-consumer/src/services/messageProcessor.ts
  packages/notification-user-lifecycle-consumer/src/services/readModelServiceSQL.ts
  packages/notification-user-lifecycle-consumer/src/services/userServiceSQL.ts
  packages/notification-user-lifecycle-consumer/test/UsersEventPayload.test.ts
  packages/notification-user-lifecycle-consumer/test/messageProcessor.test.ts
  packages/notification-user-lifecycle-consumer/test/tsconfig.json
  packages/notification-user-lifecycle-consumer/test/vitestGlobalSetup.ts
  packages/notification-user-lifecycle-consumer/tsconfig.check.json
  packages/notification-user-lifecycle-consumer/tsconfig.json
  packages/notification-user-lifecycle-consumer/vitest.config.ts
  packages/notification-user-lifecycle-consumer/vitest.sql.config.ts
  packages/selfcare-client-users-updater/src/services/selfcareClientUsersUpdaterProcessor.ts
  packages/selfcare-client-users-updater/test/selfcareClientUsersUpdaterProcessor.test.ts
  packages/selfcare-user-db-models/drizzle.config.ts
  packages/selfcare-user-db-models/package.json
  packages/selfcare-user-db-models/src/index.ts
  packages/selfcare-user-db-models/src/schema.ts
  packages/selfcare-user-db-models/tsconfig.check.json
  packages/selfcare-user-db-models/tsconfig.json
  pnpm-lock.yaml
Labels: notification-config

#2062 PIN-7100 Add notification paths to BFF
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/inAppNotificationRouter.ts
  packages/backend-for-frontend/src/routers/notificationConfigRouter.ts
Labels: notification-config

#2185 PIN-7222 - Move upsert/delete purpose functions to `purpose-rmw-sql`
  packages/authorization-process/test/integrationUtils.ts
  packages/datalake-data-export/test/utils.ts
  packages/delegation-items-archiver/test/utils.ts
  packages/in-app-notification-dispatcher/test/utils.ts
  packages/notification-email-sender/test/utils.ts
  packages/pn-consumers/test/utils.ts
  packages/purpose-process/test/integrationUtils.ts
  packages/purpose-readmodel-writer-sql/src/index.ts
  packages/purpose-readmodel-writer-sql/src/purposeConsumerServiceV1.ts
  packages/purpose-readmodel-writer-sql/src/purposeConsumerServiceV2.ts
  packages/purpose-readmodel-writer-sql/src/purposeWriterService.ts
  packages/purpose-readmodel-writer-sql/test/purposeQueries.test.ts
  packages/purpose-readmodel-writer-sql/test/purposeReadmodelWriter.integration.test.ts
  packages/purpose-readmodel-writer-sql/test/utils.ts
  packages/purpose-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/readmodel-checker/test/purposeReadModelCheck.test.ts
  packages/readmodel-checker/test/utils.ts
  packages/readmodel/src/purposeReadModelService.ts
  packages/readmodel/src/testUtils.ts
  packages/readmodel/test/purposeQueries.test.ts
  packages/readmodel/test/purposeUtils.ts
  packages/token-generation-readmodel-checker/test/utils.ts
Labels: readmodel-sql, refactor

#2192 PIN-7223 - Move upsert/delete tenant functions to `tenant-rmw-sql`
  packages/agreement-process/test/integrationUtils.ts
  packages/attribute-registry-process/test/integrationUtils.ts
  packages/catalog-process/test/integrationUtils.ts
  packages/certified-email-sender/test/utils.ts
  packages/datalake-data-export/test/utils.ts
  packages/delegation-process/test/integrationUtils.ts
  packages/eservice-template-process/test/integrationUtils.ts
  packages/in-app-notification-dispatcher/test/utils.ts
  packages/notification-email-sender/test/utils.ts
  packages/pn-consumers/test/utils.ts
  packages/purpose-process/test/integrationUtils.ts
  packages/readmodel-checker/test/tenantReadModelCheck.test.ts
  packages/readmodel-checker/test/utils.ts
  packages/readmodel/src/tenantReadModelService.ts
  packages/readmodel/src/testUtils.ts
  packages/readmodel/test/tenantQueries.test.ts
  packages/readmodel/test/tenantUtils.ts
  packages/selfcare-client-users-updater/test/utils.ts
  packages/tenant-process/test/integrationUtils.ts
  packages/tenant-readmodel-writer-sql/src/consumerServiceV1.ts
  packages/tenant-readmodel-writer-sql/src/consumerServiceV2.ts
  packages/tenant-readmodel-writer-sql/src/index.ts
  packages/tenant-readmodel-writer-sql/src/readModelService.ts
  packages/tenant-readmodel-writer-sql/src/tenantWriterService.ts
  packages/tenant-readmodel-writer-sql/test/consumerServiceV1.integration.test.ts
  packages/tenant-readmodel-writer-sql/test/consumerServiceV2.integration.test.ts
  packages/tenant-readmodel-writer-sql/test/tenantQueries.test.ts
  packages/tenant-readmodel-writer-sql/test/utils.ts
  packages/tenant-readmodel-writer-sql/test/vitestGlobalSetup.ts
Labels: readmodel-sql, refactor

#2209 PIN-7351 - Add delegation id new param in m2m after #2140
  collections/agreement/Activate Agreement.bru
  collections/agreement/Suspend Agreement.bru
  collections/m2m gateway/agreements/Approve Agreement.bru
  collections/m2m gateway/agreements/Suspend Agreement.bru
  collections/m2m gateway/agreements/Unsuspend Agreement.bru
  collections/m2m gateway/purposes/Activate purpose.bru
  collections/m2m gateway/purposes/Approve purpose.bru
  collections/m2m gateway/purposes/Suspend purpose.bru
  collections/m2m gateway/purposes/Unsuspend purpose.bru
  collections/purpose/Activate Purpose Version.bru
  collections/purpose/Suspend Purpose Version.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/test/api/agreements/approveAgreement.test.ts
  packages/m2m-gateway/test/api/agreements/suspendAgreement.test.ts
  packages/m2m-gateway/test/api/agreements/unsuspendAgreement.test.ts
  packages/m2m-gateway/test/api/purposes/activatePurpose.test.ts
  packages/m2m-gateway/test/api/purposes/approvePurpose.test.ts
  packages/m2m-gateway/test/api/purposes/suspendPurpose.test.ts
  packages/m2m-gateway/test/api/purposes/unsuspendPurpose.test.ts
  packages/m2m-gateway/test/integration/agreements/approveAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/suspendAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/unsuspendAgreement.test.ts
  packages/m2m-gateway/test/integration/purposes/activatePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/approvePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/suspendPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/unsuspendPurpose.test.ts
Labels: api-v2

#2195 PIN-6939 Fix env of kpi-domains-readmodel-checker
  packages/kpi-domains-readmodel-checker/.env
Labels: kpi

#2212 PIN-7354 fixing delegated purpose creation in API V2
  collections/agreement/Create Agreement.bru
  collections/catalog/Create Eservice.bru
  collections/environments/PagoPA local.bru
  collections/m2m gateway/purposes/Create Reverse Purpose.bru
  collections/m2m gateway/purposes/Create purpose.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/open-api/purposeApi.yml
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/src/utils/validators/validators.ts
  packages/m2m-gateway/test/api/purposes/createPurpose.test.ts
  packages/m2m-gateway/test/api/purposes/createReversePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/createPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/createReversePurpose.test.ts
Labels: bug, api-v2

#2213 Refactor naming of eservice purpose into reverse purpose everywhere and fixing prop casing
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/open-api/purposeApi.yml
  packages/backend-for-frontend/src/services/purposeService.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/test/api/purposes/createReversePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/createReversePurpose.test.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/api/createReversePurpose.test.ts
  packages/purpose-process/test/integration/createReversePurpose.test.ts
  packages/purpose-process/test/mockUtils.ts
Labels: api-v2

#2132 PIN-7209 Add tests for kpi readmodel checker
  packages/commons-test/src/setupTestContainersVitest.ts
  packages/commons-test/src/setupTestContainersVitestGlobal.ts
  packages/domains-analytics-writer/test/utils.ts
  packages/kpi-domains-readmodel-checker/.env
  packages/kpi-domains-readmodel-checker/src/model/agreement/agreement.ts
  packages/kpi-domains-readmodel-checker/src/model/authorization/client.ts
  packages/kpi-domains-readmodel-checker/src/model/authorization/producerKeychain.ts
  packages/kpi-domains-readmodel-checker/src/model/catalog/eservice.ts
  packages/kpi-domains-readmodel-checker/src/model/db/index.ts
  packages/kpi-domains-readmodel-checker/src/model/delegation/delegation.ts
  packages/kpi-domains-readmodel-checker/src/model/eserviceTemplate/eserviceTemplate.ts
  packages/kpi-domains-readmodel-checker/src/model/purpose/purpose.ts
  packages/kpi-domains-readmodel-checker/src/model/tenant/tenant.ts
  packages/kpi-domains-readmodel-checker/src/test/sample.test.ts
  packages/kpi-domains-readmodel-checker/test/agreementReadModelCheck.test.ts
  packages/kpi-domains-readmodel-checker/test/attributeReadModelCheck.test.ts
  packages/kpi-domains-readmodel-checker/test/clientReadModelCheck.test.ts
  packages/kpi-domains-readmodel-checker/test/delegationReadModelCheck.test.ts
  packages/kpi-domains-readmodel-checker/test/eserviceReadModelCheck.test.ts
  packages/kpi-domains-readmodel-checker/test/eserviceTemplateReadModelCheck.test.ts
  packages/kpi-domains-readmodel-checker/test/producerKeychainReadModelCheck.test.ts
  packages/kpi-domains-readmodel-checker/test/purposeReadModelCheck.test.ts
  packages/kpi-domains-readmodel-checker/test/tenantReadModelCheck.test.ts
  packages/kpi-domains-readmodel-checker/test/tsconfig.json
  packages/kpi-domains-readmodel-checker/test/utils.ts
  packages/kpi-domains-readmodel-checker/test/vitestGlobalSetup.ts
  packages/kpi-domains-readmodel-checker/vitest.config.ts
Labels: kpi
