Repository pagopa/interop-be-monorepo, pull requests merged in 2025-03, with the labels that each got.

#1553 PIN-6215 - Update token-generation-states consumerId with purpose consumer id
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/commons-test/src/tokenGenerationReadmodelUtils.ts
  packages/models/src/token-generation-readmodel/token-generation-states-entry.ts
  packages/purpose-platformstate-writer/src/consumerServiceV1.ts
  packages/purpose-platformstate-writer/src/consumerServiceV2.ts
  packages/purpose-platformstate-writer/src/utils.ts
  packages/purpose-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/purpose-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/purpose-platformstate-writer/test/utils.test.ts
Labels: authorization-server, Incaricato

#1624 Added `isNewTemplateVersionAvailable` to instances models in bff
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
Labels: eservice-template

#1616 Rename `audienceDescription` and `instanceId`
  collections/bff/catalog/Create EService Instance From Template.bru
  collections/bff/catalog/Update EService Template Instance general information.bru
  collections/catalog/Create EService from existing Template.bru
  collections/catalog/Edit Eservice Template Instance.bru
  collections/eservice-template/Create EService Template.bru
  collections/eservice-template/Update EService Template  Intended Target.bru
  collections/eservice-template/Update EService Template Description.bru
  collections/eservice-template/Update EService Template.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
  packages/backend-for-frontend/src/api/eserviceTemplateApiConverter.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/catalog-process/src/model/domain/models.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/createEServiceFromTemplate.test.ts
  packages/catalog-process/test/updateDraftDescriptor.test.ts
  packages/catalog-process/test/updateDraftDescriptorTemplateInstance.test.ts
  packages/catalog-process/test/updateEservice.test.ts
  packages/catalog-process/test/updateEserviceTemplateInstance.test.ts
  packages/catalog-process/test/updateTemplateInstanceName.test.ts
  packages/commons-test/src/testUtils.ts
  packages/eservice-template-instances-updater/src/eserviceTemplateInstancesUpdaterConsumerServiceV2.ts
  packages/eservice-template-instances-updater/test/eserviceTemplateInstancesUpdaterConsumerServiceV2.test.ts
  packages/eservice-template-process/src/model/domain/apiConverter.ts
  packages/eservice-template-process/src/model/domain/toEvent.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/updateEServiceTemplate.test.ts
  packages/eservice-template-process/test/updateEServiceTemplateDescription.test.ts
  packages/eservice-template-process/test/updateEServiceTemplateIntendedTarget.test.ts
  packages/eservice-template-process/test/utils.ts
  packages/eservice-template-readmodel-writer/src/consumerServiceV2.ts
  packages/eservice-template-readmodel-writer/test/eserviceTemplateReadmodelWriter.integration.test.ts
  packages/models/proto/v2/eservice-template/eservice-template.proto
  packages/models/proto/v2/eservice-template/events.proto
  packages/models/proto/v2/eservice/eservice.proto
  packages/models/src/eservice-template/eserviceTemplate.ts
  packages/models/src/eservice-template/eserviceTemplateEvents.ts
  packages/models/src/eservice/eservice.ts
  packages/models/src/eservice/protobufConverterFromV2.ts
Labels: eservice-template

#1447 PIN-6062 DB schema
  docker/docker-compose.yml
  docker/pg-pass
  docker/pg-servers.json
  docker/readmodel-db/agreement.sql
  docker/readmodel-db/attribute.sql
  docker/readmodel-db/catalog.sql
  docker/readmodel-db/client-jwk-key.sql
  docker/readmodel-db/client.sql
  docker/readmodel-db/delegation.sql
  docker/readmodel-db/producer-jwk-key.sql
  docker/readmodel-db/producer-keychain.sql
  docker/readmodel-db/purpose.sql
  docker/readmodel-db/tenant.sql
Labels: readmodel-sql

#1454 Enhance user and tenant information on invalidToken errors
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/model/errors.ts
  packages/backend-for-frontend/src/routers/authorizationRouter.ts
  packages/backend-for-frontend/src/services/authorizationService.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
  packages/commons-test/test/jwt.unit.test.ts
  packages/commons/src/auth/authenticationMiddleware.ts
  packages/commons/src/auth/jwt.ts
  packages/models/src/errors.ts
Labels: bff, mixed-activity

#1614 Pin 6323 rinomina servivi internal catalog process
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/createTemplateInstanceDescriptorDocument.test.ts
  packages/catalog-process/test/deleteTemplateInstanceDescriptorDocument.test.ts
  packages/catalog-process/test/updateTemplateInstanceDescription.test.ts
  packages/catalog-process/test/updateTemplateInstanceDescriptorAttributes.test.ts
  packages/catalog-process/test/updateTemplateInstanceDescriptorDocument.test.ts
  packages/catalog-process/test/updateTemplateInstanceDescriptorVoucherLifespan.test.ts
  packages/catalog-process/test/updateTemplateInstanceName.test.ts
Labels: eservice-template

#1627 Updated eservice template API spec paths
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
Labels: eservice-template

#1617 Pin 6322 check eservice template ref template version ref
  packages/api-clients/open-api/apiGatewayApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/api-gateway/src/services/catalogService.ts
Labels: eservice-template

#1599 Fixed archived purpose cannot be cloned
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/test/clonePurpose.test.ts
Labels: bug

#1604 Add cache to turbo
  .github/workflows/pr.yml
  package.json
  turbo.json
Labels: mixed-activity

#1600 Fix create attributes .bru files
  collections/attribute/Create certified attribute.bru
  collections/attribute/Create declared attribute.bru
  collections/attribute/Create verified attribute.bru
  collections/attribute/Get attributes.bru
Labels: bug

#1603 Fix permission download risk analysis
  packages/purpose-process/src/routers/PurposeRouter.ts
Labels: bug

#1607 Fixed archived purpose cannot be updated
  packages/purpose-process/src/model/domain/errors.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/createPurposeVersion.test.ts
Labels: bug

#1639 Renamed `EServiceIntendedTarget` to `EServiceTemplateIntendedTarget`
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/eservice-template-instances-updater/src/eserviceTemplateInstancesUpdaterConsumerServiceV2.ts
  packages/eservice-template-instances-updater/test/eserviceTemplateInstancesUpdaterConsumerServiceV2.test.ts
  packages/eservice-template-process/src/model/domain/toEvent.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/updateEServiceTemplateIntendedTarget.test.ts
  packages/eservice-template-readmodel-writer/src/consumerServiceV2.ts
  packages/models/proto/v2/eservice-template/events.proto
  packages/models/src/eservice-template/eserviceTemplateEvents.ts
Labels: eservice-template

#1449 PIN-6073 - Add scaffolding for readmodel package
  packages/commons-test/package.json
  packages/commons-test/src/containerTestUtils.ts
  packages/commons-test/src/setupTestContainersVitest.ts
  packages/commons-test/src/setupTestContainersVitestGlobal.ts
  packages/commons/src/config/consumerServiceConfig.ts
  packages/commons/src/config/index.ts
  packages/commons/src/config/readmodelSQLDbConfig.ts
  packages/models/src/agreement/agreement.ts
  packages/models/src/delegation/delegation.ts
  packages/models/src/risk-analysis/riskAnalysis.ts
  packages/models/src/utils.ts
  packages/readmodel-models/.env
  packages/readmodel-models/drizzle.config.ts
  packages/readmodel-models/package.json
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel-models/src/index.ts
  packages/readmodel-models/src/types.ts
  packages/readmodel-models/tsconfig.check.json
  packages/readmodel-models/tsconfig.json
  packages/readmodel/.env
  packages/readmodel/package.json
  packages/readmodel/src/index.ts
  packages/readmodel/src/utils.ts
  packages/readmodel/test/.eslintrc.json
  packages/readmodel/test/sample.test.ts
  packages/readmodel/test/tsconfig.json
  packages/readmodel/test/utils.ts
  packages/readmodel/test/vitestGlobalSetup.ts
  packages/readmodel/tsconfig.check.json
  packages/readmodel/tsconfig.json
  packages/readmodel/vitest.config.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1574 PIN-5850 - restrict purposes visibility only to allowed tenants
  packages/agreement-process/src/utilities/errorMappers.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/readModelService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/src/utilities/errorMappers.ts
  packages/purpose-process/test/clonePurpose.test.ts
  packages/purpose-process/test/getLatestRiskAnalysisConfiguration.test.ts
  packages/purpose-process/test/getPurposeById.test.ts
  packages/purpose-process/test/getPurposes.test.ts
  packages/purpose-process/test/getRiskAnalysisConfigurationByVersion.test.ts
  packages/purpose-process/test/getRiskAnalysisDocument.test.ts
  packages/purpose-process/test/rejectPurposeVersion.test.ts
  packages/purpose-process/test/utils.ts
Labels: purpose-process, mixed-activity

#1647 Fix e-service templates [Part 2]
  collections/eservice-template/Update EService Template  Intended Target.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/backend-for-frontend/src/api/eserviceTemplateApiConverter.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
Labels: eservice-template

#1642 Added BFF export assertion when eservice is instance of template
  packages/backend-for-frontend/src/model/errors.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/services/validators.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
Labels: bug, bff, eservice-template

#1450 PIN-6087 Add attribute splitter and aggregator
  packages/commons-test/src/testUtils.ts
  packages/readmodel/src/attribute/aggregators.ts
  packages/readmodel/src/attribute/splitters.ts
  packages/readmodel/test/attributeAggregator.test.ts
  packages/readmodel/test/attributeSplitter.test.ts
  packages/readmodel/test/sample.test.ts
Labels: readmodel-sql

#1653 Fix missing `templateVersionRef` after interface upload in e-service template instance
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
  packages/catalog-process/src/services/catalogService.ts
Labels: eservice-template

#1567 PIN-6217 Attribute queries
  packages/commons-test/src/setupTestContainersVitest.ts
  packages/readmodel-models/src/types.ts
  packages/readmodel/src/attributeReadModelService.ts
  packages/readmodel/src/index.ts
  packages/readmodel/src/utils.ts
  packages/readmodel/test/attributeQueries.test.ts
  packages/readmodel/test/attributeUtils.ts
Labels: readmodel-sql

#1650 Allow descriptor creation on e-service instance
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-process/src/model/domain/errors.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/services/validators.ts
  packages/catalog-process/src/utilities/errorMappers.ts
  packages/catalog-process/src/utilities/versionGenerator.ts
  packages/catalog-process/test/createTemplateInstanceDescriptor.test.ts
  packages/eservice-template-instances-updater/src/eserviceTemplateInstancesUpdaterConsumerServiceV2.ts
  packages/models/src/eservice-template/eserviceTemplate.ts
Labels: eservice-template

#1643 PIN-6260 SOAP support add interface by template
  collections/bff/catalog/Add e-service interface document by template REST.bru
  collections/bff/catalog/Add e-service interface document by template SOAP.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/backend-for-frontend/test/eserviceTemplateService.test.ts
  packages/backend-for-frontend/test/utils.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/commons/src/eservice-documents/eserviceDocumentUtils.ts
  packages/commons/src/eservice-documents/restFileParser.ts
  packages/commons/src/eservice-documents/soapFileParser.ts
  packages/models/proto/v2/eservice/eservice.proto
  packages/models/src/errors.ts
  packages/models/src/eservice/eservice.ts
Labels: eservice-template

#1641 Pin 5178 update purpose wrong
  collections/bff/purposes/create Purpose Version.bru
  collections/bff/purposes/create Purpose.bru
  collections/bff/purposes/update Purpose.bru
  packages/backend-for-frontend/src/services/purposeService.ts
Labels: bug

#1648 PIN 6367 - Eservice template outboud writer
  packages/eservice-template-outbound-writer/.env
  packages/eservice-template-outbound-writer/Dockerfile
  packages/eservice-template-outbound-writer/package.json
  packages/eservice-template-outbound-writer/src/config/config.ts
  packages/eservice-template-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/eservice-template-outbound-writer/src/index.ts
  packages/eservice-template-outbound-writer/tsconfig.check.json
  packages/eservice-template-outbound-writer/tsconfig.json
  packages/models/src/eservice-template/eserviceTemplateEvents.ts
  pnpm-lock.yaml
Labels: eservice-template

#1662 EService template fixes [Part 4]
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-process/src/model/domain/models.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/deleteDocument.test.ts
  packages/catalog-process/test/upgradeEserviceTemplateInstance.test.ts
  packages/models/src/eservice-template/eserviceTemplate.ts
Labels: eservice-template

#1655 Add assertion to check Security role cannot get keys if not client member
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/getClientKeys.test.ts
Labels: bug

#1680 Added check e-service name availability bff route
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
Labels: bff

#1681 Re-adding local KMS key to local well-known
  collections/bff/authorization/get Session Token.bru
  docker/local-kms-seed/jwks.json
  packages/agreement-process/.env
  packages/anac-certified-attributes-importer/.env
  packages/api-gateway/.env
  packages/attribute-registry-process/.env
  packages/authorization-process/.env
  packages/authorization-updater/.env
  packages/backend-for-frontend/.env
  packages/catalog-process/.env
  packages/client-purpose-updater/.env
  packages/commons-test/test/jwt.unit.test.ts
  packages/compute-agreements-consumer/.env
  packages/delegation-items-archiver/.env
  packages/delegation-process/.env
  packages/eservice-descriptors-archiver/.env
  packages/eservice-template-instances-updater/.env
  packages/eservice-template-process/.env
  packages/ipa-certified-attributes-importer/.env
  packages/ivass-certified-attributes-importer/.env
  packages/purpose-process/.env
  packages/selfcare-onboarding-consumer/.env
  packages/tenant-process/.env
Labels: bug

#1678 Bump xml-crypto from 6.0.0 to 6.0.1 (main)
  packages/backend-for-frontend/package.json
  pnpm-lock.yaml
Labels: dependencies, OER, hotfix

#1685 Removed double call from bff to tenant-process getTenant service
  packages/backend-for-frontend/src/services/authorizationService.ts
Labels: mixed-activity

#1656 Security role cannot get key if not member
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/getClientKeyById.test.ts
Labels: bug

#1679 PIN-6460 update env var db schema
  packages/attribute-registry-readmodel-writer-sql/.env
  packages/commons-test/src/setupTestContainersVitest.ts
  packages/commons/src/config/readmodelSQLDbConfig.ts
  packages/readmodel-models/.env
  packages/readmodel-models/drizzle.config.ts
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel-models/src/pgSchema.ts
  packages/readmodel/.env
Labels: readmodel-sql

#1674 Fixing e-service templates Bruno calls
  collections/catalog/Add e-service template instance interface REST.bru
  collections/catalog/Add e-service template instance interface SOAP.bru
  collections/catalog/Create EService from existing Template.bru
  collections/eservice-template/Activate EService Template Version.bru
  collections/eservice-template/Add EService Template Risk Analysis.bru
  collections/eservice-template/Add Version Document.bru
  collections/eservice-template/Create EService Template Version.bru
  collections/eservice-template/Create EService Template.bru
  collections/eservice-template/Delete EService Template Risk Analysis.bru
  collections/eservice-template/Delete EService Template Version.bru
  collections/eservice-template/Get EService Template Document by TemplateVersion and DocumentId.bru
  collections/eservice-template/Publish EService Template Version.bru
  collections/eservice-template/Suspend EService Template Version.bru
  collections/eservice-template/Update EService Template  Intended Target.bru
  collections/eservice-template/Update EService Template Description.bru
  collections/eservice-template/Update EService Template Name.bru
  collections/eservice-template/Update EService Template Risk Analysis.bru
  collections/eservice-template/Update EService Template Version Attributes.bru
  collections/eservice-template/Update EService Template Version Quotas.bru
  collections/eservice-template/Update EService Template.bru
  collections/eservice-template/Update draft version.bru
Labels: eservice-template

#1686 FIX - Add interface to Eservice Template Instsance
  packages/catalog-process/src/services/catalogService.ts
Labels: bug, eservice-template

#1687 Fix e-service template [Part 5]
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
Labels: bug, eservice-template

#1470 PIN-6095 - Add ClientJWKKeySQL splitter and aggregator
  packages/readmodel/src/authorization/clientJWKKeyAggregators.ts
  packages/readmodel/src/authorization/clientJWKKeySplitters.ts
  packages/readmodel/test/clientJWKKeyAggregator.test.ts
  packages/readmodel/test/clientJWKKeySplitter.test.ts
  packages/readmodel/test/clientJWKKeyUtils.ts
Labels: readmodel-sql

#1474 PIN-6096 - Add ProducerJWKKeySQL splitters and aggregators
  packages/readmodel/src/authorization/producerJWKKeyAggregators.ts
  packages/readmodel/src/authorization/producerJWKKeySplitters.ts
  packages/readmodel/test/producerJWKKeyAggregator.test.ts
  packages/readmodel/test/producerJWKKeySplitter.test.ts
  packages/readmodel/test/producerJWKKeyUtils.ts
Labels: readmodel-sql

#1700 Bumped outbound models and updated catalog outbound writer
  packages/agreement-outbound-writer/package.json
  packages/catalog-outbound-writer/package.json
  packages/catalog-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/delegation-outbound-writer/package.json
  packages/eservice-template-outbound-writer/package.json
  packages/purpose-outbound-writer/package.json
  packages/tenant-outbound-writer/package.json
  pnpm-lock.yaml
Labels: eservice-template

#1704 PIN-6502 - Added 404 error if template not exists in get e-service template instances
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
Labels: eservice-template

#1682 Add pagination to listing key
  collections/authorization/Create Client Keys.bru
  packages/api-clients/open-api/authorizationApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/test/getClientKeys.test.ts
  packages/backend-for-frontend/src/routers/clientRouter.ts
  packages/backend-for-frontend/src/services/clientService.ts
Labels: mixed-activity

#1703 PIN-6479 - Add delegation in producer e-service details bff model
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/services/catalogService.ts
Labels: bff

#1569 PIN-6219 Agreement queries
  packages/commons-test/src/testUtils.ts
  packages/readmodel/src/agreement/aggregators.ts
  packages/readmodel/src/agreementReadModelService.ts
  packages/readmodel/src/attributeReadModelService.ts
  packages/readmodel/src/index.ts
  packages/readmodel/src/utils.ts
  packages/readmodel/test/agreementQueries.test.ts
  packages/readmodel/test/agreementSplitter.test.ts
  packages/readmodel/test/agreementUtils.ts
Labels: readmodel-sql

#1706 PIN-6513 - Added missing service update instance descriptor
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/services/validators.ts
  packages/catalog-process/src/utilities/errorMappers.ts
  packages/catalog-process/test/updateTemplateInstanceDescriptor.test.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
Labels: eservice-template
