Repository pagopa/interop-be-monorepo, pull requests merged in 2025-01, with the labels that each got.

#1331 IMN-791 - Fix agreement-platformstate-writer
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
Labels: authorization-server

#1332 Hotfix: Added `producerId` in `PublicEService` dtd data export
  packages/dtd-catalog-exporter/src/models/converters.ts
  packages/dtd-catalog-exporter/src/models/models.ts
  packages/dtd-catalog-exporter/test/exportDtdPublicCatalog.test.ts
Labels: hotfix

#1337 Fix platformstate writers
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/catalog-platformstate-writer/src/consumerServiceV1.ts
Labels: authorization-server

#1345 Fix agreement timestamp for upgrade
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/agreement-platformstate-writer/test/consumerServiceV2.integration.test.ts
Labels: authorization-server

#1346 Add debugging logs in authorization-platformstate-writer
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
Labels: authorization-server

#1348 Fix authorization platformstate writer
  docker/dynamo-db/schema/token-generation-states-dynamo-db.json
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/backend-for-frontend/src/services/toolService.ts
  packages/commons-test/src/setupDynamoDBtables.ts
  packages/commons-test/src/testUtils.ts
  packages/commons-test/src/tokenGenerationReadmodelUtils.ts
  packages/models/src/brandedIds.ts
  packages/models/src/token-generation-readmodel/commons.ts
  packages/models/src/token-generation-readmodel/token-generation-states-entry.ts
Labels: authorization-server

#1353 Add logging in platformstate writers
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-platformstate-writer/src/utils.ts
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/agreement-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/agreement-platformstate-writer/test/utils.test.ts
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
  packages/catalog-platformstate-writer/src/consumerServiceV1.ts
  packages/catalog-platformstate-writer/src/consumerServiceV2.ts
  packages/catalog-platformstate-writer/src/index.ts
  packages/catalog-platformstate-writer/src/utils.ts
  packages/catalog-platformstate-writer/test/consumerServiceV1.test.ts
  packages/catalog-platformstate-writer/test/consumerServiceV2.test.ts
  packages/catalog-platformstate-writer/test/utils.test.ts
  packages/purpose-platformstate-writer/src/consumerServiceV1.ts
  packages/purpose-platformstate-writer/src/consumerServiceV2.ts
  packages/purpose-platformstate-writer/src/utils.ts
  packages/purpose-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/purpose-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/purpose-platformstate-writer/test/utils.test.ts
Labels: authorization-server

#1354 Set ConsistentRead in platformstate-writers
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-platformstate-writer/src/utils.ts
  packages/agreement-platformstate-writer/test/utils.test.ts
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
  packages/catalog-platformstate-writer/src/utils.ts
  packages/purpose-platformstate-writer/src/utils.ts
Labels: authorization-server

#1350 Fix generated schemas/types
  packages/api-clients/generate.ts
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/services/producerKeychainService.ts
Labels: improvement

#1352 Pin 5917: add delegate contactMail to agreement
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/services/agreementService.ts
Labels: bff, Incaricato

#1356 Fix ClientPurposeRemoved in authorization-platformstate-writer
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
Labels: authorization-server

#1357 Fix ClientKeyDeleted in authorization-platformstate-writer
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
Labels: authorization-server

#1360 Fix ClientKeyAdded in authorization-platformstate-writer
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
Labels: authorization-server

#1289 PIN-5405: fix agreement-platformstate-writer for pending agreement upgrade
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-platformstate-writer/src/utils.ts
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/agreement-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/catalog-platformstate-writer/src/consumerServiceV1.ts
  packages/catalog-platformstate-writer/src/consumerServiceV2.ts
Labels: authorization-server

#1119 IMN-883 Add token-generation-readmodel-checker
  package.json
  packages/token-generation-readmodel-checker/.env
  packages/token-generation-readmodel-checker/Dockerfile
  packages/token-generation-readmodel-checker/README.md
  packages/token-generation-readmodel-checker/aws.config.local
  packages/token-generation-readmodel-checker/package.json
  packages/token-generation-readmodel-checker/src/configs/config.ts
  packages/token-generation-readmodel-checker/src/index.ts
  packages/token-generation-readmodel-checker/src/models/types.ts
  packages/token-generation-readmodel-checker/src/services/readModelService.ts
  packages/token-generation-readmodel-checker/src/services/tokenGenerationReadModelService.ts
  packages/token-generation-readmodel-checker/src/utils/utils.ts
  packages/token-generation-readmodel-checker/test/tokenGenerationReadModelChecker.test.ts
  packages/token-generation-readmodel-checker/test/tsconfig.json
  packages/token-generation-readmodel-checker/test/utils.test.ts
  packages/token-generation-readmodel-checker/test/utils.ts
  packages/token-generation-readmodel-checker/test/vitestGlobalSetup.ts
  packages/token-generation-readmodel-checker/tsconfig.check.json
  packages/token-generation-readmodel-checker/tsconfig.json
  packages/token-generation-readmodel-checker/vitest.config.ts
  pnpm-lock.yaml
Labels: authorization-server

#1326 Pin 5816: purposes with consumer delegation
  packages/agreement-outbound-writer/package.json
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/purposeApi.yml
  packages/backend-for-frontend/src/services/purposeService.ts
  packages/catalog-outbound-writer/package.json
  packages/datalake-data-export/src/config/models/models.ts
  packages/delegation-outbound-writer/package.json
  packages/models/proto/v2/purpose/purpose.proto
  packages/models/src/purpose/protobufConverterFromV2.ts
  packages/models/src/purpose/purpose.ts
  packages/purpose-outbound-writer/package.json
  packages/purpose-process/src/model/domain/apiConverter.ts
  packages/purpose-process/src/model/domain/errors.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/readModelService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/src/utilities/errorMappers.ts
  packages/purpose-process/test/activatePurposeVersion.test.ts
  packages/purpose-process/test/archivePurposeVersion.test.ts
  packages/purpose-process/test/createPurpose.test.ts
  packages/purpose-process/test/createPurposeVersion.test.ts
  packages/purpose-process/test/createReversePurpose.test.ts
  packages/purpose-process/test/deletePurpose.test.ts
  packages/purpose-process/test/deletePurposeVersion.test.ts
  packages/purpose-process/test/getPurposes.test.ts
  packages/purpose-process/test/getRiskAnalysisDocument.test.ts
  packages/purpose-process/test/rejectPurposeVersion.test.ts
  packages/purpose-process/test/suspendPurposeVersion.test.ts
  packages/purpose-process/test/updatePurpose.test.ts
  packages/tenant-outbound-writer/package.json
  pnpm-lock.yaml
Labels: bff, purpose-process, Incaricato

#1335 PIN-5617 Add delegation to GET /purpose/:purposeId
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/purposeRouter.ts
  packages/backend-for-frontend/src/services/purposeService.ts
  packages/purpose-process/src/services/purposeService.ts
Labels: purpose-process, Incaricato

#1362 Platformstate writers idempotence
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
Labels: authorization-server

#1330 IMN-787 Fix config in token-details-persister
  packages/kafka-iam-auth/src/index.ts
Labels: authorization-server

#1368 Improve purpose delegation handling
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/purposeApi.yml
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/readModelService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/src/utilities/errorMappers.ts
Labels: purpose-process, Incaricato

#1364 PIN-5893 Add eservice name update
  packages/api-clients/open-api/catalogApi.yml
  packages/authorization-updater/src/index.ts
  packages/catalog-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/catalog-platformstate-writer/src/consumerServiceV2.ts
  packages/catalog-process/src/model/domain/toEvent.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/utilities/errorMappers.ts
  packages/catalog-process/test/updateEServiceName.test.ts
  packages/catalog-readmodel-writer/src/consumerServiceV2.ts
  packages/catalog-readmodel-writer/test/catalogReadmodelWriter.integration.test.ts
  packages/models/proto/v2/eservice/events.proto
  packages/models/src/eservice/eserviceEvents.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationConverter.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationMessage.ts
Labels: small-activity

#1371 Fix GSISK_agreementTimestamp in token-generation-readmodel-checker
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-platformstate-writer/src/utils.ts
  packages/agreement-platformstate-writer/test/utils.test.ts
  packages/catalog-platformstate-writer/src/consumerServiceV2.ts
  packages/token-generation-readmodel-checker/src/utils/utils.ts
Labels: authorization-server

#1365 PIN-5938 Add eservice name update in bff
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
Labels: small-activity

#1366 PIN-5939 Edit endpoint for eservice description update
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
Labels: small-activity

#1271 PIN-5500: added 'caching" tenant within enhanceCatalogEService method
  packages/backend-for-frontend/src/services/catalogService.ts
Labels: bff, hotfix

#1372 PIN-5891 Feature: add eservice name update
  packages/agreement-outbound-writer/package.json
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/authorization-updater/src/index.ts
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-outbound-writer/package.json
  packages/catalog-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/catalog-platformstate-writer/src/consumerServiceV2.ts
  packages/catalog-process/src/model/domain/toEvent.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/utilities/errorMappers.ts
  packages/catalog-process/test/updateEServiceName.test.ts
  packages/catalog-readmodel-writer/src/consumerServiceV2.ts
  packages/catalog-readmodel-writer/test/catalogReadmodelWriter.integration.test.ts
  packages/models/proto/v2/eservice/events.proto
  packages/models/src/eservice/eserviceEvents.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationConverter.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationMessage.ts
  packages/purpose-outbound-writer/package.json
  packages/tenant-outbound-writer/package.json
  pnpm-lock.yaml
Labels: small-activity

#1347 PIN-5909: update riskAnalysis document
  packages/agreement-process/src/services/agreementContractBuilder.ts
  packages/agreement-process/test/upgradeAgreement.test.ts
  packages/commons/src/pdf-generator/pdfGenerator.ts
  packages/models/src/purpose/purpose.ts
  packages/purpose-process/src/model/domain/models.ts
  packages/purpose-process/src/resources/templates/documents/riskAnalysisTemplate.html
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/riskAnalysisDocumentBuilder.ts
  packages/purpose-process/test/activatePurposeVersion.test.ts
  packages/purpose-process/test/createPurposeVersion.test.ts
  packages/purpose-process/test/utils.ts
Labels: capofila, purpose-process, Incaricato

#1376 Update platformstate-writers with agreement changes in platform-states
  docker/dynamo-db/schema/platform-states-dynamo-db.json
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-platformstate-writer/src/utils.ts
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/agreement-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/agreement-platformstate-writer/test/utils.test.ts
  packages/authorization-platformstate-writer/src/consumerServiceV1.ts
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
  packages/commons-test/src/setupDynamoDBtables.ts
  packages/commons-test/src/testUtils.ts
  packages/commons-test/src/tokenGenerationReadmodelUtils.ts
  packages/models/src/brandedIds.ts
  packages/models/src/token-generation-readmodel/commons.ts
  packages/models/src/token-generation-readmodel/platform-states-entry.ts
  packages/purpose-platformstate-writer/src/utils.ts
  packages/purpose-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/purpose-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/purpose-platformstate-writer/test/utils.test.ts
  packages/purpose-platformstate-writer/test/utils.ts
  packages/token-generation-readmodel-checker/src/models/types.ts
  packages/token-generation-readmodel-checker/src/utils/utils.ts
  packages/token-generation-readmodel-checker/test/tokenGenerationReadModelChecker.test.ts
  packages/token-generation-readmodel-checker/test/utils.test.ts
Labels: authorization-server

#1334 PIN-5881 updatePurpose delegtion test
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/agreementConsumerDocuments.test.ts
  packages/agreement-process/test/archiveAgreement.test.ts
  packages/agreement-process/test/cloneAgreement.test.ts
  packages/agreement-process/test/deleteAgreement.test.ts
  packages/agreement-process/test/submitAgreement.test.ts
  packages/agreement-process/test/updateAgreement.test.ts
  packages/agreement-process/test/upgradeAgreement.test.ts
  packages/agreement-process/test/utils.ts
  packages/agreement-readmodel-writer/package.json
  packages/commons-test/src/testUtils.ts
  packages/purpose-process/src/services/readModelService.ts
  packages/purpose-process/test/updatePurpose.test.ts
Labels: purpose-process, Incaricato

#1375 Add process exit to token-generation-readmodel-checker
  packages/token-generation-readmodel-checker/package.json
  packages/token-generation-readmodel-checker/src/index.ts
Labels: authorization-server

#1379 Fix archiving in token-generation-readmodel-checker
  packages/token-generation-readmodel-checker/src/utils/utils.ts
  packages/token-generation-readmodel-checker/test/tokenGenerationReadModelChecker.test.ts
Labels: authorization-server

#1382 Pin 5910: incaricato new risk analysis template
  packages/purpose-process/src/model/domain/models.ts
  packages/purpose-process/src/resources/templates/documents/riskAnalysisTemplate.html
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/riskAnalysisDocumentBuilder.ts
  packages/purpose-process/test/activatePurposeVersion.test.ts
  packages/purpose-process/test/createPurposeVersion.test.ts
Labels: purpose-process, Incaricato

#1387 Update authorization-server routes
  packages/api-clients/open-api/authorizationServerApi.yml
  packages/authorization-server/src/routers/AuthorizationServerRouter.ts
  packages/authorization-server/src/routers/HealthRouter.ts
Labels: authorization-server

#1355 PIN-5619 clone purpose
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/clonePurpose.test.ts
Labels: purpose-process, Incaricato

#1349 PIN-5220 Update selfacare Api pt2 Based on main
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/submitAgreement.test.ts
  packages/api-clients/open-api/selfcareV2ClientApi.yml
  packages/api-clients/src/selfcareClients.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/test/addClientUsers.test.ts
  packages/authorization-process/test/addProducerKeychainUsers.test.ts
  packages/authorization-process/test/createKeys.test.ts
  packages/authorization-process/test/createProducerKeychainKey.test.ts
  packages/backend-for-frontend/src/api/selfcareApiConverter.ts
  packages/backend-for-frontend/src/clients/clientsProvider.ts
  packages/backend-for-frontend/src/routers/selfcareRouter.ts
  packages/backend-for-frontend/src/routers/tenantRouter.ts
  packages/backend-for-frontend/src/services/clientService.ts
  packages/backend-for-frontend/src/services/selfcareService.ts
  packages/backend-for-frontend/src/services/tenantService.ts
Labels: selfcare

#1344 PIN-5889 activatePurposeVersion and updatePurpose delegation test
  packages/purpose-process/test/activatePurposeVersion.test.ts
  packages/purpose-process/test/updatePurpose.test.ts
Labels: purpose-process, Incaricato

#1340 PIN-5901 createPurpose delegation test
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/test/createPurpose.test.ts
Labels: purpose-process, Incaricato

#1370 PIN-5620 addClientPurpose delegator
  packages/authorization-process/test/addClientPurpose.test.ts
  packages/authorization-process/test/utils.ts
Labels: authorization-process, Incaricato

#1309 PIN-5854 - Allow configuration of delegations allowed origins
  packages/delegation-process/src/config/config.ts
  packages/delegation-process/src/model/domain/errors.ts
  packages/delegation-process/src/model/domain/models.ts
  packages/delegation-process/src/resources/templates/delegationApprovedTemplate.html
  packages/delegation-process/src/resources/templates/delegationRevokedTemplate.html
  packages/delegation-process/src/services/delegationContractBuilder.ts
  packages/delegation-process/src/services/delegationProducerService.ts
  packages/delegation-process/src/services/validators.ts
  packages/delegation-process/src/utilities/errorMappers.ts
  packages/delegation-process/test/approveProducerDelegation.test.ts
  packages/delegation-process/test/createProducerDelegation.test.ts
  packages/delegation-process/test/revokeProducerDelegation.test.ts
  packages/tenant-process/src/config/config.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/src/services/validators.ts
Labels: capofila

#1394 Add missing handlers in agreement-platformstate-writer
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-platformstate-writer/src/utils.ts
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/agreement-platformstate-writer/test/consumerServiceV2.integration.test.ts
Labels: authorization-server

#1399 Add handler for descriptor deprecation in catalog-platformstate-writer
  packages/catalog-platformstate-writer/src/consumerServiceV1.ts
  packages/catalog-platformstate-writer/test/consumerServiceV1.test.ts
Labels: authorization-server

#1401 Pin 6007: add is delegable filter in getEservices
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-process/src/model/domain/models.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/services/readModelService.ts
  packages/catalog-process/test/getEservices.test.ts
Labels: bff, catalog-process, Incaricato

#1406 Remove platform-states delete from agreement-platformstate-writer
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-platformstate-writer/src/utils.ts
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/agreement-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/agreement-platformstate-writer/test/utils.test.ts
Labels: authorization-server

#1400 Fix token-generation-readmodel-checker
  packages/token-generation-readmodel-checker/.env
  packages/token-generation-readmodel-checker/src/configs/config.ts
  packages/token-generation-readmodel-checker/src/services/tokenGenerationReadModelService.ts
  packages/token-generation-readmodel-checker/src/utils/utils.ts
  packages/token-generation-readmodel-checker/test/tokenGenerationReadModelChecker.test.ts
Labels: authorization-server

#1403 PIN-5972 - `eservice-template-process` scaffolding
  docker/event-store-init.sql
  packages/eservice-template-process/.env
  packages/eservice-template-process/Dockerfile
  packages/eservice-template-process/aws.config.local
  packages/eservice-template-process/package.json
  packages/eservice-template-process/src/app.ts
  packages/eservice-template-process/src/config/config.ts
  packages/eservice-template-process/src/index.ts
  packages/eservice-template-process/src/model/domain/apiConverter.ts
  packages/eservice-template-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/model/domain/toEvent.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/routers/HealthRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/.eslintrc.json
  packages/eservice-template-process/test/getEServiceTemplates.test.ts
  packages/eservice-template-process/test/utils.ts
  packages/eservice-template-process/test/vitestGlobalSetup.ts
  packages/eservice-template-process/tsconfig.check.json
  packages/eservice-template-process/tsconfig.json
  packages/eservice-template-process/vitest.config.ts
  pnpm-lock.yaml
Labels: eservice-template

#1342 PIN-5886 createReversePurpose delegation test
  packages/delegation-process/test/approveConsumerDelegation.test.ts
  packages/delegation-process/test/revokeConsumerDelegation.test.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/test/createPurpose.test.ts
  packages/purpose-process/test/createReversePurpose.test.ts
  packages/tenant-process/src/model/domain/errors.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/src/services/validators.ts
  packages/tenant-process/src/utilities/errorMappers.ts
  packages/tenant-process/test/assignTenantDelegatedConsumerFeature.test.ts
  packages/tenant-process/test/assignTenantDelegatedProducerFeature.test.ts
  packages/tenant-process/test/removeTenantDelegatedConsumerFeature.test.ts
  packages/tenant-process/test/removeTenantDelegatedProducerFeature.test.ts
Labels: purpose-process, Incaricato

#1374 PIN-5961: added delegation-items-archiver scaffold
  packages/delegation-items-archiver/.env
  packages/delegation-items-archiver/Dockerfile
  packages/delegation-items-archiver/package.json
  packages/delegation-items-archiver/src/clients/clientsProvider.ts
  packages/delegation-items-archiver/src/config/config.ts
  packages/delegation-items-archiver/src/delegationItemsArchiverConsumerServiceV2.ts
  packages/delegation-items-archiver/src/index.ts
  packages/delegation-items-archiver/test/delegationItemsArchiverConsumerServiceV2.test.ts
  packages/delegation-items-archiver/test/tsconfig.json
  packages/delegation-items-archiver/test/vitestGlobalSetup.ts
  packages/delegation-items-archiver/tsconfig.check.json
  packages/delegation-items-archiver/tsconfig.json
  packages/delegation-items-archiver/vitest.config.ts
  pnpm-lock.yaml
Labels: Incaricato

#1407 PIN-6009 fix asserts and add retrieve purpose delegation in purpose-process
  packages/purpose-process/src/model/domain/errors.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/deletePurpose.test.ts
  packages/purpose-process/test/updatePurpose.test.ts
Labels: purpose-process, Incaricato

#1409 PIN 5621 - Delegate add purpose to client
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/readModelService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addClientPurpose.test.ts
  packages/authorization-process/test/utils.ts
Labels: authorization-process, Incaricato

#1393 PIN 5616 - changes purpose listing
  packages/agreement-process/src/services/readModelService.ts
  packages/purpose-process/src/services/readModelService.ts
  packages/purpose-process/test/getPurposes.test.ts
Labels: purpose-process, Incaricato

#1410 PIN-5859 - non-IPA tenants delegations
  packages/delegation-process/src/config/config.ts
  packages/delegation-process/src/services/validators.ts
  packages/delegation-process/test/approveConsumerDelegation.test.ts
  packages/delegation-process/test/approveProducerDelegation.test.ts
  packages/delegation-process/test/createConsumerDelegation.test.ts
  packages/delegation-process/test/createProducerDelegation.test.ts
  packages/delegation-process/test/revokeConsumerDelegation.test.ts
  packages/delegation-process/test/revokeProducerDelegation.test.ts
  packages/tenant-process/src/config/config.ts
  packages/tenant-process/src/services/validators.ts
  packages/tenant-process/test/assignTenantDelegatedConsumerFeature.test.ts
  packages/tenant-process/test/assignTenantDelegatedProducerFeature.test.ts
  packages/tenant-process/test/removeTenantDelegatedConsumerFeature.test.ts
  packages/tenant-process/test/removeTenantDelegatedProducerFeature.test.ts
Labels: delegation-process, Incaricato

#1359 PIN-5928 deletePurposeVersion delegation test
  packages/purpose-process/test/deletePurposeVersion.test.ts
Labels: purpose-process, Incaricato

#1341 PIN-5885 createPurposeVersion delegation test
  packages/purpose-process/test/createPurposeVersion.test.ts
Labels: purpose-process, Incaricato

#1339 PIN-5884 archivePurposeVersion delegation test
  packages/purpose-process/test/archivePurposeVersion.test.ts
Labels: purpose-process, Incaricato

#1398 PIN-5962: Purpose deleting/archiving logic in delegation-items-archiver
  packages/delegation-items-archiver/.env
  packages/delegation-items-archiver/src/config/config.ts
  packages/delegation-items-archiver/src/delegationItemsArchiverConsumerServiceV2.ts
  packages/delegation-items-archiver/src/delegationItemsArchiverProcessors.ts
  packages/delegation-items-archiver/src/index.ts
  packages/delegation-items-archiver/src/readModelService.ts
  packages/delegation-items-archiver/test/delegationItemsArchiverConsumerServiceV2.test.ts
  packages/delegation-items-archiver/test/utils.ts
Labels: Incaricato

#1404 Pin-5963: archive agreements after revoked delegation
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/test/deleteAgreement.test.ts
  packages/delegation-items-archiver/src/delegationItemsArchiverConsumerServiceV2.ts
  packages/delegation-items-archiver/src/delegationItemsArchiverProcessors.ts
  packages/delegation-items-archiver/src/readModelService.ts
  packages/delegation-items-archiver/test/delegationItemsArchiverConsumerServiceV2.test.ts
  packages/delegation-items-archiver/test/utils.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
Labels: Incaricato

#1343 PIN-5888 suspendPurposeVersion delegation test
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/suspendPurposeVersion.test.ts
Labels: purpose-process, Incaricato

#1361 PIN-5929 getPurposeById delegation test
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/test/getPurposeById.test.ts
Labels: purpose-process, Incaricato

#1419 PIN-5936: added better errors in agreement-process
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/model/domain/errors.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/utilities/errorMappers.ts
  packages/agreement-process/test/activateAgreement.test.ts
  packages/agreement-process/test/agreementConsumerDocuments.test.ts
  packages/agreement-process/test/archiveAgreement.test.ts
  packages/agreement-process/test/cloneAgreement.test.ts
  packages/agreement-process/test/createAgreement.test.ts
  packages/agreement-process/test/deleteAgreement.test.ts
  packages/agreement-process/test/rejectAgreement.test.ts
  packages/agreement-process/test/submitAgreement.test.ts
  packages/agreement-process/test/suspendAgreement.test.ts
  packages/agreement-process/test/updateAgreement.test.ts
  packages/agreement-process/test/upgradeAgreement.test.ts
  packages/agreement-process/test/verifyTenantCertifiedAttributes.test.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/validators.ts
Labels: agreement-process, Incaricato

#1392 PIN-5865 refactor bff routes
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/agreementRouter.ts
  packages/backend-for-frontend/src/routers/purposeRouter.ts
  packages/backend-for-frontend/src/services/agreementService.ts
  packages/backend-for-frontend/src/services/purposeService.ts
Labels: bff, Incaricato

#1432 PIN-6041 - EService template router bff scaffolding
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/.env
  packages/backend-for-frontend/src/app.ts
  packages/backend-for-frontend/src/clients/clientsProvider.ts
  packages/backend-for-frontend/src/config/config.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
Labels: eservice-template

#1428 PIN-6035 getRiskAnalysisDocument delegation tests
  packages/purpose-process/test/getRiskAnalysisDocument.test.ts
Labels: purpose-process, Incaricato

#1426 PIN-6034 rejectPurposeVersion delegation test
  packages/purpose-process/test/rejectPurposeVersion.test.ts
Labels: purpose-process, Incaricato

#1431 PIN-6038: agreements internal routes
  packages/agreement-email-sender/src/index.ts
  packages/agreement-outbound-writer/package.json
  packages/agreement-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-process/src/model/domain/toEvent.ts
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/readModelService.ts
  packages/agreement-process/test/internalArchiveAgreementAfterDelegationRevocation.test.ts
  packages/agreement-process/test/internalDeleteAgreementAfterDelegationRevocation.test.ts
  packages/agreement-readmodel-writer/src/consumerServiceV2.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/authorization-updater/src/index.ts
  packages/catalog-outbound-writer/package.json
  packages/delegation-items-archiver/src/delegationItemsArchiverProcessors.ts
  packages/delegation-items-archiver/test/delegationItemsArchiverConsumerServiceV2.test.ts
  packages/delegation-outbound-writer/package.json
  packages/models/proto/v2/agreement/events.proto
  packages/models/src/agreement/agreementEvents.ts
  packages/notifier-seeder/src/models/agreement/agreementEventNotificationConverter.ts
  packages/notifier-seeder/src/models/agreement/agreementEventNotificationMessage.ts
  packages/purpose-outbound-writer/package.json
  packages/tenant-outbound-writer/package.json
  pnpm-lock.yaml
Labels: agreement-process, Incaricato

#1433 PIN-6039: purposes internal routes
  packages/api-clients/open-api/purposeApi.yml
  packages/authorization-updater/src/index.ts
  packages/client-purpose-updater/src/clientPurposeUpdaterConsumerServiceV2.ts
  packages/delegation-items-archiver/src/delegationItemsArchiverProcessors.ts
  packages/delegation-items-archiver/test/delegationItemsArchiverConsumerServiceV2.test.ts
  packages/models/proto/v2/purpose/events.proto
  packages/models/src/purpose/purposeEvents.ts
  packages/notifier-seeder/src/models/purpose/purposeEventNotificationConverter.ts
  packages/notifier-seeder/src/models/purpose/purposeEventNotificationMessage.ts
  packages/purpose-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/purpose-platformstate-writer/src/consumerServiceV2.ts
  packages/purpose-process/src/model/domain/toEvent.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/internalArchivePurposeVersionAfterRevocation.test.ts
  packages/purpose-process/test/internalDeletePurposeAfterRevocation.test.ts
  packages/purpose-readmodel-writer/src/purposeConsumerServiceV2.ts
Labels: purpose-process, Incaricato

#1411 PIN-6012 - Added EService Template Readmodel Writer
  packages/commons/src/config/kafkaTopicConfig.ts
  packages/eservice-template-process/src/model/domain/toEvent.ts
  packages/eservice-template-readmodel-writer/.env
  packages/eservice-template-readmodel-writer/Dockerfile
  packages/eservice-template-readmodel-writer/LICENSE
  packages/eservice-template-readmodel-writer/README.md
  packages/eservice-template-readmodel-writer/package.json
  packages/eservice-template-readmodel-writer/src/config/config.ts
  packages/eservice-template-readmodel-writer/src/consumerServiceV2.ts
  packages/eservice-template-readmodel-writer/src/index.ts
  packages/eservice-template-readmodel-writer/test/eserviceTemplateReadmodelWriter.integration.test.ts
  packages/eservice-template-readmodel-writer/test/tsconfig.json
  packages/eservice-template-readmodel-writer/test/utils.ts
  packages/eservice-template-readmodel-writer/test/vitestGlobalSetup.ts
  packages/eservice-template-readmodel-writer/tsconfig.check.json
  packages/eservice-template-readmodel-writer/tsconfig.json
  packages/eservice-template-readmodel-writer/vitest.config.ts
  packages/models/proto/v2/eservice-template/events.proto
  packages/models/src/eservice-template/eserviceTemplateEvents.ts
  pnpm-lock.yaml
Labels: eservice-template

#1421 PIN-5988 - Update template name
  collections/eservice-template/Update EService Template Name.bru
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/updateEServiceTemplateName.test.ts
Labels: eservice-template

#1422 PIN-5994 PIN-5995 - Update eservice template descriptions
  collections/eservice-template/Update EService Template Audience Description.bru
  collections/eservice-template/Update EService Template EService Description.bru
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/updateEServiceTemplateAudienceDescription.test.ts
  packages/eservice-template-process/test/updateEServiceTemplateEServiceDescription.test.ts
Labels: eservice-template
