Repository pagopa/interop-be-monorepo, pull requests merged in 2025-09, with the labels that each got.

#2266 Agreement In-app notifications
  docker/in-app-notification-db/notification.sql
  packages/api-clients/open-api/inAppNotificationApi.yml
  packages/in-app-notification-db-models/src/schema.ts
  packages/in-app-notification-dispatcher/src/config/config.ts
  packages/in-app-notification-dispatcher/src/handlers/agreements/handleAgreementActivatedRejectedToConsumer.ts
  packages/in-app-notification-dispatcher/src/handlers/agreements/handleAgreementEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/agreements/handleAgreementManagementToProducer.ts
  packages/in-app-notification-dispatcher/src/handlers/agreements/handleAgreementSuspendedUnsuspended.ts
  packages/in-app-notification-dispatcher/src/handlers/attributes/handleAttributeEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/authorizations/handleAuthorizationEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/delegations/handleDelegationEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceStateChangedToConsumer.ts
  packages/in-app-notification-dispatcher/src/handlers/handlerCommons.ts
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeEvent.ts
  packages/in-app-notification-dispatcher/src/index.ts
  packages/in-app-notification-dispatcher/src/models/errors.ts
  packages/in-app-notification-dispatcher/src/services/inAppNotificationServiceSQL.ts
  packages/in-app-notification-dispatcher/src/templates/inAppTemplates.ts
  packages/in-app-notification-dispatcher/test/handleAgreementActivatedRejectedToConsumer.test.ts
  packages/in-app-notification-dispatcher/test/handleAgreementManagementToProducer.test.ts
  packages/in-app-notification-dispatcher/test/handleAgreementSuspendedUnsuspended.test.ts
  packages/in-app-notification-dispatcher/test/handleEserviceStateChangedToConsumer.test.ts
  packages/in-app-notification-dispatcher/test/utils.ts
  packages/in-app-notification-manager/src/model/apiConverter.ts
  packages/in-app-notification-manager/test/api/getNotifications.test.ts
  packages/in-app-notification-manager/test/integrationUtils.ts
  packages/models/src/brandedIds.ts
  packages/models/src/notification/notification.ts
  packages/models/src/notification/notificationSQLAdapter.ts
Labels: notification-config

#2316 PIN-7532 - Update purpose template link/unlink events with the entire objects
  packages/models/proto/v2/purpose-template/events.proto
  packages/purpose-template-process/package.json
  packages/purpose-template-readmodel-writer-sql/package.json
  pnpm-lock.yaml
Labels: purpose-template

#2331 PIN-7558: Analytics - Added staging deduplication
  packages/domains-analytics-writer/src/service/setupDbService.ts
  packages/domains-analytics-writer/src/utils/sqlQueryHelper.ts
  packages/domains-analytics-writer/test/agreementService.test.ts
Labels: kpi

#2281 Purpose in app notifications
  packages/in-app-notification-dispatcher/src/handlers/authorizations/handleAuthorizationEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/authorizations/handleClientAddedRemovedToProducer.ts
  packages/in-app-notification-dispatcher/src/handlers/handlerCommons.ts
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeActivatedRejectedToConsumer.ts
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeStatusChangedToProducer.ts
  packages/in-app-notification-dispatcher/src/handlers/purposes/handlePurposeSuspendedUnsuspendedToConsumer.ts
  packages/in-app-notification-dispatcher/src/index.ts
  packages/in-app-notification-dispatcher/src/models/errors.ts
  packages/in-app-notification-dispatcher/src/services/readModelServiceSQL.ts
  packages/in-app-notification-dispatcher/src/templates/inAppTemplates.ts
  packages/in-app-notification-dispatcher/test/handleClientAddedRemovedToProducer.test.ts
  packages/in-app-notification-dispatcher/test/handlePurposeActivatedRejectedToConsumer.test.ts
  packages/in-app-notification-dispatcher/test/handlePurposeStatusChangedToProducer.test.ts
  packages/in-app-notification-dispatcher/test/handlePurposeSuspendedUnsuspendedToConsumer.test.ts
  packages/in-app-notification-dispatcher/test/utils.ts
Labels: notification-config

#2309 PIN-7507 m2mGateway GET /eserviceTemplates
  collections/m2m gateway/eServiceTemplates/List eservice templates.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/src/eserviceTemplateApi.ts
  packages/api-clients/src/index.ts
  packages/api-clients/src/m2mGatewayApi.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/test/api/getEServiceTemplates.test.ts
  packages/m2m-gateway/src/api/eserviceTemplateApiConverter.ts
  packages/m2m-gateway/src/routers/eserviceTemplateRouter.ts
  packages/m2m-gateway/src/services/eserviceTemplateService.ts
  packages/m2m-gateway/test/api/eServiceTemplates/getEserviceTemplates.test.ts
  packages/m2m-gateway/test/integration/eServiceTemplates/getEServiceTemplates.test.ts
Labels: api-v2

#2261 Pin 7311 events creazione consumer signed object persister
  packages/signed-objects-persister/.env
  packages/signed-objects-persister/package.json
  packages/signed-objects-persister/src/config/config.ts
  packages/signed-objects-persister/src/config/sqsConfig.ts
  packages/signed-objects-persister/src/handlers/sqsMessageHandler.ts
  packages/signed-objects-persister/src/index.ts
  packages/signed-objects-persister/src/models/fileDownloadResponse.ts
  packages/signed-objects-persister/src/models/sqsSafeStorageBody.ts
  packages/signed-objects-persister/src/services/dynamoService.ts
  packages/signed-objects-persister/src/services/safeStorageClient.ts
  packages/signed-objects-persister/src/utils/errorFormatter.ts
  packages/signed-objects-persister/test/dynamoService.test.ts
  packages/signed-objects-persister/test/formatError.test.ts
  packages/signed-objects-persister/test/safeStorageClient.test.ts
  packages/signed-objects-persister/test/sqsMessageHandler.test.ts
  packages/signed-objects-persister/test/tsconfig.test.json
  packages/signed-objects-persister/test/vitestGlobalSetup.ts
  packages/signed-objects-persister/tsconfig.check.json
  packages/signed-objects-persister/tsconfig.json
  packages/signed-objects-persister/vitest.config.ts
  pnpm-lock.yaml
Labels: archiviazione

#2226 PIN-7181: Events Signer consumer for platform events implementation
  docker/dynamo-db/schema/signature-references-dynamo-db.json
  packages/commons-test/src/setupDynamoDBtables.ts
  packages/commons-test/src/setupTestContainersVitestGlobal.ts
  packages/commons-test/src/testConfig.ts
  packages/commons/src/config/eventsSignerConfig.ts
  packages/commons/src/config/index.ts
  packages/events-signer/.env
  packages/events-signer/Dockerfile
  packages/events-signer/README.md
  packages/events-signer/aws.config.local
  packages/events-signer/package.json
  packages/events-signer/src/config/config.ts
  packages/events-signer/src/handlers/batchMessageHandler.ts
  packages/events-signer/src/handlers/handleAgreementMessageV2.ts
  packages/events-signer/src/handlers/handleAuthorizationMessageV1.ts
  packages/events-signer/src/handlers/handleAuthorizationMessageV2.ts
  packages/events-signer/src/handlers/handleCatalogMessageV2.ts
  packages/events-signer/src/handlers/handleDelegationMessageV2.ts
  packages/events-signer/src/handlers/handlePurposeMessageV2.ts
  packages/events-signer/src/handlers/s3UploaderHandler.ts
  packages/events-signer/src/handlers/safeStorageArchivingHandler.ts
  packages/events-signer/src/index.ts
  packages/events-signer/src/models/eventTypes.ts
  packages/events-signer/src/models/safeStorageServiceSchema.ts
  packages/events-signer/src/services/dbService.ts
  packages/events-signer/src/services/safeStorageService.ts
  packages/events-signer/src/utils/checksum.ts
  packages/events-signer/src/utils/compression.ts
  packages/events-signer/src/utils/fileProcessor.ts
  packages/events-signer/src/utils/groupEventsByDate.ts
  packages/events-signer/src/utils/ndjsonStore.ts
  packages/events-signer/test/compression.test.ts
  packages/events-signer/test/handlers/handleAgreementMessageV2.test.ts
  packages/events-signer/test/handlers/handleAuthorizationMessageV1.test.ts
  packages/events-signer/test/handlers/handleAuthorizationMessageV2.test.ts
  packages/events-signer/test/handlers/handleCatalogMessageV2.test.ts
  packages/events-signer/test/handlers/handleDelegationMessageV2.test.ts
  packages/events-signer/test/handlers/handlePurposeMessageV2.test.ts
  packages/events-signer/test/ndjsonStore.test.ts
  packages/events-signer/test/s3Uploader.test.ts
  packages/events-signer/test/services/dbService.test.ts
  packages/events-signer/test/services/safeStorageService.test.ts
  packages/events-signer/test/utils/dbServiceUtils.ts
  packages/events-signer/test/utils/utils.ts
  packages/events-signer/test/vitestGlobalSetup.ts
  packages/events-signer/tsconfig.check.json
  packages/events-signer/tsconfig.json
  packages/events-signer/vitest.config.ts
  pnpm-lock.yaml
Labels: archiviazione

#2351 PIN-7517 Add old name in eservice / eservice template rename events
  packages/catalog-process/src/model/domain/toEvent.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/integration/updateEServiceName.test.ts
  packages/catalog-process/test/integration/updateTemplateInstanceName.test.ts
  packages/eservice-template-process/src/model/domain/toEvent.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateName.test.ts
  packages/models/proto/v2/eservice-template/events.proto
  packages/models/proto/v2/eservice/events.proto
Labels: notification-config

#2339 PIN-7574 m2mGateway PATCH /eserviceTemplates/{templateId}
  collections/m2m gateway/eServiceTemplates/Update Draft Eservice Template.bru
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/backend-for-frontend/test/api/catalogRouter/updateEServiceById.test.ts
  packages/backend-for-frontend/test/api/eserviceTemplateRouter/updateEServiceTemplate.test.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/validators.ts
  packages/eservice-template-process/test/api/patchUpdateEserviceTemplate.test.ts
  packages/eservice-template-process/test/api/updateEServiceTemplate.test.ts
  packages/eservice-template-process/test/integration/patchUpdateEserviceTemplate.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplate.test.ts
  packages/m2m-gateway/src/routers/eserviceTemplateRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/src/services/eserviceTemplateService.ts
  packages/m2m-gateway/test/api/eServiceTemplates/updateDraftEserviceTemplate.test.ts
  packages/m2m-gateway/test/integration/eServiceTemplates/updateDraftEserviceTemplate.test.ts
  packages/m2m-gateway/test/integration/eservices/updateDraftEService.test.ts
Labels: api-v2

#2176 PIN-7241 - Fix bad request body in `authorization-server`
  packages/agreement-process/src/app.ts
  packages/api-gateway/src/app.ts
  packages/attribute-registry-process/src/app.ts
  packages/authorization-process/src/app.ts
  packages/authorization-server/src/app.ts
  packages/authorization-server/test/api/authorizationServer.api.test.ts
  packages/backend-for-frontend/src/app.ts
  packages/catalog-process/src/app.ts
  packages/commons/src/router/errorHandlers.ts
  packages/commons/src/router/index.ts
  packages/commons/src/router/zodiosValidationErrorHandler.ts
  packages/delegation-process/src/app.ts
  packages/eservice-template-process/src/app.ts
  packages/in-app-notification-manager/src/app.ts
  packages/m2m-event-manager/src/app.ts
  packages/m2m-gateway/src/app.ts
  packages/notification-config-process/src/app.ts
  packages/purpose-process/src/app.ts
  packages/purpose-template-process/src/app.ts
  packages/tenant-process/src/app.ts
Labels: authorization-server, hotfix, vapt

#2244 feature: add purpose template splitters, aggregators, queries (PIN-7335)
  packages/commons-test/src/index.ts
  packages/commons-test/src/riskAnalysisTemplateTestUtils.ts
  packages/commons-test/src/testUtils.ts
  packages/commons-test/test/riskAnalysisTemplateValidation.unit.test.ts
  packages/commons/src/index.ts
  packages/commons/src/risk-analysis-template/index.ts
  packages/commons/src/risk-analysis-template/riskAnalysisFormTemplate.ts
  packages/commons/src/risk-analysis-template/riskAnalysisTemplateValidation.ts
  packages/commons/src/risk-analysis-template/riskAnalysisTemplateValidationErrors.ts
  packages/commons/src/risk-analysis/riskAnalysisValidation.ts
  packages/models/proto/v2/purpose-template/events.proto
  packages/purpose-template-readmodel-writer-sql/src/index.ts
  packages/purpose-template-readmodel-writer-sql/src/purposeTemplateWriterService.ts
  packages/readmodel/src/index.ts
  packages/readmodel/src/purpose-template/aggregators.ts
  packages/readmodel/src/purpose-template/splitters.ts
  packages/readmodel/src/purposeTemplateReadModelService.ts
  packages/readmodel/src/testUtils.ts
  packages/readmodel/test/purposeTemplateAggregator.test.ts
  packages/readmodel/test/purposeTemplateQueries.test.ts
  packages/readmodel/test/purposeTemplateSplitter.test.ts
  packages/readmodel/test/purposeTemplateUtils.ts
  packages/readmodel/test/purposeUtils.ts
Labels: purpose-template

#2250 feature: add `purpose-template-rmw-sql` logic + tests (PIN-7379)
  packages/commons-test/test/riskAnalysisTemplateValidation.unit.test.ts
  packages/commons/src/risk-analysis-template/riskAnalysisTemplateValidation.ts
  packages/commons/src/risk-analysis-template/riskAnalysisTemplateValidationErrors.ts
  packages/purpose-template-readmodel-writer-sql/src/consumerServiceV2.ts
  packages/purpose-template-readmodel-writer-sql/test/purposeTemplateQueries.test.ts
  packages/purpose-template-readmodel-writer-sql/test/purposeTemplateReadModelWriter.integration.test.ts
  packages/purpose-template-readmodel-writer-sql/test/utils.ts
  packages/purpose-template-readmodel-writer-sql/test/vitestGlobalSetup.ts
Labels: purpose-template

#2369 Adding missing tests in M2M calls
  packages/m2m-gateway/.env.test
  packages/m2m-gateway/test/api/eservices/updatePublishedEServiceDescriptorQuotas.test.ts
  packages/m2m-gateway/test/api/eservices/updatePublishedEServiceSignalHub.test.ts
  packages/m2m-gateway/test/api/purposes/updateDraftReversePurpose.test.ts
  packages/m2m-gateway/test/integration/eservices/updatePublishedEServiceDescriptorQuotas.test.ts
  packages/m2m-gateway/test/integration/eservices/updatePublishedEServiceSignalHub.test.ts
  packages/m2m-gateway/test/integration/purposes/updateDraftReversePurpose.test.ts
Labels: api-v2

#2272 PIN-7438 eservice in app notifications
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceStateChangedToConsumer.ts
  packages/in-app-notification-dispatcher/src/models/errors.ts
  packages/in-app-notification-dispatcher/src/templates/inAppTemplates.ts
  packages/in-app-notification-dispatcher/test/handleEserviceStateChangedToConsumer.test.ts
Labels: notification-config

#2360 Pin 5345 audit consumer per invio audit a safe storage
  packages/audit-signer/.env
  packages/audit-signer/package.json
  packages/audit-signer/src/config/config.ts
  packages/audit-signer/src/config/sqsConfig.ts
  packages/audit-signer/src/handlers/sqsMessageHandler.ts
  packages/audit-signer/src/index.ts
  packages/audit-signer/src/models/s3BodySchema.ts
  packages/audit-signer/src/models/safeStorageServiceSchema.ts
  packages/audit-signer/src/services/dynamoService.ts
  packages/audit-signer/src/services/safeStorageClient.ts
  packages/audit-signer/src/utils/checksum.ts
  packages/audit-signer/src/utils/compression.ts
  packages/audit-signer/src/utils/decodeSQSEventMessage.ts
  packages/audit-signer/src/utils/errorFormatter.ts
  packages/audit-signer/test/integration/sqs.ts
  packages/audit-signer/test/integration/sqsConsumer.test.ts
  packages/audit-signer/test/unit/handlers/sqsMessageHandler.test.ts
  packages/audit-signer/test/unit/services/dynamoService.test.ts
  packages/audit-signer/test/unit/services/safeStorageClient.test.ts
  packages/audit-signer/test/unit/setup.ts
  packages/audit-signer/test/unit/utils/checksum.test.ts
  packages/audit-signer/test/unit/utils/compression.test.ts
  packages/audit-signer/test/unit/utils/decodeSQSEventMessage.test.ts
  packages/audit-signer/test/unit/utils/errorFormatter.test.ts
  packages/audit-signer/test/vitestGlobalSetup.ts
  packages/audit-signer/tsconfig.check.json
  packages/audit-signer/tsconfig.json
  packages/audit-signer/vitest.config.ts
  pnpm-lock.yaml
Labels: archiviazione

#2368 PIN-7657 m2mGateway GET /eserviceTemplates/{templateId}/versions/{versionId}/documents
  collections/m2m gateway/eServiceTemplates/List eservice template version documents.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/src/m2mGatewayApi.ts
  packages/m2m-gateway/src/api/agreementApiConverter.ts
  packages/m2m-gateway/src/api/eserviceApiConverter.ts
  packages/m2m-gateway/src/api/eserviceTemplateApiConverter.ts
  packages/m2m-gateway/src/routers/eserviceTemplateRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/src/services/eserviceTemplateService.ts
  packages/m2m-gateway/test/api/eServiceTemplates/getEServiceTemplateVersionDocuments.test.ts
  packages/m2m-gateway/test/integration/eServiceTemplates/getEServiceTemplateVersionDocuments.test.ts
Labels: api-v2

#2394 hotfix: PIN-7773 Allow api user to edit attributes of published descriptor
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/api/updateDescriptorAttributes.test.ts
Labels: hotfix

#2129 PIN-7005 scaffolding for email-notification-dispatcher + Switch 3 and 12 (Agreement)
  package.json
  packages/commons-test/src/containerTestUtils.ts
  packages/commons-test/src/setupTestContainersVitest.ts
  packages/commons-test/src/setupTestContainersVitestGlobal.ts
  packages/commons/src/templating/htmlTemplateService.ts
  packages/email-notification-dispatcher/.env
  packages/email-notification-dispatcher/.prettierignore
  packages/email-notification-dispatcher/AUTHORS
  packages/email-notification-dispatcher/Dockerfile
  packages/email-notification-dispatcher/LICENSE
  packages/email-notification-dispatcher/package.json
  packages/email-notification-dispatcher/src/config/config.ts
  packages/email-notification-dispatcher/src/handlers/agreements/handleAgreementActivatedToConsumer.ts
  packages/email-notification-dispatcher/src/handlers/agreements/handleAgreementActivatedToProducer.ts
  packages/email-notification-dispatcher/src/handlers/agreements/handleAgreementEvent.ts
  packages/email-notification-dispatcher/src/handlers/agreements/handleAgreementRejected.ts
  packages/email-notification-dispatcher/src/handlers/agreements/handleAgreementSubmitted.ts
  packages/email-notification-dispatcher/src/handlers/agreements/handleAgreementUpgraded.ts
  packages/email-notification-dispatcher/src/handlers/attributes/handleAttributeEvent.ts
  packages/email-notification-dispatcher/src/handlers/authorization/handleAuthorizationEvent.ts
  packages/email-notification-dispatcher/src/handlers/delegations/handleDelegationEvent.ts
  packages/email-notification-dispatcher/src/handlers/eservices/handleEserviceDescriptorPublished.ts
  packages/email-notification-dispatcher/src/handlers/eservices/handleEserviceEvent.ts
  packages/email-notification-dispatcher/src/handlers/handlerCommons.ts
  packages/email-notification-dispatcher/src/handlers/purposes/handlePurposeEvent.ts
  packages/email-notification-dispatcher/src/index.ts
  packages/email-notification-dispatcher/src/models/errors.ts
  packages/email-notification-dispatcher/src/models/handlerParams.ts
  packages/email-notification-dispatcher/src/resources/templates/agreement-activated-to-consumer-mail.html
  packages/email-notification-dispatcher/src/resources/templates/agreement-activated-to-producer-mail.html
  packages/email-notification-dispatcher/src/resources/templates/agreement-rejected-mail.html
  packages/email-notification-dispatcher/src/resources/templates/agreement-submitted-mail.html
  packages/email-notification-dispatcher/src/resources/templates/agreement-upgraded-mail.html
  packages/email-notification-dispatcher/src/resources/templates/eservice-descriptor-published-mail.html
  packages/email-notification-dispatcher/src/resources/templates/footers/common-footer.hbs
  packages/email-notification-dispatcher/src/resources/templates/headers/common-header.hbs
  packages/email-notification-dispatcher/src/services/emailNotificationDispatcherService.ts
  packages/email-notification-dispatcher/src/services/readModelServiceSQL.ts
  packages/email-notification-dispatcher/src/services/userServiceSQL.ts
  packages/email-notification-dispatcher/src/services/utils.ts
  packages/email-notification-dispatcher/test/handleAgreementActivatedToConsumer.test.ts
  packages/email-notification-dispatcher/test/handleAgreementActivatedToProducer.test.ts
  packages/email-notification-dispatcher/test/handleAgreementRejected.test.ts
  packages/email-notification-dispatcher/test/handleAgreementSubmitted.test.ts
  packages/email-notification-dispatcher/test/handleAgreementUpgraded.test.ts
  packages/email-notification-dispatcher/test/handleEserviceDescriptorPublished.test.ts
  packages/email-notification-dispatcher/test/tsconfig.json
  packages/email-notification-dispatcher/test/utils.ts
  packages/email-notification-dispatcher/test/vitestGlobalSetup.ts
  packages/email-notification-dispatcher/tsconfig.check.json
  packages/email-notification-dispatcher/tsconfig.json
  packages/email-notification-dispatcher/vitest.config.ts
  packages/email-sender/.env
  packages/email-sender/src/model/emailNotificationPayload.ts
  packages/email-sender/src/services/emailSenderProcessor.ts
  packages/email-sender/test/emailSenderProcessor.test.ts
  packages/email-sender/test/utils.ts
  packages/models/src/email/emailNotificationMessagePayload.ts
  packages/models/src/index.ts
  pnpm-lock.yaml
Labels: notification-emails, notification-config

#2413 Pin 7616 delete eservice template versions
  collections/m2m gateway/eServiceTemplates/Delete draft eservice template version.bru
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/test/api/deleteEServiceTemplateVersion.test.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/eserviceTemplateRouter.ts
  packages/m2m-gateway/src/services/eserviceTemplateService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/eServiceTemplates/deleteDraftEServiceTemplateVersion.test.ts
  packages/m2m-gateway/test/integration/eServiceTemplates/deleteDraftEServiceTemplateVersion.test.ts
Labels: api-v2

#2402 hotfix: import scec/gps from ipa (PIN-7573)
  packages/ipa-certified-attributes-importer/src/services/ipaCertifiedAttributesImporterService.ts
  packages/ipa-certified-attributes-importer/src/services/openDataService.ts
  packages/ipa-certified-attributes-importer/test/tenantUpsertData.test.ts
  packages/models/src/constants.ts
Labels: jobs

#2410 PIN-7797 switch11 ProducerKeyChainEServiceAdded
  packages/in-app-notification-dispatcher/src/handlers/authorizations/handleAuthorizationEvent.ts
  packages/in-app-notification-dispatcher/src/handlers/authorizations/handleEserviceStateChangedToConsumer.ts
  packages/in-app-notification-dispatcher/src/templates/inAppTemplates.ts
  packages/in-app-notification-dispatcher/test/handleEserviceStateChangedToConsumerAuth.test.ts
Labels: notification-config

#2387 PIN-7607 PIN-7608 calculate deeplink on notification listing
  collections/bff/emailDeeplink/Email deeplink redirect.bru
  collections/bff/inAppNotifications/Get Notifications.bru
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/.env
  packages/backend-for-frontend/src/api/inAppNotificationApiConverter.ts
  packages/backend-for-frontend/src/app.ts
  packages/backend-for-frontend/src/config/config.ts
  packages/backend-for-frontend/src/routers/emailDeeplinkRouter.ts
  packages/backend-for-frontend/src/routers/inAppNotificationRouter.ts
  packages/backend-for-frontend/src/services/inAppNotificationManagerService.ts
  packages/backend-for-frontend/test/utils.ts
Labels: notification-config

#2426 refactor: error 501 as default for FF not enabled (PIN-7825)
  packages/commons-test/test/makeApiProblem.unit.test.ts
  packages/models/src/errors.ts
Labels: refactor
