Repository pagopa/interop-be-monorepo, pull requests merged in 2025-04, with the labels that each got.

#1702 PIN-6499: add keepAliveConfig
  packages/agreement-process/src/index.ts
  packages/api-gateway/src/index.ts
  packages/attribute-registry-process/src/index.ts
  packages/authorization-server/src/index.ts
  packages/backend-for-frontend/src/config/config.ts
  packages/backend-for-frontend/src/index.ts
  packages/commons/src/config/httpServiceConfig.ts
  packages/commons/src/index.ts
  packages/commons/src/router/index.ts
  packages/commons/src/router/server.ts
  packages/purpose-process/src/index.ts
  packages/tenant-process/src/index.ts
Labels: bug

#1697 PIN-6347 Tests Add Interface to eservice instance by template
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/addEServiceTemplateInstanceInterface.test.ts
  packages/catalog-process/test/resources/interface-test.wsdl
  packages/catalog-process/test/resources/test.openapi.3.0.2.yaml
  packages/commons/src/eservice-documents/eserviceDocumentUtils.ts
  packages/models/src/errors.ts
Labels: eservice-template

#1668 PIN 6411 - Reduce client visibility
  packages/authorization-process/src/services/authorizationService.ts
  packages/backend-for-frontend/src/services/purposeService.ts
Labels: Incaricato

#1631 PIN-6270 Add agreement-readmodel-writer-sql
  docker/readmodel-db/agreement.sql
  packages/agreement-readmodel-writer-sql/.env
  packages/agreement-readmodel-writer-sql/Dockerfile
  packages/agreement-readmodel-writer-sql/package.json
  packages/agreement-readmodel-writer-sql/src/config/config.ts
  packages/agreement-readmodel-writer-sql/src/consumerServiceV1.ts
  packages/agreement-readmodel-writer-sql/src/consumerServiceV2.ts
  packages/agreement-readmodel-writer-sql/src/index.ts
  packages/agreement-readmodel-writer-sql/src/readModelService.ts
  packages/agreement-readmodel-writer-sql/test/agreementReadmodelWriterV1.integration.test.ts
  packages/agreement-readmodel-writer-sql/test/agreementReadmodelWriterV2.integration.test.ts
  packages/agreement-readmodel-writer-sql/test/tsconfig.json
  packages/agreement-readmodel-writer-sql/test/utils.ts
  packages/agreement-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/agreement-readmodel-writer-sql/tsconfig.check.json
  packages/agreement-readmodel-writer-sql/tsconfig.json
  packages/agreement-readmodel-writer-sql/vitest.config.ts
  packages/commons-test/src/testUtils.ts
  packages/models/src/agreement/protobufConverterFromV1.ts
  packages/readmodel/src/agreementReadModelService.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1716 PIN-6527: Fix wrong organization category in API GW
  packages/api-gateway/src/api/tenantApiConverter.ts
Labels: hotfix

#1606 PIN-6213 Update selfcare-onboarding-consumers
  packages/selfcare-onboarding-consumer/src/model/institutionEvent.ts
  packages/selfcare-onboarding-consumer/src/services/selfcareOnboardingProcessor.ts
  packages/selfcare-onboarding-consumer/test/selfcareOnboardingProcessor.test.ts
  packages/selfcare-onboarding-consumer/test/utils.ts
Labels: mixed-activity

#1568 PIN-6225 - Add client JWK key queries
  packages/readmodel/src/clientJWKKeyReadModelService.ts
  packages/readmodel/src/index.ts
  packages/readmodel/src/utils.ts
  packages/readmodel/test/clientJWKKeyQueries.test.ts
  packages/readmodel/test/clientJWKKeyUtils.ts
Labels: readmodel-sql

#1689 Update tenant delegated features Bruno files
  collections/tenant/Add DelegatedConsumer feature.bru
  collections/tenant/Add delegated producer feature.bru
  collections/tenant/Remove DelegatedConsumer feature.bru
  collections/tenant/Remove delegated producer feature.bru
  collections/tenant/Update delegated producer and consumer features.bru
Labels: mixed-activity

#1658 PIN-6272 - Add key-readmodel-writer-sql
  packages/key-readmodel-writer-sql/.env
  packages/key-readmodel-writer-sql/Dockerfile
  packages/key-readmodel-writer-sql/package.json
  packages/key-readmodel-writer-sql/src/config/config.ts
  packages/key-readmodel-writer-sql/src/index.ts
  packages/key-readmodel-writer-sql/src/keyConsumerServiceV1.ts
  packages/key-readmodel-writer-sql/src/keyConsumerServiceV2.ts
  packages/key-readmodel-writer-sql/src/readModelService.ts
  packages/key-readmodel-writer-sql/test/consumerServiceV1.test.ts
  packages/key-readmodel-writer-sql/test/consumerServiceV2.test.ts
  packages/key-readmodel-writer-sql/test/tsconfig.json
  packages/key-readmodel-writer-sql/test/utils.ts
  packages/key-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/key-readmodel-writer-sql/tsconfig.check.json
  packages/key-readmodel-writer-sql/tsconfig.json
  packages/key-readmodel-writer-sql/vitest.config.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1573 PIN-6226 Add producer JWKKey queries
  packages/readmodel/src/index.ts
  packages/readmodel/src/producerJWKKeyReadModelService.ts
  packages/readmodel/src/utils.ts
  packages/readmodel/test/producerJWKKeyQueries.test.ts
  packages/readmodel/test/producerJWKKeyUtils.ts
Labels: readmodel-sql

#1635 PIN-6274 - Add producer-key-readmodel-writer-sql
  packages/producer-key-readmodel-writer-sql/.env
  packages/producer-key-readmodel-writer-sql/Dockerfile
  packages/producer-key-readmodel-writer-sql/package.json
  packages/producer-key-readmodel-writer-sql/src/config/config.ts
  packages/producer-key-readmodel-writer-sql/src/index.ts
  packages/producer-key-readmodel-writer-sql/src/producerKeyConsumerServiceV2.ts
  packages/producer-key-readmodel-writer-sql/src/readModelService.ts
  packages/producer-key-readmodel-writer-sql/test/consumerServiceV2.test.ts
  packages/producer-key-readmodel-writer-sql/test/tsconfig.json
  packages/producer-key-readmodel-writer-sql/test/utils.ts
  packages/producer-key-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/producer-key-readmodel-writer-sql/tsconfig.check.json
  packages/producer-key-readmodel-writer-sql/tsconfig.json
  packages/producer-key-readmodel-writer-sql/vitest.config.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1551 Fix wrong dependencies
  packages/agreement-lifecycle/package.json
  packages/backend-for-frontend/package.json
  packages/commons/package.json
  packages/event-migration/package.json
  packages/models/package.json
  pnpm-lock.yaml
Labels: mixed-activity

#1735 PIN-6564: Fix JWT encoding issue
  packages/commons/src/interop-token/utils.ts
Labels: hotfix

#1480 PIN-6094 - Add producer keychain SQL splitters and aggregators
  packages/readmodel-models/src/types.ts
  packages/readmodel/src/authorization/producerKeychainAggregators.ts
  packages/readmodel/src/authorization/producerKeychainSplitters.ts
  packages/readmodel/test/producerKeychainAggregator.test.ts
  packages/readmodel/test/producerKeychainSplitter.test.ts
Labels: readmodel-sql

#1524 PIN-6092 - Add purpose SQL splitters and aggregators
  packages/commons-test/src/testUtils.ts
  packages/readmodel-models/src/types.ts
  packages/readmodel/src/purpose/aggregators.ts
  packages/readmodel/src/purpose/splitters.ts
  packages/readmodel/test/purposeAggregator.test.ts
  packages/readmodel/test/purposeSplitter.test.ts
Labels: readmodel-sql

#1518 PIN-6090 Add tenant splitters and aggregators
  packages/readmodel-models/src/types.ts
  packages/readmodel/src/tenant/aggregators.ts
  packages/readmodel/src/tenant/splitters.ts
  packages/readmodel/test/tenantAggregator.test.ts
  packages/readmodel/test/tenantSplitter.test.ts
Labels: readmodel-sql

#1575 PIN-6222 - Add purpose queries
  docker/readmodel-db/purpose.sql
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel/src/index.ts
  packages/readmodel/src/purpose/aggregators.ts
  packages/readmodel/src/purpose/splitters.ts
  packages/readmodel/src/purposeReadModelService.ts
  packages/readmodel/test/purposeQueries.test.ts
  packages/readmodel/test/purposeUtils.ts
Labels: readmodel-sql

#1577 PIN-6224 Add producer keychain queries
  packages/readmodel/src/authorization/producerKeychainAggregators.ts
  packages/readmodel/src/index.ts
  packages/readmodel/src/producerKeychainReadModelService.ts
  packages/readmodel/test/producerKeychainQueries.test.ts
  packages/readmodel/test/producerKeychainUtils.ts
Labels: readmodel-sql

#1671 PIN-6062 - Add eservice template to catalog schema
  docker/readmodel-db/catalog.sql
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel-models/src/types.ts
Labels: readmodel-sql

#1633 PIN-6268 - Add purpose-readmodel-writer-sql
  docker/readmodel-db/purpose.sql
  packages/agreement-readmodel-writer-sql/src/readModelService.ts
  packages/attribute-registry-readmodel-writer-sql/test/attributeReadmodelWriter.integration.test.ts
  packages/purpose-readmodel-writer-sql/.env
  packages/purpose-readmodel-writer-sql/Dockerfile
  packages/purpose-readmodel-writer-sql/package.json
  packages/purpose-readmodel-writer-sql/src/config/config.ts
  packages/purpose-readmodel-writer-sql/src/index.ts
  packages/purpose-readmodel-writer-sql/src/purposeConsumerServiceV1.ts
  packages/purpose-readmodel-writer-sql/src/purposeConsumerServiceV2.ts
  packages/purpose-readmodel-writer-sql/src/readModelService.ts
  packages/purpose-readmodel-writer-sql/src/utils.ts
  packages/purpose-readmodel-writer-sql/test/purposeReadmodelWriter.integration.test.ts
  packages/purpose-readmodel-writer-sql/test/tsconfig.json
  packages/purpose-readmodel-writer-sql/test/utils.ts
  packages/purpose-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/purpose-readmodel-writer-sql/tsconfig.check.json
  packages/purpose-readmodel-writer-sql/tsconfig.json
  packages/purpose-readmodel-writer-sql/vitest.config.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1637 PIN-6273 - Add producer-keychain-readmodel-writer-sql
  docker/readmodel-db/producer-keychain.sql
  packages/producer-keychain-readmodel-writer-sql/.env
  packages/producer-keychain-readmodel-writer-sql/Dockerfile
  packages/producer-keychain-readmodel-writer-sql/package.json
  packages/producer-keychain-readmodel-writer-sql/src/config/config.ts
  packages/producer-keychain-readmodel-writer-sql/src/index.ts
  packages/producer-keychain-readmodel-writer-sql/src/producerKeychainConsumerServiceV2.ts
  packages/producer-keychain-readmodel-writer-sql/test/consumerServiceV2.test.ts
  packages/producer-keychain-readmodel-writer-sql/test/tsconfig.json
  packages/producer-keychain-readmodel-writer-sql/test/utils.ts
  packages/producer-keychain-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/producer-keychain-readmodel-writer-sql/tsconfig.check.json
  packages/producer-keychain-readmodel-writer-sql/tsconfig.json
  packages/producer-keychain-readmodel-writer-sql/vitest.config.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1663 PIN-6271 Add client-readmodel-writer-sql
  docker/readmodel-db/client.sql
  packages/client-readmodel-writer-sql/.env
  packages/client-readmodel-writer-sql/Dockerfile
  packages/client-readmodel-writer-sql/package.json
  packages/client-readmodel-writer-sql/src/clientConsumerServiceV1.ts
  packages/client-readmodel-writer-sql/src/clientConsumerServiceV2.ts
  packages/client-readmodel-writer-sql/src/config/config.ts
  packages/client-readmodel-writer-sql/src/index.ts
  packages/client-readmodel-writer-sql/src/readModelService.ts
  packages/client-readmodel-writer-sql/test/consumerServiceV1.test.ts
  packages/client-readmodel-writer-sql/test/consumerServiceV2.test.ts
  packages/client-readmodel-writer-sql/test/tsconfig.json
  packages/client-readmodel-writer-sql/test/utils.ts
  packages/client-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/client-readmodel-writer-sql/tsconfig.check.json
  packages/client-readmodel-writer-sql/tsconfig.json
  packages/client-readmodel-writer-sql/vitest.config.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1747 PIN-6329 - Refactor/authorization purpose process
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/test/internalArchivePurposeVersionAfterRevocation.test.ts
  packages/purpose-process/test/internalDeletePurposeAfterRevocation.test.ts
Labels: refactor

#1750 PIN-6329 - Refactor/authorization auth process
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/test/addClientPurpose.test.ts
  packages/authorization-process/test/addClientUsers.test.ts
  packages/authorization-process/test/addProducerKeychainEService.test.ts
  packages/authorization-process/test/addProducerKeychainUsers.test.ts
  packages/authorization-process/test/createApiClient.test.ts
  packages/authorization-process/test/createConsumerClient.test.ts
  packages/authorization-process/test/createKey.test.ts
  packages/authorization-process/test/createProducerKeychain.test.ts
  packages/authorization-process/test/createProducerKeychainKey.test.ts
  packages/authorization-process/test/deleteClient.test.ts
  packages/authorization-process/test/deleteProducerKeychain.test.ts
  packages/authorization-process/test/getClientById.test.ts
  packages/authorization-process/test/getClientKeyById.test.ts
  packages/authorization-process/test/getClientKeys.test.ts
  packages/authorization-process/test/getClientUsers.test.ts
  packages/authorization-process/test/getClients.test.ts
  packages/authorization-process/test/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/getProducerKeychainById.test.ts
  packages/authorization-process/test/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/getProducerKeychainUsers.test.ts
  packages/authorization-process/test/getProducerKeychains.test.ts
  packages/authorization-process/test/removeClientKeyById.test.ts
  packages/authorization-process/test/removeClientPurpose.test.ts
  packages/authorization-process/test/removeClientUser.test.ts
  packages/authorization-process/test/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/removeProducerKeychainKeyById.test.ts
  packages/authorization-process/test/removeProducerKeychainUser.test.ts
  packages/authorization-process/test/removePurposeFromClients.test.ts
  packages/commons-test/src/testUtils.ts
  packages/commons/src/auth/authorization.ts
Labels: refactor

#1712 Removed bff clonePurpose non-draft assertion as it's checked in process
  packages/backend-for-frontend/src/model/errors.ts
  packages/backend-for-frontend/src/routers/purposeRouter.ts
  packages/backend-for-frontend/src/services/purposeService.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
Labels: bff, mixed-activity

#1753 PIN-6329 - Refactor/authorization BFF & API GW
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/authorizationService.ts
  packages/api-gateway/src/services/purposeService.ts
  packages/api-gateway/src/utilities/context.ts
  packages/backend-for-frontend/src/app.ts
  packages/backend-for-frontend/src/routers/agreementRouter.ts
  packages/backend-for-frontend/src/routers/attributeRouter.ts
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/routers/clientRouter.ts
  packages/backend-for-frontend/src/routers/consumerDelegationRouter.ts
  packages/backend-for-frontend/src/routers/delegationRouter.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/routers/privacyNoticeRouter.ts
  packages/backend-for-frontend/src/routers/producerDelegationRouter.ts
  packages/backend-for-frontend/src/routers/producerKeychainRouter.ts
  packages/backend-for-frontend/src/routers/purposeRouter.ts
  packages/backend-for-frontend/src/routers/supportRouter.ts
  packages/backend-for-frontend/src/routers/tenantRouter.ts
  packages/backend-for-frontend/src/services/authorizationService.ts
  packages/backend-for-frontend/src/utilities/context.ts
  packages/backend-for-frontend/src/utilities/middlewares.ts
  packages/commons/src/auth/authorization.ts
Labels: refactor

#1756 PIN-6329 - Refactor/authorization e-service template process
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/src/services/validators.ts
  packages/eservice-template-process/test/getEServiceTemplateById.test.ts
  packages/eservice-template-process/test/getEServiceTemplates.test.ts
Labels: refactor

#1755 PIN-6329 - Refactor/authorization delegation process
  packages/delegation-process/src/routers/DelegationRouter.ts
  packages/delegation-process/src/services/delegationService.ts
  packages/delegation-process/src/services/readModelService.ts
  packages/delegation-process/src/services/validators.ts
  packages/delegation-process/test/getConsumerDelegators.test.ts
  packages/delegation-process/test/getConsumerDelegatorsWithAgreements.test.ts
  packages/delegation-process/test/getConsumerEservices.test.ts
  packages/delegation-process/test/getDelegationById.test.ts
  packages/delegation-process/test/getDelegations.test.ts
Labels: refactor

#1748 PIN-6329 - Refactor/authorization tenant process
  packages/commons-test/src/testUtils.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/src/services/validators.ts
  packages/tenant-process/test/addCertifiedAttribute.test.ts
  packages/tenant-process/test/addCertifierId.test.ts
  packages/tenant-process/test/addDeclaredAttribute.test.ts
  packages/tenant-process/test/addTenantMail.test.ts
  packages/tenant-process/test/deleteTenantMailById.test.ts
  packages/tenant-process/test/getCertifiedAttributes.test.ts
  packages/tenant-process/test/getTenantByExternalId.test.ts
  packages/tenant-process/test/getTenantById.test.ts
  packages/tenant-process/test/getTenantBySelfcareId.test.ts
  packages/tenant-process/test/internalAssignCertifiedAttribute.test.ts
  packages/tenant-process/test/internalRevokeCertifiedAttribute.test.ts
  packages/tenant-process/test/internalUpsertTenant.test.ts
  packages/tenant-process/test/m2mRevokeCertifiedAttribute.test.ts
  packages/tenant-process/test/m2mUpsertTenant.test.ts
  packages/tenant-process/test/maintenanceTenantDelete.test.ts
  packages/tenant-process/test/revokeDeclaredAttribute.test.ts
  packages/tenant-process/test/updateTenantDelegatedFeatures.test.ts
  packages/tenant-process/test/updateTenantVerifiedAttribute.test.ts
  packages/tenant-process/test/updateVerifiedAttributeExtensionDate.test.ts
  packages/tenant-process/test/verifyVerifiedAttribute.test.ts
Labels: refactor

#1596 PIN-5469 & PIN-5900: Enhance Kafka Message Error Handling and Logging
  packages/authorization-updater/src/index.ts
  packages/kafka-iam-auth/src/index.ts
  packages/models/src/errors.ts
  packages/notification-email-sender/src/index.ts
Labels: mixed-activity

#1438 PIN-5503: Improve error logging in axios interceptors
  packages/api-clients/src/axiosLogInterceptors.ts
Labels: improvement, mixed-activity

#1498 PIN-6088 Add eservice splitters and aggregators
  packages/commons-test/src/testUtils.ts
  packages/readmodel-models/src/types.ts
  packages/readmodel/src/agreement/aggregators.ts
  packages/readmodel/src/attribute/aggregators.ts
  packages/readmodel/src/authorization/clientAggregators.ts
  packages/readmodel/src/catalog/aggregators.ts
  packages/readmodel/src/catalog/splitters.ts
  packages/readmodel/src/purpose/aggregators.ts
  packages/readmodel/src/tenant/aggregators.ts
  packages/readmodel/test/eserviceAggregator.test.ts
  packages/readmodel/test/eserviceSplitter.test.ts
  packages/readmodel/test/eserviceUtils.ts
Labels: readmodel-sql

#1572 PIN-6220 Add tenant queries
  docker/readmodel-db/tenant.sql
  packages/commons-test/src/testUtils.ts
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel/src/index.ts
  packages/readmodel/src/tenant/aggregators.ts
  packages/readmodel/src/tenantReadModelService.ts
  packages/readmodel/test/tenantQueries.test.ts
  packages/readmodel/test/tenantUtils.ts
  packages/readmodel/test/utils.ts
Labels: readmodel-sql

#1588 PIN-6267 Add tenant-readmodel-writer sql
  packages/tenant-readmodel-writer-sql/.env
  packages/tenant-readmodel-writer-sql/Dockerfile
  packages/tenant-readmodel-writer-sql/package.json
  packages/tenant-readmodel-writer-sql/src/config/config.ts
  packages/tenant-readmodel-writer-sql/src/consumerServiceV1.ts
  packages/tenant-readmodel-writer-sql/src/consumerServiceV2.ts
  packages/tenant-readmodel-writer-sql/src/index.ts
  packages/tenant-readmodel-writer-sql/src/readModelService.ts
  packages/tenant-readmodel-writer-sql/test/consumerServiceV1.integration.test.ts
  packages/tenant-readmodel-writer-sql/test/consumerServiceV2.integration.test.ts
  packages/tenant-readmodel-writer-sql/test/converterV1.ts
  packages/tenant-readmodel-writer-sql/test/tsconfig.json
  packages/tenant-readmodel-writer-sql/test/utils.ts
  packages/tenant-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/tenant-readmodel-writer-sql/tsconfig.check.json
  packages/tenant-readmodel-writer-sql/tsconfig.json
  packages/tenant-readmodel-writer-sql/vitest.config.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1657 Strengthened assertOrganizationIsClientConsumer to enforce client type as Consumer for purpose addition
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/addClientPurpose.test.ts
  packages/authorization-process/test/removeClientPurpose.test.ts
Labels: bug

#1724 Removed try catch getSelfcareUserById
  packages/backend-for-frontend/src/services/clientService.ts
Labels: bug

#1563 PIN-6218 Eservice queries
  packages/readmodel/src/catalog/aggregators.ts
  packages/readmodel/src/catalogReadModelService.ts
  packages/readmodel/src/index.ts
  packages/readmodel/test/eserviceQueries.test.ts
  packages/readmodel/test/eserviceUtils.ts
Labels: readmodel-sql

#1752 Export splitters to convert items into related sql objects
  packages/readmodel/src/index.ts
Labels: readmodel-sql

#1765 Fix `consumerId` in `token-generation-readmodel-checker`
  packages/token-generation-readmodel-checker/src/utils/utils.ts
Labels: authorization-server, Incaricato

#1571 PIN-6221 - Add delegation queries
  packages/readmodel/src/delegationReadModelService.ts
  packages/readmodel/src/index.ts
  packages/readmodel/test/agreementUtils.ts
  packages/readmodel/test/delegationQueries.test.ts
  packages/readmodel/test/delegationUtils.ts
Labels: readmodel-sql

#1670 PIN-6269 - Add delegation-readmodel-writer-sql
  packages/delegation-readmodel-writer-sql/.env
  packages/delegation-readmodel-writer-sql/Dockerfile
  packages/delegation-readmodel-writer-sql/package.json
  packages/delegation-readmodel-writer-sql/src/config/config.ts
  packages/delegation-readmodel-writer-sql/src/delegationConsumerServiceV2.ts
  packages/delegation-readmodel-writer-sql/src/index.ts
  packages/delegation-readmodel-writer-sql/src/readModelService.ts
  packages/delegation-readmodel-writer-sql/test/consumerServiceV2.test.ts
  packages/delegation-readmodel-writer-sql/test/tsconfig.json
  packages/delegation-readmodel-writer-sql/test/utils.ts
  packages/delegation-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/delegation-readmodel-writer-sql/tsconfig.check.json
  packages/delegation-readmodel-writer-sql/tsconfig.json
  packages/delegation-readmodel-writer-sql/vitest.config.ts
  packages/key-readmodel-writer-sql/test/consumerServiceV2.test.ts
  packages/producer-key-readmodel-writer-sql/test/consumerServiceV2.test.ts
  packages/readmodel/src/index.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1665 PIN-6062 - Add eservice template schema
  docker/readmodel-db/eservice-template.sql
  packages/agreement-readmodel-writer-sql/.env
  packages/attribute-registry-readmodel-writer-sql/.env
  packages/client-readmodel-writer-sql/.env
  packages/commons/src/config/readmodelSQLDbConfig.ts
  packages/delegation-readmodel-writer-sql/.env
  packages/key-readmodel-writer-sql/.env
  packages/producer-key-readmodel-writer-sql/.env
  packages/producer-keychain-readmodel-writer-sql/.env
  packages/purpose-readmodel-writer-sql/.env
  packages/readmodel-models/.env
  packages/readmodel-models/drizzle.config.ts
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel-models/src/pgSchema.ts
  packages/readmodel-models/src/types.ts
  packages/readmodel/.env
  packages/tenant-readmodel-writer-sql/.env
Labels: readmodel-sql

#1626 PIN-6266 Add catalog-readmodel-writer-sql
  docker/readmodel-db/catalog.sql
  packages/agreement-readmodel-writer-sql/src/consumerServiceV1.ts
  packages/agreement-readmodel-writer-sql/src/readModelService.ts
  packages/catalog-readmodel-writer-sql/.env
  packages/catalog-readmodel-writer-sql/Dockerfile
  packages/catalog-readmodel-writer-sql/package.json
  packages/catalog-readmodel-writer-sql/src/config/config.ts
  packages/catalog-readmodel-writer-sql/src/consumerServiceV1.ts
  packages/catalog-readmodel-writer-sql/src/consumerServiceV2.ts
  packages/catalog-readmodel-writer-sql/src/index.ts
  packages/catalog-readmodel-writer-sql/src/readModelService.ts
  packages/catalog-readmodel-writer-sql/test/catalogReadmodelWriter.integration.test.ts
  packages/catalog-readmodel-writer-sql/test/tsconfig.json
  packages/catalog-readmodel-writer-sql/test/utils.ts
  packages/catalog-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/catalog-readmodel-writer-sql/tsconfig.check.json
  packages/catalog-readmodel-writer-sql/tsconfig.json
  packages/catalog-readmodel-writer-sql/vitest.config.ts
  packages/client-readmodel-writer-sql/src/clientConsumerServiceV1.ts
  packages/client-readmodel-writer-sql/src/clientConsumerServiceV2.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1780 PIN-6668: Add catalog json to dtd export
  packages/dtd-catalog-exporter/.env
  packages/dtd-catalog-exporter/src/config/config.ts
  packages/dtd-catalog-exporter/src/index.ts
  packages/dtd-catalog-exporter/src/services/dtdCatalogExporterService.ts
  packages/dtd-catalog-exporter/test/exportDtdPublicCatalog.test.ts
  packages/dtd-catalog-exporter/test/utils.ts
Labels: hotfix

#1768 PIN-6638 - adding M2M Admin token
  packages/commons-test/test/authData.unit.test.ts
  packages/commons-test/test/jwt.unit.test.ts
  packages/commons/src/auth/authData.ts
  packages/commons/src/auth/authorization.ts
Labels: api-v2

#1751 PIN-6562 - Added `m2m-gateway` package scaffolding
  collections/environments/PagoPA local.bru
  collections/m2m gateway/health/Health status endpoint.bru
  package.json
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/src/index.ts
  packages/api-clients/src/m2mGatewayApi.ts
  packages/m2m-gateway/.env
  packages/m2m-gateway/Dockerfile
  packages/m2m-gateway/package.json
  packages/m2m-gateway/src/app.ts
  packages/m2m-gateway/src/clients/clientsProvider.ts
  packages/m2m-gateway/src/config/config.ts
  packages/m2m-gateway/src/index.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/HealthRouter.ts
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/routers/attributeRouter.ts
  packages/m2m-gateway/src/routers/clientRouter.ts
  packages/m2m-gateway/src/routers/delegationRouter.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/routers/eserviceTemplateRouter.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/src/services/attributeService.ts
  packages/m2m-gateway/src/services/clientService.ts
  packages/m2m-gateway/src/services/delegationService.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/src/services/eserviceTemplateService.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/src/utils/context.ts
  packages/m2m-gateway/tsconfig.check.json
  packages/m2m-gateway/tsconfig.json
  packages/models/src/services.ts
  pnpm-lock.yaml
Labels: api-v2

#1791 Fixing formatting after M2M gateway scaffolding
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/m2m-gateway/.env
Labels: api-v2

#1788 Fix bff update e-service document 500 error
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
Labels: bug

#1796 PIN-6700: Add organizationNotAllowedOnClient in getClient
  packages/authorization-process/src/utilities/errorMappers.ts
Labels: bug, authorization-process

#1805 Fixing regression after authdata refactor
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/tenantService.ts
Labels: bug

#1758 PIN-6540 Supertest in attribute registry process
  packages/attribute-registry-process/package.json
  packages/attribute-registry-process/src/app.ts
  packages/attribute-registry-process/src/routers/AttributeRouter.ts
  packages/attribute-registry-process/test/api/createCertifiedAttribute.test.ts
  packages/attribute-registry-process/test/api/createDeclaredAttribute.test.ts
  packages/attribute-registry-process/test/api/createInternalCertifiedAttribute.test.ts
  packages/attribute-registry-process/test/api/createVerifiedAttribute.test.ts
  packages/attribute-registry-process/test/api/getAttributeById.test.ts
  packages/attribute-registry-process/test/api/getAttributeByName.test.ts
  packages/attribute-registry-process/test/api/getAttributeByOriginAndCode.test.ts
  packages/attribute-registry-process/test/api/getAttributesByIds.test.ts
  packages/attribute-registry-process/test/api/getAttributesByKindsNameOrigin.test.ts
  packages/attribute-registry-process/test/attributeRegistryService.integration.test.ts
  packages/attribute-registry-process/test/integration/createCertifiedAttribute.test.ts
  packages/attribute-registry-process/test/integration/createDeclaredAttribute.test.ts
  packages/attribute-registry-process/test/integration/createInternalCertifiedAttribute.test.ts
  packages/attribute-registry-process/test/integration/createVerifiedAttribute.test.ts
  packages/attribute-registry-process/test/integration/getAttributeById.test.ts
  packages/attribute-registry-process/test/integration/getAttributeByName.test.ts
  packages/attribute-registry-process/test/integration/getAttributeByOriginAndCode.test.ts
  packages/attribute-registry-process/test/integration/getAttributesByIds.test.ts
  packages/attribute-registry-process/test/integration/getAttributesByKindsNameOrigin.test.ts
  packages/attribute-registry-process/test/integrationUtils.ts
  packages/attribute-registry-process/test/readModelService.test.ts
  packages/attribute-registry-process/test/vitest.api.setup.ts
  packages/attribute-registry-process/test/vitestIntegrationGlobalSetup.ts
  packages/attribute-registry-process/vitest.api.config.ts
  packages/attribute-registry-process/vitest.integration.config.ts
  packages/commons-test/src/index.ts
  packages/commons-test/src/mockedPayloadForToken.ts
  pnpm-lock.yaml
  turbo.json
Labels: supertest

#1667 PIN-6227 - Add eservice template queries
  packages/agreement-readmodel-writer-sql/src/readModelService.ts
  packages/catalog-readmodel-writer-sql/src/readModelService.ts
  packages/commons-test/src/setupTestContainersVitest.ts
  packages/commons-test/src/testUtils.ts
  packages/purpose-readmodel-writer-sql/src/readModelService.ts
  packages/readmodel/src/agreementReadModelService.ts
  packages/readmodel/src/attributeReadModelService.ts
  packages/readmodel/src/catalogReadModelService.ts
  packages/readmodel/src/clientJWKKeyReadModelService.ts
  packages/readmodel/src/clientReadModelService.ts
  packages/readmodel/src/delegationReadModelService.ts
  packages/readmodel/src/eserviceTemplateReadModelService.ts
  packages/readmodel/src/index.ts
  packages/readmodel/src/producerJWKKeyReadModelService.ts
  packages/readmodel/src/producerKeychainReadModelService.ts
  packages/readmodel/src/purposeReadModelService.ts
  packages/readmodel/src/tenantReadModelService.ts
  packages/readmodel/test/eserviceTemplateQueries.test.ts
  packages/readmodel/test/eserviceTemplateUtils.ts
Labels: readmodel-sql

#1669 PIN-6435 - Add eservice-template-readmodel-writer-sql
  packages/eservice-template-readmodel-writer-sql/.env
  packages/eservice-template-readmodel-writer-sql/Dockerfile
  packages/eservice-template-readmodel-writer-sql/package.json
  packages/eservice-template-readmodel-writer-sql/src/config/config.ts
  packages/eservice-template-readmodel-writer-sql/src/consumerServiceV2.ts
  packages/eservice-template-readmodel-writer-sql/src/index.ts
  packages/eservice-template-readmodel-writer-sql/test/eserviceTemplateReadmodelWriter.integration.test.ts
  packages/eservice-template-readmodel-writer-sql/test/tsconfig.json
  packages/eservice-template-readmodel-writer-sql/test/utils.ts
  packages/eservice-template-readmodel-writer-sql/test/vitestGlobalSetup.ts
  packages/eservice-template-readmodel-writer-sql/tsconfig.check.json
  packages/eservice-template-readmodel-writer-sql/tsconfig.json
  packages/eservice-template-readmodel-writer-sql/vitest.config.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1787 Move eservice-template-process tests to integration dir
  packages/eservice-template-process/package.json
  packages/eservice-template-process/test/integration/activateEServiceTemplateVersion.test.ts
  packages/eservice-template-process/test/integration/createEServiceTemplate.test.ts
  packages/eservice-template-process/test/integration/createEServiceTemplateRiskAnalysis.test.ts
  packages/eservice-template-process/test/integration/createEServiceTemplateVersion.test.ts
  packages/eservice-template-process/test/integration/deleteDocument.test.ts
  packages/eservice-template-process/test/integration/deleteEServiceTemplateRiskAnalysis.test.ts
  packages/eservice-template-process/test/integration/deleteEServiceTemplateVersion.test.ts
  packages/eservice-template-process/test/integration/getEServiceTemplateById.test.ts
  packages/eservice-template-process/test/integration/getEServiceTemplateCreators.test.ts
  packages/eservice-template-process/test/integration/getEServiceTemplateVersionDocumentById.test.ts
  packages/eservice-template-process/test/integration/getEServiceTemplates.test.ts
  packages/eservice-template-process/test/integration/publishEServiceTemplateVersion.test.ts
  packages/eservice-template-process/test/integration/suspendEServiceTemplateVersion.test.ts
  packages/eservice-template-process/test/integration/updateDocument.test.ts
  packages/eservice-template-process/test/integration/updateDraftVersion.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplate.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateDescription.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateIntendedTarget.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateName.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateRiskAnalysis.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateVersionAttributes.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateVersionQuotas.test.ts
  packages/eservice-template-process/test/integration/uploadDocument.test.ts
  packages/eservice-template-process/test/integrationUtils.ts
  packages/eservice-template-process/test/mockUtils.ts
  packages/eservice-template-process/test/vitestIntegrationGlobalSetup.ts
  packages/eservice-template-process/vitest.integration.config.ts
Labels: supertest

#1786 Move delegation-process tests to integration dir
  packages/delegation-process/package.json
  packages/delegation-process/test/integration/approveDelegation.test.ts
  packages/delegation-process/test/integration/createConsumerDelegation.test.ts
  packages/delegation-process/test/integration/createDelegation.test.ts
  packages/delegation-process/test/integration/createProducerDelegation.test.ts
  packages/delegation-process/test/integration/getConsumerDelegators.test.ts
  packages/delegation-process/test/integration/getConsumerDelegatorsWithAgreements.test.ts
  packages/delegation-process/test/integration/getConsumerEservices.test.ts
  packages/delegation-process/test/integration/getDelegationById.test.ts
  packages/delegation-process/test/integration/getDelegationContract.test.ts
  packages/delegation-process/test/integration/getDelegations.test.ts
  packages/delegation-process/test/integration/rejectDelegation.test.ts
  packages/delegation-process/test/integration/revokeDelegation.test.ts
  packages/delegation-process/test/integrationUtils.ts
  packages/delegation-process/test/vitestIntegrationGlobalSetup.ts
  packages/delegation-process/vitest.integration.config.ts
Labels: supertest

#1774 Move purpose-process tests to integration dir
  packages/purpose-process/package.json
  packages/purpose-process/test/integration/activatePurposeVersion.test.ts
  packages/purpose-process/test/integration/archivePurposeVersion.test.ts
  packages/purpose-process/test/integration/clonePurpose.test.ts
  packages/purpose-process/test/integration/createPurpose.test.ts
  packages/purpose-process/test/integration/createPurposeVersion.test.ts
  packages/purpose-process/test/integration/createReversePurpose.test.ts
  packages/purpose-process/test/integration/deletePurpose.test.ts
  packages/purpose-process/test/integration/deletePurposeVersion.test.ts
  packages/purpose-process/test/integration/getLatestRiskAnalysisConfiguration.test.ts
  packages/purpose-process/test/integration/getPurposeById.test.ts
  packages/purpose-process/test/integration/getPurposes.test.ts
  packages/purpose-process/test/integration/getRiskAnalysisConfigurationByVersion.test.ts
  packages/purpose-process/test/integration/getRiskAnalysisDocument.test.ts
  packages/purpose-process/test/integration/internalArchivePurposeVersionAfterRevocation.test.ts
  packages/purpose-process/test/integration/internalDeletePurposeAfterRevocation.test.ts
  packages/purpose-process/test/integration/rejectPurposeVersion.test.ts
  packages/purpose-process/test/integration/suspendPurposeVersion.test.ts
  packages/purpose-process/test/integration/updatePurpose.test.ts
  packages/purpose-process/test/integrationUtils.ts
  packages/purpose-process/test/mockUtils.ts
  packages/purpose-process/test/vitestIntegrationGlobalSetup.ts
  packages/purpose-process/vitest.integration.config.ts
Labels: supertest

#1778 PIN-6663 update client model
  docker/dynamo-db/schema/token-generation-states-dynamo-db.json
  docker/readmodel-db/client.sql
  packages/api-clients/open-api/authorizationApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/backend-for-frontend/src/services/clientService.ts
  packages/backend-for-frontend/src/services/producerKeychainService.ts
  packages/backend-for-frontend/src/services/selfcareService.ts
  packages/models/proto/v2/authorization/client.proto
  packages/models/src/authorization/client.ts
  packages/models/src/authorization/protobufConverterFromV2.ts
  packages/models/src/token-generation-readmodel/platform-states-entry.ts
  packages/models/src/token-generation-readmodel/token-generation-states-entry.ts
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel/src/authorization/clientAggregators.ts
  packages/readmodel/src/authorization/clientSplitters.ts
  packages/readmodel/test/clientSplitter.test.ts
Labels: admin-client

#1745 PIN-6047: Analytics - Attribute topic consumer, Kafka batch processing and Redshift implementation
  docker/docker-compose.yml
  docker/domains-analytics-db/domains-init.sql
  packages/commons-test/src/containerTestUtils.ts
  packages/commons-test/src/setupTestContainersVitest.ts
  packages/commons-test/src/setupTestContainersVitestGlobal.ts
  packages/commons/src/config/analyticsSQLDbConfig.ts
  packages/commons/src/config/index.ts
  packages/domains-analytics-writer/.env
  packages/domains-analytics-writer/Dockerfile
  packages/domains-analytics-writer/package.json
  packages/domains-analytics-writer/src/config/config.ts
  packages/domains-analytics-writer/src/db/buildColumnSet.ts
  packages/domains-analytics-writer/src/db/db.ts
  packages/domains-analytics-writer/src/handlers/agreement/consumerServiceV1.ts
  packages/domains-analytics-writer/src/handlers/agreement/consumerServiceV2.ts
  packages/domains-analytics-writer/src/handlers/attribute/consumerServiceV1.ts
  packages/domains-analytics-writer/src/handlers/authorization/consumerServiceV1.ts
  packages/domains-analytics-writer/src/handlers/authorization/consumerServiceV2.ts
  packages/domains-analytics-writer/src/handlers/batchMessageHandler.ts
  packages/domains-analytics-writer/src/handlers/catalog/consumerServiceV1.ts
  packages/domains-analytics-writer/src/handlers/catalog/consumerServiceV2.ts
  packages/domains-analytics-writer/src/handlers/delegation/consumerServiceV2.ts
  packages/domains-analytics-writer/src/handlers/eservice-template/consumerServiceV2.ts
  packages/domains-analytics-writer/src/handlers/purpose/consumerServiceV1.ts
  packages/domains-analytics-writer/src/handlers/purpose/consumerServiceV2.ts
  packages/domains-analytics-writer/src/handlers/tenant/consumerServiceV1.ts
  packages/domains-analytics-writer/src/handlers/tenant/consumerServiceV2.ts
  packages/domains-analytics-writer/src/index.ts
  packages/domains-analytics-writer/src/model/attribute/attribute.ts
  packages/domains-analytics-writer/src/model/db.ts
  packages/domains-analytics-writer/src/model/errors.ts
  packages/domains-analytics-writer/src/repository/attribute/attribute.repository.ts
  packages/domains-analytics-writer/src/service/attributeService.ts
  packages/domains-analytics-writer/src/service/setupDbService.ts
  packages/domains-analytics-writer/src/utils/batchHelper.ts
  packages/domains-analytics-writer/src/utils/sqlQueryHelper.ts
  packages/domains-analytics-writer/test/attributesService.test.ts
  packages/domains-analytics-writer/test/batchMessageHandler.test.ts
  packages/domains-analytics-writer/test/setupDbService.test.ts
  packages/domains-analytics-writer/test/setupTestEnv.ts
  packages/domains-analytics-writer/test/tsconfig.json
  packages/domains-analytics-writer/test/utils.ts
  packages/domains-analytics-writer/test/vitestGlobalSetup.ts
  packages/domains-analytics-writer/vitest.config.ts
  pnpm-lock.yaml
Labels: kpi

#1823 PIN-6711 - M2M gateway - tests scaffolding + create consumer delegation tests
  package.json
  packages/agreement-process/src/services/agreementService.ts
  packages/commons-test/test/eventRepository.test.ts
  packages/commons/src/repositories/EventRepository.ts
  packages/delegation-process/src/services/delegationService.ts
  packages/m2m-gateway/.env.test
  packages/m2m-gateway/package.json
  packages/m2m-gateway/src/api/delegationApiConverter.ts
  packages/m2m-gateway/src/app.ts
  packages/m2m-gateway/src/config/appBasePath.ts
  packages/m2m-gateway/src/index.ts
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/routers/attributeRouter.ts
  packages/m2m-gateway/src/routers/clientRouter.ts
  packages/m2m-gateway/src/routers/delegationRouter.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/routers/eserviceTemplateRouter.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/src/services/attributeService.ts
  packages/m2m-gateway/src/services/clientService.ts
  packages/m2m-gateway/src/services/delegationService.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/src/services/eserviceTemplateService.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/src/utils/context.ts
  packages/m2m-gateway/test/.eslintrc.json
  packages/m2m-gateway/test/api/consumerDelegations/createConsumerDelegation.test.ts
  packages/m2m-gateway/test/integration/consumerDelegations/createConsumerDelegation.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/m2m-gateway/test/tsconfig.json
  packages/m2m-gateway/test/vitest.api.setup.ts
  packages/m2m-gateway/vitest.api.config.ts
  packages/m2m-gateway/vitest.integration.config.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/tenant-process/src/services/tenantService.ts
  pnpm-lock.yaml
Labels: delegation-process, api-v2

#1797 PIN-6703 - Added options to hide internal server errors to `makeApiProblemBuilder `
  packages/api-gateway/src/models/errors.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/models/src/errors.ts
Labels: api-v2

#1810 Move authorization-process tests to integration dir
  packages/authorization-process/package.json
  packages/authorization-process/test/integration/addClientPurpose.test.ts
  packages/authorization-process/test/integration/addClientUsers.test.ts
  packages/authorization-process/test/integration/addProducerKeychainEService.test.ts
  packages/authorization-process/test/integration/addProducerKeychainUsers.test.ts
  packages/authorization-process/test/integration/createApiClient.test.ts
  packages/authorization-process/test/integration/createConsumerClient.test.ts
  packages/authorization-process/test/integration/createKey.test.ts
  packages/authorization-process/test/integration/createProducerKeychain.test.ts
  packages/authorization-process/test/integration/createProducerKeychainKey.test.ts
  packages/authorization-process/test/integration/deleteClient.test.ts
  packages/authorization-process/test/integration/deleteProducerKeychain.test.ts
  packages/authorization-process/test/integration/getClientById.test.ts
  packages/authorization-process/test/integration/getClientKeyById.test.ts
  packages/authorization-process/test/integration/getClientKeys.test.ts
  packages/authorization-process/test/integration/getClientUsers.test.ts
  packages/authorization-process/test/integration/getClients.test.ts
  packages/authorization-process/test/integration/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/integration/getProducerKeychainById.test.ts
  packages/authorization-process/test/integration/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/integration/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/integration/getProducerKeychainUsers.test.ts
  packages/authorization-process/test/integration/getProducerKeychains.test.ts
  packages/authorization-process/test/integration/removeClientKeyById.test.ts
  packages/authorization-process/test/integration/removeClientPurpose.test.ts
  packages/authorization-process/test/integration/removeClientUser.test.ts
  packages/authorization-process/test/integration/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/integration/removeProducerKeychainKeyById.test.ts
  packages/authorization-process/test/integration/removeProducerKeychainUser.test.ts
  packages/authorization-process/test/integration/removePurposeFromClients.test.ts
  packages/authorization-process/test/integrationUtils.ts
  packages/authorization-process/test/vitestIntegrationGlobalSetup.ts
  packages/authorization-process/vitest.integration.config.ts
Labels: supertest

#1843 General fixes readmodel sql - part 2
  docker/readmodel-db/client.sql
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/test/integration/createKey.test.ts
  packages/authorization-process/test/integration/createProducerKeychainKey.test.ts
  packages/authorization-process/test/integration/getKeyWithClientByKeyId.test.ts
  packages/catalog-readmodel-writer-sql/src/consumerServiceV1.ts
  packages/client-assertion-validation/src/validation.ts
  packages/client-assertion-validation/test/keyImport.test.ts
  packages/client-readmodel-writer-sql/src/clientConsumerServiceV1.ts
  packages/client-readmodel-writer-sql/src/readModelService.ts
  packages/client-readmodel-writer/src/clientConsumerServiceV1.ts
  packages/commons-test/test/jwk.test.ts
  packages/commons/src/auth/converters.ts
  packages/commons/src/auth/jwk.ts
  packages/key-readmodel-writer-sql/src/keyConsumerServiceV1.ts
  packages/key-readmodel-writer/src/keyConsumerServiceV1.ts
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel/src/authorization/clientAggregators.ts
  packages/readmodel/src/clientJWKKeyReadModelService.ts
  packages/readmodel/src/clientReadModelService.ts
  packages/readmodel/src/utils.ts
Labels: readmodel-sql

#1844 Fix `producer-key-rmw-sql` and `client-rmw-sql`
  packages/client-readmodel-writer-sql/src/clientConsumerServiceV1.ts
  packages/client-readmodel-writer-sql/src/readModelService.ts
  packages/client-readmodel-writer/src/clientConsumerServiceV1.ts
  packages/readmodel/src/producerJWKKeyReadModelService.ts
Labels: readmodel-sql

#1601 PIN-6263 Compare readmodels
  packages/commons-test/src/testUtils.ts
  packages/readmodel-checker/.env
  packages/readmodel-checker/Dockerfile
  packages/readmodel-checker/aws.config.local
  packages/readmodel-checker/package.json
  packages/readmodel-checker/src/configs/config.ts
  packages/readmodel-checker/src/index.ts
  packages/readmodel-checker/src/services/readModelService.ts
  packages/readmodel-checker/src/services/readModelServiceSQL.ts
  packages/readmodel-checker/src/utils.ts
  packages/readmodel-checker/test/agreementReadModelCheck.test.ts
  packages/readmodel-checker/test/attributeReadModelCheck.test.ts
  packages/readmodel-checker/test/clientKeyReadModelCheck.test.ts
  packages/readmodel-checker/test/clientReadModelCheck.test.ts
  packages/readmodel-checker/test/delegationReadModelCheck.test.ts
  packages/readmodel-checker/test/eserviceReadModelCheck.test.ts
  packages/readmodel-checker/test/eserviceTemplateReadModelCheck.test.ts
  packages/readmodel-checker/test/producerKeychainKeyReadModelCheck.test.ts
  packages/readmodel-checker/test/producerKeychainReadModelCheck.test.ts
  packages/readmodel-checker/test/purposeReadModelCheck.test.ts
  packages/readmodel-checker/test/tenantReadModelCheck.test.ts
  packages/readmodel-checker/test/tsconfig.json
  packages/readmodel-checker/test/utils.ts
  packages/readmodel-checker/test/vitestGlobalSetup.ts
  packages/readmodel-checker/tsconfig.check.json
  packages/readmodel-checker/tsconfig.json
  packages/readmodel-checker/vitest.config.ts
  packages/readmodel/src/index.ts
  packages/readmodel/test/clientJWKKeyAggregator.test.ts
  packages/readmodel/test/clientJWKKeyQueries.test.ts
  packages/readmodel/test/clientJWKKeySplitter.test.ts
  packages/readmodel/test/clientJWKKeyUtils.ts
  packages/readmodel/test/producerJWKKeyAggregator.test.ts
  packages/readmodel/test/producerJWKKeyQueries.test.ts
  packages/readmodel/test/producerJWKKeySplitter.test.ts
  packages/readmodel/test/producerJWKKeyUtils.ts
  pnpm-lock.yaml
Labels: readmodel-sql
