Repository pagopa/interop-be-monorepo, pull requests merged in 2025-02, with the labels that each got.

#1439 Add PDND filter to selfcare/Institutions route
  packages/backend-for-frontend/.env
  packages/backend-for-frontend/src/api/selfcareApiConverter.ts
  packages/backend-for-frontend/src/config/config.ts
  packages/backend-for-frontend/src/services/selfcareService.ts
  pnpm-lock.yaml
Labels: selfcare

#1443 PIN-6003 - Added get e-service template by id service
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
  packages/backend-for-frontend/src/api/eserviceTemplateApiConverter.ts
  packages/backend-for-frontend/src/model/errors.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/test/getEServiceTemplateById.test.ts
Labels: eservice-template

#1453 PIN 5981 - Risk Analysis endpoints
  collections/eservice-template/Add EService Template Risk Analysis.bru
  collections/eservice-template/Delete EService Template Risk Analysis.bru
  collections/eservice-template/Update EService Template Risk Analysis.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/Dockerfile
  packages/eservice-template-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/src/services/validators.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/createEServiceTemplateRiskAnalysis.test.ts
  packages/eservice-template-process/test/deleteEServiceTemplateRiskAnalysis.test.ts
  packages/eservice-template-process/test/updateEServiceTemplateRiskAnalysis.test.ts
  packages/eservice-template-process/test/utils.ts
  packages/eservice-template-readmodel-writer/Dockerfile
Labels: eservice-template

#1483 [PIN-6132]: Remove error handling from getConsumerDelegators
  packages/api-clients/src/bffApi.ts
  packages/backend-for-frontend/src/services/delegationService.ts
  packages/delegation-process/src/model/domain/errors.ts
  packages/delegation-process/src/services/delegationService.ts
  packages/delegation-process/src/utilities/errorMappers.ts
  packages/delegation-process/test/getConsumerDelegators.test.ts
  packages/delegation-process/test/getConsumerEservices.test.ts
Labels: bug, Incaricato

#1424 PIN-5996 - Update template version quotas
  collections/eservice-template/Update EService Template Version Quotas.bru
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/updateEServiceTemplateVersionQuotas.test.ts
Labels: eservice-template

#1427 PIN-5997 - Update e-service template version attributes
  collections/eservice-template/Update EService Template Version Attributes.bru
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/updateEServiceTemplateVersionAttributes.test.ts
  packages/eservice-template-process/test/utils.ts
Labels: eservice-template

#1494 PIN-6148: getConsumerDelegatorsWithAgreements Aggregation stage not supported
  packages/delegation-process/src/services/readModelService.ts
Labels: bug, Incaricato

#1412 PIN-5980 create edit template
  collections/environments/PagoPA local.bru
  collections/eservice-template/Create EService Template.bru
  collections/eservice-template/Update EService Template.bru
  package.json
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/backend-for-frontend/src/api/eserviceTemplateApiConverter.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/commons-test/src/testUtils.ts
  packages/eservice-template-process/.env
  packages/eservice-template-process/src/model/domain/apiConverter.ts
  packages/eservice-template-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/model/domain/toEvent.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/validators.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/createEServiceTemplate.test.ts
  packages/eservice-template-process/test/updateEServiceTemplate.test.ts
  packages/eservice-template-process/test/utils.ts
  packages/models/src/eservice-template/protobufConverterToV2.ts
Labels: eservice-template

#1504 Fix `getJWK` api-gateway 500 error
  packages/api-gateway/src/services/readModelService.ts
Labels: bug, api-gateway

#1519 PIN-6168 - Fixes to delegation contracts
  packages/delegation-process/src/model/domain/models.ts
  packages/delegation-process/src/resources/templates/delegationApprovedTemplate.html
  packages/delegation-process/src/resources/templates/delegationRevokedTemplate.html
  packages/delegation-process/src/services/delegationContractBuilder.ts
  packages/delegation-process/test/approveDelegation.test.ts
  packages/delegation-process/test/revokeDelegation.test.ts
Labels: capofila, Incaricato

#1522 Standardizing BFF consumer/producer routes
  collections/bff/delegation/producer/Approve Producer Delegation.bru
  collections/bff/delegation/producer/Create Producer Delegation.bru
  collections/bff/delegation/producer/Reject Producer Delegation.bru
  collections/bff/delegation/producer/Revoke Producer Delegation.bru
  collections/bff/purposes/get Producer Purposes.bru
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/agreementRouter.ts
  packages/backend-for-frontend/src/routers/producerDelegationRouter.ts
  packages/backend-for-frontend/src/routers/purposeRouter.ts
Labels: capofila, Incaricato

#1514 PIN-6159: Tenant delegated features update fix
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/tenantApi.yml
  packages/backend-for-frontend/src/routers/tenantRouter.ts
  packages/backend-for-frontend/src/services/tenantService.ts
  packages/tenant-process/src/model/domain/errors.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/src/services/validators.ts
  packages/tenant-process/src/utilities/errorMappers.ts
  packages/tenant-process/test/assignTenantDelegatedConsumerFeature.test.ts
  packages/tenant-process/test/assignTenantDelegatedProducerFeature.test.ts
  packages/tenant-process/test/removeTenantDelegatedConsumerFeature.test.ts
  packages/tenant-process/test/removeTenantDelegatedProducerFeature.test.ts
  packages/tenant-process/test/updateTenantDelegatedFeatures.test.ts
Labels: capofila, Incaricato

#1512 Update e-service template models
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/catalog-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/commons-test/src/testUtils.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/models/proto/v2/eservice/eservice.proto
  packages/models/src/eservice-template/eserviceTemplate.ts
  packages/models/src/eservice-template/protobufConverterFromV2.ts
  packages/models/src/eservice/eservice.ts
  packages/models/src/eservice/protobufConverterFromV2.ts
Labels: eservice-template

#1520 PIN-6004 - Listing e-service template istances
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/model/domain/apiConverter.ts
  packages/eservice-template-process/src/model/domain/models.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/getEServiceTemplateInstances.test.ts
  packages/eservice-template-process/test/utils.ts
Labels: eservice-template

#1515 PIN-6118 new purpose version activated notification
  packages/notification-email-sender/src/index.ts
  packages/notification-email-sender/src/resources/templates/new-purpose-version-activated-mail.html
  packages/notification-email-sender/src/services/notificationEmailSenderService.ts
  packages/notification-email-sender/test/sendPurposeVersionActivatedEmail.integration.test.ts
Labels: notification-emails

#1507 PIN-6115 eservice descriptor published notification
  packages/notification-email-sender/src/index.ts
  packages/notification-email-sender/src/models/errors.ts
  packages/notification-email-sender/src/resources/templates/eservice-descriptor-published-mail.html
  packages/notification-email-sender/src/services/notificationEmailSenderService.ts
  packages/notification-email-sender/src/services/readModelService.ts
  packages/notification-email-sender/test/sendEserviceDescriptorPublishedSimpleEmail.integration.test.ts
Labels: notification-emails

#1501 PIN-6114 purpose waiting for approval notification
  packages/notification-email-sender/src/index.ts
  packages/notification-email-sender/src/resources/templates/purpose-waiting-for-approval-mail.html
  packages/notification-email-sender/src/services/notificationEmailSenderService.ts
  packages/notification-email-sender/test/sendPurposeWaitingForApprovalNotificationEmail.integration.test.ts
Labels: notification-emails

#1500 PIN-6117/PIN-6119 Reject purpose version notification
  packages/notification-email-sender/src/index.ts
  packages/notification-email-sender/src/resources/templates/agreement-activated-mail.html
  packages/notification-email-sender/src/resources/templates/agreement-rejected-mail.html
  packages/notification-email-sender/src/resources/templates/agreement-submitted-mail.html
  packages/notification-email-sender/src/resources/templates/first-purpose-version-rejected-mail.html
  packages/notification-email-sender/src/resources/templates/other-purpose-version-rejected-mail.html
  packages/notification-email-sender/src/services/notificationEmailSenderService.ts
  packages/notification-email-sender/test/sendActivationNotificationEmail.integration.test.ts
  packages/notification-email-sender/test/sendAgreementActivatedEmail.integration.test.ts
  packages/notification-email-sender/test/sendAgreementRejectedEmail.integration.test.ts
  packages/notification-email-sender/test/sendAgreementSubmittedEmail.integration.test.ts
  packages/notification-email-sender/test/sendNewPurposeVersionWaitingForApprovalEmail.integration.test.ts
  packages/notification-email-sender/test/sendPurposeVersionRejectedEmail.integration.test.ts
Labels: notification-emails

#1511 PIN 5984 - Template publish
  collections/eservice-template/Publish EService Template Version.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/publishEServiceTemplateVersion.test.ts
Labels: eservice-template

#1538 PIN-6196 - IPA certified attributes importer - GPS category
  packages/ipa-certified-attributes-importer/src/index.ts
  packages/ipa-certified-attributes-importer/test/tenantUpsertData.test.ts
Labels: mixed-activity

#1463 PIN-6002 - Listing templates
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/backend-for-frontend/src/api/eserviceTemplateApiConverter.ts
  packages/backend-for-frontend/src/model/errors.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/test/getEServiceTemplates.test.ts
  packages/eservice-template-process/test/utils.ts
Labels: eservice-template

#1236 PIN-5198 Validation of expirationDate in verifiedAttribute in tenant-process
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/test/verifyVerifiedAttribute.test.ts
Labels: tenant-process, mixed-activity

#1552 PIN-6201 - pt2 - Removing rate limiter from auth-server
  packages/authorization-server/src/routers/AuthorizationServerRouter.ts
  packages/authorization-server/src/services/tokenService.ts
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/authorization-server/test/utils.ts
Labels: authorization-server

#1530 PIN-6191: getAgreement returns with not active delegations
  packages/backend-for-frontend/src/services/agreementService.ts
Labels: bug, bff-agreement, Incaricato

#1529 PIN-6190: enhancePurpose with delegate's clients
  packages/backend-for-frontend/src/services/purposeService.ts
Labels: bug, bff, Incaricato

#1458 PIN-5033 upload only one public key at a time
  packages/api-clients/open-api/authorizationApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/createKey.test.ts
  packages/backend-for-frontend/src/routers/clientRouter.ts
  packages/backend-for-frontend/src/services/clientService.ts
Labels: mixed-activity

#1566 Bke implementazione recupero documento
  collections/bff/eserviceTemplate/Download EService Template Document.bru
  collections/eservice-template/Get EService Template Document by TemplateVersion and DocumentId.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/template-bff.hbs
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/getEServiceTemplateVersionDocumentById.test.ts
Labels: bff, eservice-template

#1545 PIN-6209 - Get catalog e-service template creators
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/test/getEServiceTemplateCreators.test.ts
Labels: eservice-template

#1581 PIN-4766 / PIN-4767 Fix agreement states for document change
  packages/agreement-process/src/model/domain/agreement-validators.ts
Labels: bug, mixed-activity

#1583 Added retrieve e-service template details by id in bff
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/api/eserviceTemplateApiConverter.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
Labels: eservice-template

#1579 PIN-4770 Remove suspended from valid descriptor states on agreement submit
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/test/submitAgreement.test.ts
Labels: bug, mixed-activity

#1585 Pin 5105 bke in add tenant mail bisogna rimuovere l autorizzazione ad api
  packages/tenant-process/src/routers/TenantRouter.ts
Labels: bug

#1590 Update `e-service` models
  packages/catalog-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/createEServiceFromTemplate.test.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/test/getEServiceTemplateInstances.test.ts
  packages/models/proto/v2/eservice/eservice.proto
  packages/models/src/eservice/eservice.ts
  packages/models/src/eservice/protobufConverterFromV2.ts
Labels: eservice-template

#1586 Permissions for API_ROLE and SECURITY_ROLE have been removed for the …
  packages/tenant-process/src/routers/TenantRouter.ts
Labels: bug

#1436 PIN-6000 - Create e-service template version
  collections/eservice-template/Create EService Template Version.bru
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/.env
  packages/backend-for-frontend/src/config/config.ts
  packages/backend-for-frontend/src/model/errors.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
  packages/backend-for-frontend/src/utilities/eserviceDocumentUtils.ts
  packages/backend-for-frontend/src/utilities/fileUtils.ts
  packages/eservice-template-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/validators.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/createEServiceTemplateVersion.test.ts
Labels: eservice-template

#1562 Pin 6004 - Update get instances implementation
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/catalog-process/src/model/domain/models.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/readModelService.ts
  packages/catalog-process/test/getEservices.test.ts
  packages/catalog-process/test/utils.ts
  packages/eservice-template-process/src/model/domain/apiConverter.ts
  packages/eservice-template-process/src/model/domain/models.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/getEServiceTemplateInstances.test.ts
Labels: eservice-template

#1570 PIN-5998 - Added template side effects events
  packages/authorization-updater/src/index.ts
  packages/catalog-outbound-writer/src/converters/toOutboundEventV2.ts
  packages/catalog-platformstate-writer/src/consumerServiceV2.ts
  packages/catalog-process/src/model/domain/toEvent.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/internalCreateDescriptorDocument.test.ts
  packages/catalog-process/test/internalDeleteDescriptorDocument.test.ts
  packages/catalog-process/test/internalUpdateDescriptorAttributes.test.ts
  packages/catalog-process/test/internalUpdateDescriptorDocument.test.ts
  packages/catalog-process/test/internalUpdateDescriptorVoucherLifespan.test.ts
  packages/catalog-process/test/internalUpdateEServiceName.test.ts
  packages/catalog-process/test/internalUpdateEserviceDescription.test.ts
  packages/catalog-readmodel-writer/src/consumerServiceV2.ts
  packages/datalake-interface-exporter/src/interfaceExporterV2.ts
  packages/models/proto/v2/eservice/events.proto
  packages/models/src/eservice/eserviceEvents.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationConverter.ts
  packages/notifier-seeder/src/models/catalog/catalogItemEventNotificationMessage.ts
Labels: eservice-template

#1540 PIN 6059 - Upgrade eservice instance
  collections/bff/catalog/Upgrade Eservice Template Instance.bru
  collections/catalog/Upgrade Eservice Template Instance.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/catalog-process/src/model/domain/errors.ts
  packages/catalog-process/src/routers/EServiceRouter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/services/readModelService.ts
  packages/catalog-process/src/utilities/errorMappers.ts
  packages/catalog-process/test/createEServiceFromTemplate.test.ts
  packages/catalog-process/test/upgradeEserviceTemplateInstance.test.ts
Labels: catalog-process, eservice-template

#1592 PIN-6232 Fix expires_in field in authorization-server response
  packages/api-clients/open-api/authorizationServerApi.yml
  packages/authorization-server/src/routers/AuthorizationServerRouter.ts
Labels: authorization-server

#1594 Added missing field in create instance service
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/catalog-process/src/services/catalogService.ts
Labels: eservice-template

#1595 Catalog process api expose template ref
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
Labels: catalog-process, eservice-template

#1598 PIN-6288 BFF enhance eservice with template data
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/backend-for-frontend/src/utilities/eserviceDocumentUtils.ts
  packages/catalog-process/src/model/domain/apiConverter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/createEServiceFromTemplate.test.ts
  packages/catalog-process/test/uploadDocument.test.ts
Labels: bff, eservice-template

#1580 PIN-6061-Eservice Instance interface document by template
  collections/bff/catalog/Add e-service interface by teamplate.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/catalogApi.yml
  packages/backend-for-frontend/.env
  packages/backend-for-frontend/package.json
  packages/backend-for-frontend/src/api/catalogApiConverter.ts
  packages/backend-for-frontend/src/app.ts
  packages/backend-for-frontend/src/config/config.ts
  packages/backend-for-frontend/src/model/errors.ts
  packages/backend-for-frontend/src/routers/catalogRouter.ts
  packages/backend-for-frontend/src/routers/eserviceTemplateRouter.ts
  packages/backend-for-frontend/src/services/catalogService.ts
  packages/backend-for-frontend/src/services/eserviceTemplateService.ts
  packages/backend-for-frontend/src/services/validators.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
  packages/backend-for-frontend/src/utilities/eserviceDocumentUtils.ts
  packages/backend-for-frontend/test/eserviceTemplateService.test.ts
  packages/backend-for-frontend/test/resources/test.openapi.3.0.2.json
  packages/backend-for-frontend/test/resources/test.openapi.3.0.2.yaml
  packages/backend-for-frontend/test/utils.ts
  packages/catalog-process/src/model/domain/apiConverter.ts
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/test/createEServiceFromTemplate.test.ts
  packages/catalog-process/test/uploadDocument.test.ts
  pnpm-lock.yaml
Labels: bff, eservice-template
