Repository pagopa/interop-be-monorepo, pull requests merged in 2025-10, with the labels that each got.

#2438 Fix email-notification-dispatcher Dockerfile
  packages/email-notification-dispatcher/Dockerfile
Labels: notification-config

#2442 feature: add common purpose-template-process validators and errors (PIN-7841)
  packages/purpose-template-process/src/model/domain/errors.ts
  packages/purpose-template-process/src/services/validators.ts
Labels: purpose-template

#2404 PIN-7768: email notification implementation - Attributes
  packages/email-notification-dispatcher/.env
  packages/email-notification-dispatcher/src/config/config.ts
  packages/email-notification-dispatcher/src/config/constants.ts
  packages/email-notification-dispatcher/src/handlers/attributes/handleAttributeEvent.ts
  packages/email-notification-dispatcher/src/handlers/handlerCommons.ts
  packages/email-notification-dispatcher/src/handlers/tenants/handleTenantCertifiedAttributeAssigned.ts
  packages/email-notification-dispatcher/src/handlers/tenants/handleTenantCertifiedAttributeRevoked.ts
  packages/email-notification-dispatcher/src/handlers/tenants/handleTenantEvent.ts
  packages/email-notification-dispatcher/src/handlers/tenants/handleTenantVerifiedAttributeAssigned.ts
  packages/email-notification-dispatcher/src/handlers/tenants/handleTenantVerifiedAttributeRevoked.ts
  packages/email-notification-dispatcher/src/index.ts
  packages/email-notification-dispatcher/src/models/errors.ts
  packages/email-notification-dispatcher/src/resources/templates/tenant-certified-attribute-assigned-mail.html
  packages/email-notification-dispatcher/src/resources/templates/tenant-certified-attribute-revoked-mail.html
  packages/email-notification-dispatcher/src/resources/templates/tenant-verified-attribute-assigned-mail.html
  packages/email-notification-dispatcher/src/resources/templates/tenant-verified-attribute-revoked-mail.html
  packages/email-notification-dispatcher/src/services/readModelServiceSQL.ts
  packages/email-notification-dispatcher/src/services/utils.ts
  packages/email-notification-dispatcher/test/handleTenantCertifiedAttributeAssigned.test.ts
  packages/email-notification-dispatcher/test/handleTenantCertifiedAttributeRevoked.test.ts
  packages/email-notification-dispatcher/test/handleTenantVerifiedAttributeAssigned.test.ts
  packages/email-notification-dispatcher/test/handleTenantVerifiedAttributeRevoked.test.ts
  packages/email-notification-dispatcher/test/utils.ts
Labels: notification-emails, notification-config

#2352 Pin 7395 unlink eservices to purpose template
  collections/purpose-template/Unlink Eservices to Purpose Template.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/purposeTemplateApi.yml
  packages/backend-for-frontend/src/model/errors.ts
  packages/backend-for-frontend/src/routers/purposeTemplateRouter.ts
  packages/backend-for-frontend/src/services/purposeTemplateService.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
  packages/backend-for-frontend/test/api/purposeTemplateRouter/unlinkEServiceFromPurposeTemplate.test.ts
  packages/purpose-template-process/src/errors/purposeTemplateValidationErrors.ts
  packages/purpose-template-process/src/model/domain/errors.ts
  packages/purpose-template-process/src/model/domain/toEvent.ts
  packages/purpose-template-process/src/routers/PurposeTemplateRouter.ts
  packages/purpose-template-process/src/services/purposeTemplateService.ts
  packages/purpose-template-process/src/services/validators.ts
  packages/purpose-template-process/src/utilities/errorMappers.ts
  packages/purpose-template-process/test/api/unlinkEservicesFromPurposeTemplate.test.ts
  packages/purpose-template-process/test/integration/purposeTemplateValidation.unit.test.ts
  packages/purpose-template-process/test/integration/unlinkEservicesFromPurposeTemplate.test.ts
Labels: purpose-template

#2379 feature: writing E-Service M2M events (PIN-7685)
  docker/m2m-event-db/m2m-event.sql
  packages/commons-test/src/setupTestContainersVitest.ts
  packages/m2m-event-db-models/src/drizzle/schema.ts
  packages/m2m-event-db-models/src/types.ts
  packages/m2m-event-dispatcher/src/handlers/handleAttributeEvent.ts
  packages/m2m-event-dispatcher/src/handlers/handleEServiceEvent.ts
  packages/m2m-event-dispatcher/src/index.ts
  packages/m2m-event-dispatcher/src/models/errors.ts
  packages/m2m-event-dispatcher/src/models/eserviceM2MEventAdapterSQL.ts
  packages/m2m-event-dispatcher/src/services/event-builders/attributeM2MEventBuilder.ts
  packages/m2m-event-dispatcher/src/services/event-builders/eserviceM2MEventBuilder.ts
  packages/m2m-event-dispatcher/src/services/m2mEventWriterServiceSQL.ts
  packages/m2m-event-dispatcher/src/services/readModelServiceSQL.ts
  packages/m2m-event-dispatcher/src/services/validators.ts
  packages/m2m-event-dispatcher/src/utils/uuidv7.ts
  packages/m2m-event-dispatcher/test/.eslintrc.json
  packages/m2m-event-dispatcher/test/handleAttributeEvent.test.ts
  packages/m2m-event-dispatcher/test/handleEServiceEvent.test.ts
  packages/m2m-event-dispatcher/test/utils.ts
  packages/m2m-event-manager/src/services/m2mEventReaderServiceSQL.ts
  packages/m2m-event-manager/test/integrationUtils.ts
  packages/models/src/brandedIds.ts
  packages/models/src/index.ts
  packages/models/src/m2m-event/eserviceM2MEvent.ts
  packages/models/src/m2m-event/m2mEventVisibility.ts
Labels: m2m-events

#2367 feature: Update purpose template draft (PIN-7393)
  collections/bff/purposeTemplate/Update Purpose Template.bru
  collections/purpose-template/Update Purpose Template.bru
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/purposeTemplateApi.yml
  packages/backend-for-frontend/src/routers/purposeTemplateRouter.ts
  packages/backend-for-frontend/src/services/purposeTemplateService.ts
  packages/backend-for-frontend/test/api/purposeTemplateRouter/updatePurposeDraftTemplate.test.ts
  packages/commons-test/src/riskAnalysisTemplateTestUtils.ts
  packages/commons/src/risk-analysis-template/riskAnalysisTemplateValidation.ts
  packages/purpose-template-process/src/config/config.ts
  packages/purpose-template-process/src/index.ts
  packages/purpose-template-process/src/model/domain/toEvent.ts
  packages/purpose-template-process/src/routers/PurposeTemplateRouter.ts
  packages/purpose-template-process/src/services/purposeTemplateService.ts
  packages/purpose-template-process/src/services/readModelServiceSQL.ts
  packages/purpose-template-process/src/utilities/errorMappers.ts
  packages/purpose-template-process/src/utilities/riskAnalysisDocUtils.ts
  packages/purpose-template-process/test/api/updatePurposeDraftTemplate.test.ts
  packages/purpose-template-process/test/integration/updatePurposeTemplate.test.ts
  packages/purpose-template-process/test/integrationUtils.ts
Labels: purpose-template

#2434 PIN-7831 Composite entityId for eservice in notifications
  docker/in-app-notification-db/notification.sql
  packages/backend-for-frontend/src/api/inAppNotificationApiConverter.ts
  packages/in-app-notification-db-models/src/schema.ts
  packages/in-app-notification-dispatcher/src/handlers/eserviceTemplates/handleEserviceTemplateNameChangedToInstantiator.ts
  packages/in-app-notification-dispatcher/src/handlers/eserviceTemplates/handleEserviceTemplateStatusChangedToInstantiator.ts
  packages/in-app-notification-dispatcher/src/handlers/eserviceTemplates/handleNewEserviceTemplateVersionToInstantiator.ts
  packages/in-app-notification-dispatcher/src/handlers/eserviceTemplates/handleTemplateStatusChangedToProducer.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceNewVersionApprovedRejectedToDelegate.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceNewVersionSubmittedToDelegator.ts
  packages/in-app-notification-dispatcher/src/handlers/eservices/handleEserviceStateChangedToConsumer.ts
  packages/in-app-notification-dispatcher/src/handlers/handlerCommons.ts
  packages/in-app-notification-dispatcher/test/handleEserviceNewVersionApprovedRejectedToDelegate.test.ts
  packages/in-app-notification-dispatcher/test/handleEserviceNewVersionSubmittedToDelegator.test.ts
  packages/in-app-notification-dispatcher/test/handleEserviceStateChangedToConsumer.test.ts
  packages/in-app-notification-dispatcher/test/handleEserviceTemplateNameChangedToInstantiator.test.ts
  packages/in-app-notification-dispatcher/test/handleEserviceTemplateStatusChangedToInstantiator.test.ts
  packages/in-app-notification-dispatcher/test/handleNewEserviceTemplateVersionToInstantiator.test.ts
  packages/in-app-notification-dispatcher/test/handleTemplateStatusChangedToProducer.test.ts
  packages/models/src/brandedIds.ts
  packages/models/src/notification/notification.ts
Labels: notification-config

#2317 PIN-7546: email notification implementation - Purpose - Switch 16
  packages/email-notification-dispatcher/src/handlers/handlerCommons.ts
  packages/email-notification-dispatcher/src/handlers/purposes/handlePurposeEvent.ts
  packages/email-notification-dispatcher/src/handlers/purposes/handlePurposeVersionSuspendedByProducer.ts
  packages/email-notification-dispatcher/src/handlers/purposes/handlePurposeVersionUnsuspendedByProducer.ts
  packages/email-notification-dispatcher/src/resources/templates/purpose-version-suspended-by-producer-mail.html
  packages/email-notification-dispatcher/src/resources/templates/purpose-version-unsuspended-by-producer-mail.html
  packages/email-notification-dispatcher/test/handlePurposeVersionSuspendedByProducer.test.ts
  packages/email-notification-dispatcher/test/handlePurposeVersionUnsuspendedByProducer.test.ts
Labels: notification-emails, notification-config

#2391 PIN-7646 Add personalData flag in eservice-template
  docker/domains-analytics-db/domains-init.sql
  docker/readmodel-db/eservice-template.sql
  packages/api-clients/open-api/bffApi.yml
  packages/api-clients/open-api/eserviceTemplateApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/eservice-template-process/.env
  packages/eservice-template-process/src/config/config.ts
  packages/eservice-template-process/src/model/domain/apiConverter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/m2m-gateway/src/api/eserviceTemplateApiConverter.ts
  packages/models/proto/v2/eservice-template/eservice-template.proto
  packages/models/src/eservice-template/eserviceTemplate.ts
  packages/readmodel-models/src/drizzle/schema.ts
  packages/readmodel/src/eservice-template/aggregators.ts
  packages/readmodel/src/eservice-template/splitters.ts
  packages/readmodel/test/eserviceTemplateSplitter.test.ts
Labels: Adeguamento LLGG
