Repository pagopa/interop-be-monorepo, pull requests merged in 2025-05, with the labels that each got.

#1847 PIN-6772 - M2M - GET certified attribute by ID
  collections/attribute/Create certified attribute.bru
  collections/m2m gateway/certifiedAttributes/Get certified attribute.bru
  collections/m2m gateway/certifiedAttributes/folder.bru
  packages/attribute-registry-process/src/routers/AttributeRouter.ts
  packages/attribute-registry-process/test/api/getAttributeById.test.ts
  packages/m2m-gateway/package.json
  packages/m2m-gateway/src/api/attributeApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/attributeRouter.ts
  packages/m2m-gateway/src/services/attributeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/src/utils/validators/attributeValidators.ts
  packages/m2m-gateway/test/.eslintrc.json
  packages/m2m-gateway/test/api/certifiedAttributes/getCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/certifiedAttributes/getCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/m2m-gateway/test/vitest.api.setup.ts
  pnpm-lock.yaml
Labels: attribute-registry-process, api-v2

#1849 PIN-6771 - M2M - Create certified attribute
  collections/m2m gateway/certifiedAttributes/Create certified attribute.bru
  collections/m2m gateway/consumerDelegations/Create consumer delegation.bru
  packages/api-clients/open-api/attributeRegistryApi.yml
  packages/attribute-registry-process/src/model/domain/errors.ts
  packages/attribute-registry-process/src/routers/AttributeRouter.ts
  packages/attribute-registry-process/src/services/attributeRegistryService.ts
  packages/attribute-registry-process/test/api/createCertifiedAttribute.test.ts
  packages/attribute-registry-process/test/api/getAttributeById.test.ts
  packages/attribute-registry-process/test/integration/createCertifiedAttribute.test.ts
  packages/m2m-gateway/src/api/attributeApiConverter.ts
  packages/m2m-gateway/src/routers/attributeRouter.ts
  packages/m2m-gateway/src/services/attributeService.ts
  packages/m2m-gateway/src/utils/validators/attributeValidators.ts
  packages/m2m-gateway/test/.eslintrc.json
  packages/m2m-gateway/test/api/certifiedAttributes/createCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/certifiedAttributes/getCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/createConsumerDelegation.test.ts
  packages/m2m-gateway/test/integration/certifiedAttributes/createCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/certifiedAttributes/getCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/consumerDelegations/createConsumerDelegation.test.ts
  packages/m2m-gateway/test/mockUtils.ts
Labels: attribute-registry-process, api-v2

#1831 PIN-6656 - M2M - GET consumer delegations
  collections/m2m gateway/consumerDelegations/List consumer delegations.bru
  packages/api-clients/src/delegationApi.ts
  packages/api-clients/src/index.ts
  packages/delegation-process/src/routers/DelegationRouter.ts
  packages/m2m-gateway/src/api/delegationApiConverter.ts
  packages/m2m-gateway/src/routers/delegationRouter.ts
  packages/m2m-gateway/src/services/delegationService.ts
  packages/m2m-gateway/test/.eslintrc.json
  packages/m2m-gateway/test/api/consumerDelegations/acceptConsumerDelegation.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/createConsumerDelegation.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/getConsumerDelegations.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/rejectConsumerDelegation.test.ts
  packages/m2m-gateway/test/integration/consumerDelegations/acceptConsumerDelegation.test.ts
  packages/m2m-gateway/test/integration/consumerDelegations/createConsumerDelegation.test.ts
  packages/m2m-gateway/test/integration/consumerDelegations/getConsumerDelegations.test.ts
  packages/m2m-gateway/test/integration/consumerDelegations/rejectConsumerDelegation.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
Labels: delegation-process, api-v2

#1855 Fixing interface version in API GW v2
  packages/m2m-gateway/.env
Labels: api-v2

#1842 PIN-6759: Add admin field to CompactClient and simplify service builders
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/api/authorizationApiConverter.ts
  packages/backend-for-frontend/src/routers/clientRouter.ts
  packages/backend-for-frontend/src/routers/producerKeychainRouter.ts
  packages/backend-for-frontend/src/routers/purposeRouter.ts
  packages/backend-for-frontend/src/routers/selfcareRouter.ts
  packages/backend-for-frontend/src/services/clientService.ts
  packages/backend-for-frontend/src/services/producerKeychainService.ts
  packages/backend-for-frontend/src/services/purposeService.ts
  packages/backend-for-frontend/src/services/selfcareService.ts
Labels: admin-client

#1757 PIN-6585 Add readmodel SQL to api-gateway
  packages/api-gateway/.env
  packages/api-gateway/Dockerfile
  packages/api-gateway/package.json
  packages/api-gateway/src/config/config.ts
  packages/api-gateway/src/routers/apiGatewayRouter.ts
  packages/api-gateway/src/services/readModelServiceSQL.ts
  packages/readmodel/src/clientJWKKeyReadModelService.ts
  packages/readmodel/src/producerJWKKeyReadModelService.ts
  pnpm-lock.yaml
Labels: readmodel-sql

#1851 General fixes readmodel SQL - part3
  packages/attribute-registry-process/src/config/config.ts
  packages/authorization-process/src/config/config.ts
  packages/catalog-process/src/config/config.ts
  packages/commons/src/auth/jwk.ts
  packages/commons/src/config/readmodelSQLDbConfig.ts
  packages/delegation-process/src/config/config.ts
  packages/domains-analytics-writer/src/config/config.ts
  packages/domains-analytics-writer/test/setupTestEnv.ts
  packages/domains-analytics-writer/vitest.config.ts
  packages/purpose-process/src/config/config.ts
  packages/readmodel/src/catalog/aggregators.ts
Labels: readmodel-sql, fix-sql

#1802 PIN-6683: added internalRemoveClientAdmin in auth-process
  collections/authorization/Internal Remove Client Admin.bru
  packages/api-clients/open-api/authorizationApi.yml
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/internalClientAdminRemoved.test.ts
  packages/authorization-updater/src/index.ts
  packages/client-readmodel-writer-sql/src/clientConsumerServiceV2.ts
  packages/client-readmodel-writer/src/clientConsumerServiceV2.ts
  packages/domains-analytics-writer/src/handlers/authorization/consumerServiceV2.ts
  packages/key-readmodel-writer-sql/src/keyConsumerServiceV2.ts
  packages/key-readmodel-writer/src/keyConsumerServiceV2.ts
  packages/models/proto/v2/authorization/events.proto
  packages/models/src/authorization/authorizationEvents.ts
  packages/notifier-seeder/src/models/authorization/authorizationEventNotificationConverter.ts
  packages/notifier-seeder/src/models/authorization/authorizationEventNotificationMessage.ts
  packages/producer-key-events-writer/src/producerKeyConsumerServiceV2.ts
  packages/producer-key-readmodel-writer-sql/src/producerKeyConsumerServiceV2.ts
  packages/producer-key-readmodel-writer/src/producerKeyConsumerServiceV2.ts
  packages/producer-keychain-readmodel-writer-sql/src/producerKeychainConsumerServiceV2.ts
  packages/producer-keychain-readmodel-writer/src/producerKeychainConsumerServiceV2.ts
Labels: admin-client

#1853 [PIN-6778] Fix error mappers for authorization and tenant processes
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/tenant-process/src/utilities/errorMappers.ts
Labels: bug, authorization-process, tenant-process

#1776 PIN-6654 - Update `aggregateXArray`functions with maps
  packages/readmodel/src/agreement/aggregators.ts
  packages/readmodel/src/authorization/clientAggregators.ts
  packages/readmodel/src/authorization/producerKeychainAggregators.ts
  packages/readmodel/src/catalog/aggregators.ts
  packages/readmodel/src/delegation/aggregators.ts
  packages/readmodel/src/eservice-template/aggregators.ts
  packages/readmodel/src/purpose/aggregators.ts
  packages/readmodel/src/tenant/aggregators.ts
Labels: readmodel-sql, fix-sql

#1824 PIN-6662 Auth Server M2M token generation
  packages/anac-certified-attributes-importer/test/processor.test.ts
  packages/authorization-server/src/services/tokenService.ts
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/authorization-server/test/authorizationServer.unit.test.ts
  packages/commons-test/src/mockedPayloadForToken.ts
  packages/commons-test/src/tokenGenerationReadmodelUtils.ts
  packages/commons-test/test/jwt.unit.test.ts
  packages/commons/src/auth/authData.ts
  packages/commons/src/config/authorizationServerTokenGenerationConfig.ts
  packages/commons/src/interop-token/interopTokenService.ts
  packages/commons/src/interop-token/models.ts
  packages/commons/src/interop-token/refreshableInteropTokenService.ts
  packages/ivass-certified-attributes-importer/test/processor.test.ts
  packages/selfcare-onboarding-consumer/test/selfcareOnboardingProcessor.test.ts
  packages/selfcare-onboarding-consumer/test/utils.ts
Labels: authorization-server, admin-client

#1861 Fix readmodel checker postgres connection
  packages/readmodel-checker/src/index.ts
Labels: readmodel-sql

#1760 PIN-6588 Add read model sql to ipa-certified-attributes-importer
  packages/ipa-certified-attributes-importer/.env
  packages/ipa-certified-attributes-importer/Dockerfile
  packages/ipa-certified-attributes-importer/package.json
  packages/ipa-certified-attributes-importer/src/config/config.ts
  packages/ipa-certified-attributes-importer/src/index.ts
  packages/ipa-certified-attributes-importer/src/services/ipaCertifiedAttributesImporterService.ts
  packages/ipa-certified-attributes-importer/src/services/readModelServiceSQL.ts
  packages/ipa-certified-attributes-importer/test/revokeAttributes.test.ts
  packages/readmodel/src/tenantReadModelService.ts
  pnpm-lock.yaml
Labels: jobs, readmodel-sql

#1808 PIN-6673 client admin removed
  collections/authorization/Remove Client Admin.bru
  packages/api-clients/open-api/authorizationApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-process/.env
  packages/authorization-process/src/config/config.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/clientAdminRemoved.test.ts
  packages/authorization-updater/src/index.ts
  packages/backend-for-frontend/src/routers/clientRouter.ts
  packages/backend-for-frontend/src/services/clientService.ts
  packages/client-readmodel-writer-sql/src/clientConsumerServiceV2.ts
  packages/client-readmodel-writer/src/clientConsumerServiceV2.ts
  packages/commons/src/config/featureFlagsConfig.ts
  packages/domains-analytics-writer/src/handlers/authorization/consumerServiceV2.ts
  packages/key-readmodel-writer-sql/src/keyConsumerServiceV2.ts
  packages/key-readmodel-writer/src/keyConsumerServiceV2.ts
  packages/models/proto/v2/authorization/events.proto
  packages/models/src/authorization/authorizationEvents.ts
  packages/notifier-seeder/src/models/authorization/authorizationEventNotificationConverter.ts
  packages/notifier-seeder/src/models/authorization/authorizationEventNotificationMessage.ts
  packages/producer-key-events-writer/src/producerKeyConsumerServiceV2.ts
  packages/producer-key-readmodel-writer-sql/src/producerKeyConsumerServiceV2.ts
  packages/producer-key-readmodel-writer/src/producerKeyConsumerServiceV2.ts
  packages/producer-keychain-readmodel-writer-sql/src/producerKeychainConsumerServiceV2.ts
  packages/producer-keychain-readmodel-writer/src/producerKeychainConsumerServiceV2.ts
Labels: admin-client

#1803 PIN-6613 - M2M Api `GET /tenants`
  collections/m2m gateway/tenant/List Tenants.bru
  packages/api-clients/open-api/tenantApi.yml
  packages/api-clients/src/index.ts
  packages/api-clients/src/tenantApi.ts
  packages/m2m-gateway/package.json
  packages/m2m-gateway/src/api/tenantApiConverter.ts
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/test/.eslintrc.json
  packages/m2m-gateway/test/api/tenants/getTenants.test.ts
  packages/m2m-gateway/test/integration/tenants/getTenants.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/m2m-gateway/test/vitest.api.setup.ts
  packages/tenant-process/src/model/domain/models.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/readModelService.ts
  packages/tenant-process/src/services/readModelServiceSQL.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/test/getTenants.test.ts
  pnpm-lock.yaml
Labels: tenant-process, api-v2

#1840 PIN-6639 - Validating client adminId on authorization in M2M GW
  packages/authorization-process/src/model/domain/apiConverter.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/backend-for-frontend/src/app.ts
  packages/backend-for-frontend/src/utilities/middlewares.ts
  packages/commons-test/src/mockedPayloadForToken.ts
  packages/commons-test/test/authData.unit.test.ts
  packages/commons-test/test/jwt.unit.test.ts
  packages/commons/src/auth/authData.ts
  packages/m2m-gateway/src/app.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/services/clientService.ts
  packages/m2m-gateway/src/utils/context.ts
  packages/m2m-gateway/src/utils/middlewares.ts
  packages/m2m-gateway/test/api/m2mAuthDataValidationMiddleware.test.ts
  packages/m2m-gateway/test/integration/clients/getClientAdminId.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/m2m-gateway/test/vitest.api.setup.ts
Labels: api-v2

#1866 Fix sorting in `internalUpsertTenant` test (`tenant-process`)
  packages/tenant-process/test/internalUpsertTenant.test.ts
Labels: readmodel-sql

#1806 PIN-6616 - M2M Api `GET /tenants/:tenantId/certifiedAttributes`
  collections/m2m gateway/tenant/List Certified Attributes.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/src/m2mGatewayApi.ts
  packages/attribute-registry-process/src/routers/AttributeRouter.ts
  packages/attribute-registry-process/test/api/getAttributesByIds.test.ts
  packages/m2m-gateway/src/api/tenantApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/test/api/tenants/getCertifiedAttributes.test.ts
  packages/m2m-gateway/test/integration/tenants/getCertifiedAttributes.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/tenantService.ts
Labels: tenant-process, api-v2

#1807 PIN-6614 - M2M Api GET `/tenants/:tenantId`
  collections/m2m gateway/tenant/Get Tenant.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/test/api/tenants/getTenant.test.ts
  packages/m2m-gateway/test/integration/tenants/getTenant.test.ts
Labels: tenant-process, api-v2

#1814 PIN-6715: M2M-GW GET `/purposes`
  collections/m2m gateway/purposes/List purposes.bru
  collections/m2m gateway/purposes/folder.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/m2m-gateway/package.json
  packages/m2m-gateway/src/api/purposeApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/src/utils/validators/purposeValidator.ts
  packages/m2m-gateway/test/.eslintrc.json
  packages/m2m-gateway/test/api/purposes/getPurposes.test.ts
  packages/m2m-gateway/test/integration/purposes/getPurposes.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/m2m-gateway/test/vitest.api.setup.ts
  packages/purpose-process/src/model/domain/errors.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/integration/archivePurposeVersion.test.ts
  packages/purpose-process/test/integration/clonePurpose.test.ts
  packages/purpose-process/test/integration/createPurposeVersion.test.ts
  packages/purpose-process/test/integration/deletePurpose.test.ts
  packages/purpose-process/test/integration/deletePurposeVersion.test.ts
  packages/purpose-process/test/integration/internalArchivePurposeVersionAfterRevocation.test.ts
  packages/purpose-process/test/integration/internalDeletePurposeAfterRevocation.test.ts
  packages/purpose-process/test/integration/updatePurpose.test.ts
  packages/purpose-process/tsconfig.json
  pnpm-lock.yaml
Labels: purpose-process, api-v2

#1819 PIN-6616 - M2M Api POST `/tenants/:tenantId/certifiedAttributes`
  collections/m2m gateway/tenant/Add Certified Attribute.bru
  packages/api-clients/open-api/tenantApi.yml
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/test/api/tenants/addCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/tenants/addCertifiedAttribute.test.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/test/addCertifiedAttribute.test.ts
  packages/tenant-process/test/getTenantById.test.ts
Labels: tenant-process, api-v2

#1820 PIN-6717: M2M GW GET `/purposes/:purposeId`
  collections/m2m gateway/purposes/Get purpose.bru
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/purposes/getPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/getPurpose.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/m2m-gateway/test/vitest.api.setup.ts
  packages/purpose-process/src/model/domain/errors.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/src/utilities/errorMappers.ts
  packages/purpose-process/test/integration/activatePurposeVersion.test.ts
  packages/purpose-process/test/integration/archivePurposeVersion.test.ts
  packages/purpose-process/test/integration/clonePurpose.test.ts
  packages/purpose-process/test/integration/createPurpose.test.ts
  packages/purpose-process/test/integration/createPurposeVersion.test.ts
  packages/purpose-process/test/integration/createReversePurpose.test.ts
  packages/purpose-process/test/integration/deletePurpose.test.ts
  packages/purpose-process/test/integration/deletePurposeVersion.test.ts
  packages/purpose-process/test/integration/getPurposeById.test.ts
  packages/purpose-process/test/integration/getRiskAnalysisDocument.test.ts
  packages/purpose-process/test/integration/rejectPurposeVersion.test.ts
  packages/purpose-process/test/integration/suspendPurposeVersion.test.ts
  packages/purpose-process/test/integration/updatePurpose.test.ts
Labels: purpose-process, api-v2

#1821 PIN-6617 - M2M Api DELETE `/tenants/:tenantId/certifiedAttributes`
  collections/m2m gateway/tenant/Revoke Certified Attribute.bru
  packages/api-clients/open-api/tenantApi.yml
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/test/api/tenants/revokeCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/tenants/revokeCertifiedAttribute.test.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/test/revokeCertifiedAttributeById.test.ts
Labels: tenant-process, api-v2

#1793 Enable flag to hide 500 errors in BFF + hiding all errors in the token calls
  packages/backend-for-frontend/src/model/errors.ts
  packages/backend-for-frontend/src/routers/authorizationRouter.ts
  packages/backend-for-frontend/src/routers/supportRouter.ts
  packages/backend-for-frontend/src/utilities/errorMappers.ts
Labels: bff

#1822 PIN-6716: M2M GW POST `/purposes`
  collections/m2m gateway/purposes/Create purpose.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/open-api/purposeApi.yml
  packages/m2m-gateway/src/routers/attributeRouter.ts
  packages/m2m-gateway/src/routers/delegationRouter.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/test/api/certifiedAttributes/createCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/certifiedAttributes/getCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/acceptConsumerDelegation.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/createConsumerDelegation.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/getConsumerDelegations.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/rejectConsumerDelegation.test.ts
  packages/m2m-gateway/test/api/purposes/createPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/createPurpose.test.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/test/integration/createPurpose.test.ts
  packages/purpose-process/test/integration/getPurposeById.test.ts
Labels: purpose-process, api-v2

#1804 Add Admin Assignment Endpoints to Client – BFF and Authorization Process Integration
  collections/authorization/Add Client Admin.bru
  collections/bff/authorization/Add Client Admin.bru
  packages/api-clients/open-api/authorizationApi.yml
  packages/api-clients/open-api/bffApi.yml
  packages/authorization-platformstate-writer/src/consumerServiceV2.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/model/domain/toEvent.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/validators.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/integration/setAdminToClient.test.ts
  packages/authorization-updater/src/index.ts
  packages/backend-for-frontend/src/routers/clientRouter.ts
  packages/backend-for-frontend/src/services/clientService.ts
  packages/catalog-process/src/config/config.ts
  packages/client-readmodel-writer-sql/src/clientConsumerServiceV2.ts
  packages/client-readmodel-writer/src/clientConsumerServiceV2.ts
  packages/domains-analytics-writer/src/handlers/authorization/consumerServiceV2.ts
  packages/key-readmodel-writer-sql/src/keyConsumerServiceV2.ts
  packages/key-readmodel-writer/src/keyConsumerServiceV2.ts
  packages/models/proto/v2/authorization/events.proto
  packages/models/src/authorization/authorizationEvents.ts
  packages/notifier-seeder/src/models/authorization/authorizationEventNotificationConverter.ts
  packages/notifier-seeder/src/models/authorization/authorizationEventNotificationMessage.ts
  packages/producer-key-events-writer/src/producerKeyConsumerServiceV2.ts
  packages/producer-key-readmodel-writer-sql/src/producerKeyConsumerServiceV2.ts
  packages/producer-key-readmodel-writer/src/producerKeyConsumerServiceV2.ts
  packages/producer-keychain-readmodel-writer-sql/src/producerKeychainConsumerServiceV2.ts
  packages/producer-keychain-readmodel-writer/src/producerKeychainConsumerServiceV2.ts
Labels: admin-client

#1801 PIN-6603 - API V2 Tenant Process [Part 1]
  collections/m2m gateway/tenant/Get Tenant.bru
  collections/m2m gateway/tenant/List Certified Attributes.bru
  collections/m2m gateway/tenant/List Tenants.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/open-api/tenantApi.yml
  packages/api-clients/src/index.ts
  packages/api-clients/src/m2mGatewayApi.ts
  packages/api-clients/src/tenantApi.ts
  packages/attribute-registry-process/src/routers/AttributeRouter.ts
  packages/attribute-registry-process/test/api/getAttributesByIds.test.ts
  packages/m2m-gateway/src/api/tenantApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/test/api/certifiedAttributes/createCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/certifiedAttributes/getCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/acceptConsumerDelegation.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/createConsumerDelegation.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/getConsumerDelegations.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/rejectConsumerDelegation.test.ts
  packages/m2m-gateway/test/api/tenants/getCertifiedAttributes.test.ts
  packages/m2m-gateway/test/api/tenants/getTenant.test.ts
  packages/m2m-gateway/test/api/tenants/getTenants.test.ts
  packages/m2m-gateway/test/integration/tenants/getCertifiedAttributes.test.ts
  packages/m2m-gateway/test/integration/tenants/getTenant.test.ts
  packages/m2m-gateway/test/integration/tenants/getTenants.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/m2m-gateway/test/vitest.api.setup.ts
  packages/tenant-process/src/model/domain/errors.ts
  packages/tenant-process/src/model/domain/models.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/readModelService.ts
  packages/tenant-process/src/services/readModelServiceSQL.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/src/services/validators.ts
  packages/tenant-process/src/utilities/errorMappers.ts
  packages/tenant-process/test/getTenants.test.ts
  packages/tenant-process/test/updateTenantVerifiedAttribute.test.ts
  packages/tenant-process/test/updateVerifiedAttributeExtensionDate.test.ts
Labels: tenant-process, api-v2

#1869 PIN-6603 - API V2 Tenant Process [Part 2]
  collections/m2m gateway/tenant/Add Certified Attribute.bru
  collections/m2m gateway/tenant/Revoke Certified Attribute.bru
  packages/api-clients/open-api/tenantApi.yml
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/test/api/tenants/addCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/tenants/revokeCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/tenants/addCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/tenants/revokeCertifiedAttribute.test.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/tenant-process/src/routers/TenantRouter.ts
  packages/tenant-process/src/services/tenantService.ts
  packages/tenant-process/test/addCertifiedAttribute.test.ts
  packages/tenant-process/test/getTenantById.test.ts
  packages/tenant-process/test/revokeCertifiedAttributeById.test.ts
Labels: tenant-process, api-v2

#1846 PIN-6541 Supertest in authorization-process
  collections/bff/clients/Remove Client Admin.bru
  packages/authorization-process/package.json
  packages/authorization-process/src/app.ts
  packages/authorization-process/src/index.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/api/addClientPurpose.test.ts
  packages/authorization-process/test/api/addClientUsers.test.ts
  packages/authorization-process/test/api/addProducerKeychainEService.test.ts
  packages/authorization-process/test/api/addProducerKeychainUsers.test.ts
  packages/authorization-process/test/api/clientAdminRemoved.test.ts
  packages/authorization-process/test/api/createApiClient.test.ts
  packages/authorization-process/test/api/createConsumerClient.test.ts
  packages/authorization-process/test/api/createKey.test.ts
  packages/authorization-process/test/api/createProducerKeychain.test.ts
  packages/authorization-process/test/api/createProducerKeychainKey.test.ts
  packages/authorization-process/test/api/deleteClient.test.ts
  packages/authorization-process/test/api/deleteProducerKeychain.test.ts
  packages/authorization-process/test/api/getClientById.test.ts
  packages/authorization-process/test/api/getClientKeyById.test.ts
  packages/authorization-process/test/api/getClientKeys.test.ts
  packages/authorization-process/test/api/getClientUsers.test.ts
  packages/authorization-process/test/api/getClients.test.ts
  packages/authorization-process/test/api/getKeyWithClientByKeyId.test.ts
  packages/authorization-process/test/api/getProducerKeychainById.test.ts
  packages/authorization-process/test/api/getProducerKeychainKeyById.test.ts
  packages/authorization-process/test/api/getProducerKeychainKeys.test.ts
  packages/authorization-process/test/api/getProducerKeychainUsers.test.ts
  packages/authorization-process/test/api/getProducerKeychains.test.ts
  packages/authorization-process/test/api/internalClientAdminRemoved.test.ts
  packages/authorization-process/test/api/removeClientKeyById.test.ts
  packages/authorization-process/test/api/removeClientPurpose.test.ts
  packages/authorization-process/test/api/removeClientUser.test.ts
  packages/authorization-process/test/api/removeProducerKeychainEService.test.ts
  packages/authorization-process/test/api/removeProducerKeychainKeyById.test.ts
  packages/authorization-process/test/api/removeProducerKeychainUser.test.ts
  packages/authorization-process/test/api/removePurposeFromClients.test.ts
  packages/authorization-process/test/integration/clientAdminRemoved.test.ts
  packages/authorization-process/test/integration/internalClientAdminRemoved.test.ts
  packages/authorization-process/test/vitest.api.setup.ts
  packages/authorization-process/vitest.api.config.ts
  pnpm-lock.yaml
Labels: supertest, admin-client

#1875 General fixes read model SQL - part 4
  packages/agreement-process/src/services/readModelServiceSQL.ts
  packages/authorization-process/src/services/readModelServiceSQL.ts
  packages/backend-for-frontend/src/services/agreementService.ts
  packages/catalog-process/src/services/readModelServiceSQL.ts
  packages/delegation-process/src/services/readModelServiceSQL.ts
  packages/eservice-template-process/src/services/readModelServiceSQL.ts
Labels: readmodel-sql, fix-sql

#1827 PIN-6719: M2M GW GET `/purposes/:purposeId/version/:versionId`
  collections/m2m gateway/purposes/Get purpose version.bru
  packages/m2m-gateway/src/api/purposeApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/purposes/getPurposeVersion.test.ts
  packages/m2m-gateway/test/integration/purposes/getPurposeVersion.test.ts
Labels: purpose-process, api-v2

#1868 PIN-6817: fix for unhandledRejection on failed Token verification
  packages/commons/src/auth/jwt.ts
Labels: bug

#1888 PIN-6824 - M2M gateway GET eservice descriptor
  collections/m2m gateway/eservices/Get eservice descriptor.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/m2m-gateway/src/api/eserviceApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/eserviceRouter.ts
  packages/m2m-gateway/src/services/eserviceService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/eservices/getEserviceDescriptor.test.ts
  packages/m2m-gateway/test/integration/eservices/getEserviceDescriptor.test.ts
  packages/m2m-gateway/test/mockUtils.ts
Labels: api-v2

#1884 Revert "PIN-6776 Added filter name on getClientUsers"
  packages/api-clients/open-api/bffApi.yml
  packages/backend-for-frontend/src/routers/clientRouter.ts
  packages/backend-for-frontend/src/services/clientService.ts
Labels: admin-client

#1899 PIN-6855: Fix readmodel sql part6
  packages/tenant-process/src/services/readModelServiceSQL.ts
  packages/tenant-process/test/getConsumers.test.ts
  packages/tenant-process/test/getProducers.test.ts
Labels: readmodel-sql, fix-sql

#1900 PIN-6856 - Update `winston` to 3.16.0 and use `forceConsole`
  packages/commons/package.json
  packages/commons/src/logging/index.ts
  pnpm-lock.yaml
Labels: mixed-activity

#1785 PIN-6551 Add application-audit for authorization server
  packages/application-audit/src/middlewares.ts
  packages/authorization-server/.env
  packages/authorization-server/Dockerfile
  packages/authorization-server/package.json
  packages/authorization-server/src/app.ts
  packages/authorization-server/src/config/config.ts
  packages/authorization-server/src/routers/AuthorizationServerRouter.ts
  packages/authorization-server/src/services/tokenService.ts
  packages/authorization-server/test/authorizationServer.integration.test.ts
  packages/commons-test/src/testUtils.ts
  packages/commons/src/context/context.ts
  pnpm-lock.yaml
Labels: kpi

#1870 PIN-6627: M2M GW Purposes - Part 1
  collections/environments/PagoPA local.bru
  collections/m2m gateway/purposes/Create purpose.bru
  collections/m2m gateway/purposes/Get purpose.bru
  collections/m2m gateway/purposes/List purposes.bru
  collections/m2m gateway/purposes/folder.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/open-api/purposeApi.yml
  packages/certified-email-sender/test/sendAgreementActivationCertifiedEmail.integration.test.ts
  packages/m2m-gateway/src/api/purposeApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/attributeRouter.ts
  packages/m2m-gateway/src/routers/delegationRouter.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/test/.eslintrc.json
  packages/m2m-gateway/test/api/certifiedAttributes/createCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/consumerDelegations/createConsumerDelegation.test.ts
  packages/m2m-gateway/test/api/purposes/createPurpose.test.ts
  packages/m2m-gateway/test/api/purposes/getPurpose.test.ts
  packages/m2m-gateway/test/api/purposes/getPurposes.test.ts
  packages/m2m-gateway/test/integration/purposes/createPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/getPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/getPurposes.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/m2m-gateway/test/vitest.api.setup.ts
  packages/purpose-process/src/model/domain/errors.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/src/utilities/errorMappers.ts
  packages/purpose-process/test/integration/activatePurposeVersion.test.ts
  packages/purpose-process/test/integration/archivePurposeVersion.test.ts
  packages/purpose-process/test/integration/clonePurpose.test.ts
  packages/purpose-process/test/integration/createPurpose.test.ts
  packages/purpose-process/test/integration/createPurposeVersion.test.ts
  packages/purpose-process/test/integration/createReversePurpose.test.ts
  packages/purpose-process/test/integration/deletePurpose.test.ts
  packages/purpose-process/test/integration/deletePurposeVersion.test.ts
  packages/purpose-process/test/integration/getPurposeById.test.ts
  packages/purpose-process/test/integration/getRiskAnalysisDocument.test.ts
  packages/purpose-process/test/integration/internalArchivePurposeVersionAfterRevocation.test.ts
  packages/purpose-process/test/integration/internalDeletePurposeAfterRevocation.test.ts
  packages/purpose-process/test/integration/rejectPurposeVersion.test.ts
  packages/purpose-process/test/integration/suspendPurposeVersion.test.ts
  packages/purpose-process/test/integration/updatePurpose.test.ts
  packages/purpose-process/tsconfig.json
Labels: purpose-process, api-v2

#1721 Add addAgreementConsumerDocument test
  packages/backend-for-frontend/test/addAgreementConsumerDocument.test.ts
  packages/backend-for-frontend/test/utils.ts
  packages/certified-email-sender/test/sendAgreementActivationCertifiedEmail.integration.test.ts
Labels: bff

#1798 PIN-6487: Implement SQS fallback in application‑audit producer middleware
  packages/agreement-process/.env
  packages/agreement-process/src/config/config.ts
  packages/api-gateway/.env
  packages/application-audit-fallback/src/config/config.ts
  packages/application-audit/src/middlewares.ts
  packages/attribute-registry-process/.env
  packages/authorization-process/.env
  packages/authorization-server/.env
  packages/backend-for-frontend/.env
  packages/catalog-process/.env
  packages/commons/package.json
  packages/commons/src/config/applicationAuditFallbackSQSConsumerConfig.ts
  packages/commons/src/config/applicationAuditFallbackSQSProducerConfig.ts
  packages/commons/src/config/applicationAuditProducerConfig.ts
  packages/commons/src/config/index.ts
  packages/commons/src/index.ts
  packages/commons/src/logging/index.ts
  packages/commons/src/sqs/index.ts
  packages/commons/src/sqs/queueManagerErrors.ts
  packages/commons/src/sqs/queueManagerMessageValidation.ts
  packages/commons/src/sqs/queueMessage.ts
  packages/commons/tsconfig.json
  packages/delegation-process/.env
  packages/eservice-template-process/.env
  packages/m2m-gateway/.env
  packages/models/src/application-audit/application-audit.ts
  packages/models/src/errors.ts
  packages/models/src/index.ts
  packages/purpose-process/.env
  packages/tenant-process/.env
  pnpm-lock.yaml
Labels: kpi

#1902 PIN-6853: Analytics - refactor schema based on readModel SQL
  docker/domains-analytics-db/domains-init.sql
  packages/domains-analytics-writer/package.json
  packages/domains-analytics-writer/src/db/buildColumnSet.ts
  packages/domains-analytics-writer/src/handlers/attribute/consumerServiceV1.ts
  packages/domains-analytics-writer/src/handlers/catalog/consumerServiceV1.ts
  packages/domains-analytics-writer/src/handlers/catalog/consumerServiceV2.ts
  packages/domains-analytics-writer/src/index.ts
  packages/domains-analytics-writer/src/model/attribute/attribute.ts
  packages/domains-analytics-writer/src/model/catalog/eservice.ts
  packages/domains-analytics-writer/src/model/catalog/eserviceDescriptor.ts
  packages/domains-analytics-writer/src/model/catalog/eserviceDescriptorAttribute.ts
  packages/domains-analytics-writer/src/model/catalog/eserviceDescriptorDocument.ts
  packages/domains-analytics-writer/src/model/catalog/eserviceDescriptorInterface.ts
  packages/domains-analytics-writer/src/model/catalog/eserviceDescriptorRejection.ts
  packages/domains-analytics-writer/src/model/catalog/eserviceDescriptorTemplateVersionRef.ts
  packages/domains-analytics-writer/src/model/catalog/eserviceRiskAnalysis.ts
  packages/domains-analytics-writer/src/model/catalog/eserviceRiskAnalysisAnswer.ts
  packages/domains-analytics-writer/src/model/db.ts
  packages/domains-analytics-writer/src/model/db/attribute.ts
  packages/domains-analytics-writer/src/model/db/catalog.ts
  packages/domains-analytics-writer/src/model/db/deleting.ts
  packages/domains-analytics-writer/src/model/db/index.ts
  packages/domains-analytics-writer/src/repository/attribute/attribute.repository.ts
  packages/domains-analytics-writer/src/repository/catalog/eservice.repository.ts
  packages/domains-analytics-writer/src/repository/catalog/eserviceDescriptor.repository.ts
  packages/domains-analytics-writer/src/repository/catalog/eserviceDescriptorAttribute.repository.ts
  packages/domains-analytics-writer/src/repository/catalog/eserviceDescriptorDocument.repository.ts
  packages/domains-analytics-writer/src/repository/catalog/eserviceDescriptorInterface.repository.ts
  packages/domains-analytics-writer/src/repository/catalog/eserviceDescriptorRejection.repository.ts
  packages/domains-analytics-writer/src/repository/catalog/eserviceDescriptorTemplateVersionRef.repository.ts
  packages/domains-analytics-writer/src/repository/catalog/eserviceRiskAnalysis.repository.ts
  packages/domains-analytics-writer/src/repository/catalog/eserviceRiskAnalysisAnswer.repository.ts
  packages/domains-analytics-writer/src/service/attributeService.ts
  packages/domains-analytics-writer/src/service/catalogService.ts
  packages/domains-analytics-writer/src/service/setupDbService.ts
  packages/domains-analytics-writer/src/utils/sqlQueryHelper.ts
  packages/domains-analytics-writer/test/attributesService.test.ts
  packages/domains-analytics-writer/test/batchMessageHandler.test.ts
  packages/domains-analytics-writer/test/catalogService.test.ts
  packages/domains-analytics-writer/test/setupDbService.test.ts
  packages/domains-analytics-writer/test/utils.ts
  packages/domains-analytics-writer/test/utilsAttribute.ts
  packages/domains-analytics-writer/test/utilsCatalog.ts
  pnpm-lock.yaml
Labels: kpi

#1783 PIN-6606 - M2M Api GET `/agreements/{agreementId}`
  collections/m2m gateway/agreements/Get Agreement.bru
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/test/api/agreements/getAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/getAgreement.test.ts
Labels: agreement-process, api-v2

#1828 PIN-6720: M2M GW POST `/purposes/:purposeId/versions`
  collections/m2m gateway/purposes/Create purpose version.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/open-api/purposeApi.yml
  packages/backend-for-frontend/src/services/purposeService.ts
  packages/m2m-gateway/src/api/purposeApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/test/api/purposes/createPurposeVersion.test.ts
  packages/m2m-gateway/test/integration/purposes/createPurposeVersion.test.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/test/integration/createPurposeVersion.test.ts
Labels: purpose-process, api-v2

#1883 PIN-6836 - Add new token claims
  docker/dynamo-db/schema/token-generation-states-dynamo-db.json
  packages/agreement-platformstate-writer/src/consumerServiceV1.ts
  packages/agreement-platformstate-writer/src/consumerServiceV2.ts
  packages/agreement-platformstate-writer/src/utils.ts
  packages/agreement-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/agreement-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/agreement-platformstate-writer/test/utils.test.ts
  packages/authorization-platformstate-writer/src/utils.ts
  packages/authorization-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/authorization-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/authorization-platformstate-writer/test/utils.test.ts
  packages/authorization-server/.env
  packages/authorization-server/src/config/config.ts
  packages/authorization-server/src/services/tokenService.ts
  packages/commons-test/src/setupDynamoDBtables.ts
  packages/commons-test/src/testUtils.ts
  packages/commons-test/src/tokenGenerationReadmodelUtils.ts
  packages/commons/src/config/featureFlagsConfig.ts
  packages/commons/src/interop-token/interopTokenService.ts
  packages/commons/src/interop-token/models.ts
  packages/models/src/token-generation-readmodel/platform-states-entry.ts
  packages/models/src/token-generation-readmodel/token-generation-states-entry.ts
  packages/purpose-platformstate-writer/src/utils.ts
  packages/purpose-platformstate-writer/test/consumerServiceV1.integration.test.ts
  packages/purpose-platformstate-writer/test/consumerServiceV2.integration.test.ts
  packages/purpose-platformstate-writer/test/utils.test.ts
  packages/token-generation-readmodel-checker/src/models/types.ts
  packages/token-generation-readmodel-checker/src/utils/utils.ts
  packages/token-generation-readmodel-checker/test/tokenGenerationReadModelChecker.test.ts
  packages/token-generation-readmodel-checker/test/utils.test.ts
Labels: token-claims

#1812 PIN-6607 - M2M Api POST `/agreements/:agreementId/approve`
  collections/m2m gateway/agreements/Approve Agreement.bru
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementActivationProcessor.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementStampUtils.ts
  packages/agreement-process/test/integration/activateAgreement.test.ts
  packages/agreement-process/test/integration/agreementStatesFlows.test.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/src/utils/validators/agreementValidators.ts
  packages/m2m-gateway/test/api/agreements/approveAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/approveAgreement.test.ts
Labels: agreement-process, api-v2

#1813 PIN-6608 - M2M Api POST `/agreements/:agreementId/reject`
  collections/m2m gateway/agreements/Reject Agreement.bru
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/test/integration/rejectAgreement.test.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/test/api/agreements/rejectAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/rejectAgreement.test.ts
Labels: agreement-process, api-v2

#1815 PIN-6609 - M2M Api POST `/agreements/:agreementId/submit`
  collections/m2m gateway/agreements/Submit Agreement.bru
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementSubmissionProcessor.ts
  packages/agreement-process/test/integration/agreementStatesFlows.test.ts
  packages/agreement-process/test/integration/submitAgreement.test.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/test/api/agreements/submitAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/submitAgreement.test.ts
Labels: agreement-process, api-v2

#1816 PIN-6610 - M2M Api POST `/agreements/:agreementId/suspend`
  collections/m2m gateway/agreements/Suspend Agreement.bru
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementSuspensionProcessor.ts
  packages/agreement-process/test/integration/agreementStatesFlows.test.ts
  packages/agreement-process/test/integration/suspendAgreement.test.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/test/api/agreements/suspendAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/suspendAgreement.test.ts
Labels: agreement-process, api-v2

#1817 PIN-6611 - M2M Api POST `/agreements/:agreementId/unsuspend`
  collections/m2m gateway/agreements/Unsuspend Agreement.bru
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/src/utils/validators/agreementValidators.ts
  packages/m2m-gateway/test/api/agreements/unsuspendAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/unsuspendAgreement.test.ts
Labels: agreement-process, api-v2

#1818 PIN-6612 - M2M Api POST `/agreements/:agreementId/upgrade`
  collections/m2m gateway/agreements/Upgrade Agreement.bru
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementUpgradeProcessor.ts
  packages/agreement-process/test/integration/agreementStatesFlows.test.ts
  packages/agreement-process/test/integration/upgradeAgreement.test.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/backend-for-frontend/src/services/agreementService.ts
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/test/api/agreements/upgradeAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/upgradeAgreement.test.ts
Labels: agreement-process, api-v2

#1829 PIN-6718: M2M GW GET `/purposes/:purposeId/versions`
  collections/m2m gateway/purposes/Get purpose versions.bru
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/test/api/purposes/getPurposeVersions.test.ts
  packages/m2m-gateway/test/integration/purposes/getPurposeVersions.test.ts
Labels: purpose-process, api-v2

#1834 PIN-6721: M2M GW `/purposes/:purposeId/activate`
  collections/m2m gateway/purposes/Activate purpose.bru
  packages/api-clients/open-api/purposeApi.yml
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/src/utils/polling.ts
  packages/m2m-gateway/src/utils/validators/purposeValidator.ts
  packages/m2m-gateway/src/utils/validators/validators.ts
  packages/m2m-gateway/test/api/purposes/activatePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/activatePurpose.test.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/test/integration/activatePurposeVersion.test.ts
Labels: purpose-process, api-v2

#1835 PIN-6722: M2M GW `/purposes/:purposeId/archive`
  collections/m2m gateway/purposes/Archive purpose.bru
  packages/api-clients/open-api/purposeApi.yml
  packages/backend-for-frontend/src/services/purposeService.ts
  packages/m2m-gateway/src/api/purposeApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/src/utils/validators/purposeValidator.ts
  packages/m2m-gateway/test/api/purposes/archivePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/archivePurpose.test.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/integration/activatePurposeVersion.test.ts
  packages/purpose-process/test/integration/archivePurposeVersion.test.ts
Labels: purpose-process, api-v2

#1836 PIN-6724: M2M GW `/purposes/:purposeId/suspend`
  collections/m2m gateway/purposes/Suspend purpose.bru
  packages/api-clients/open-api/purposeApi.yml
  packages/backend-for-frontend/src/services/purposeService.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/purposes/suspendPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/suspendPurpose.test.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/test/integration/suspendPurposeVersion.test.ts
Labels: purpose-process, api-v2

#1887 PIN-6723 M2M GW `purposes/:purposeId/approve`
  collections/m2m gateway/purposes/Approve purpose.bru
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/purposes/approvePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/approvePurpose.test.ts
Labels: purpose-process, api-v2

#1894 PIN-6725 M2M GW `purposes/:purposeId/unsuspend`
  collections/m2m gateway/purposes/Unsuspend purpose.bru
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/purposes/unsuspendPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/unsuspendPurpose.test.ts
Labels: purpose-process, api-v2

#1907 PIN-6782 M2M GW GET `eserviceTemplates/:templateId/versions`
  collections/m2m gateway/eServiceTemplates/Get EService template versions.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/m2m-gateway/src/routers/eserviceTemplateRouter.ts
  packages/m2m-gateway/src/services/eserviceTemplateService.ts
  packages/m2m-gateway/test/api/eServiceTemplates/getEServiceTemplateVersions.test.ts
  packages/m2m-gateway/test/integration/eServiceTemplates/getEServiceTemplateVersions.test.ts
  packages/m2m-gateway/test/mockUtils.ts
Labels: eservice-template, api-v2

#1908 PIN-6783: M2M GW GET `eserviceTemplates/:templateId/versions/:versionId`
  collections/m2m gateway/eServiceTemplates/Get EService template version.bru
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/eserviceTemplateRouter.ts
  packages/m2m-gateway/src/services/eserviceTemplateService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/eServiceTemplates/getEServiceTemplateVersion.test.ts
  packages/m2m-gateway/test/integration/eServiceTemplates/getEServiceTemplateVersion.test.ts
Labels: eservice-template, api-v2

#1896 Add test for interopTokenGenerator with valid JWT claims
  packages/commons-test/package.json
  packages/commons-test/src/testUtils.ts
  packages/commons-test/test/interopTokenService.test.ts
  packages/commons/src/interop-token/utils.ts
  pnpm-lock.yaml
Labels: improvement

#1912 Fix descriptor attributes in readmodel-checker
  packages/readmodel-checker/src/services/readModelService.ts
Labels: readmodel-sql

#1917 PIN-6602 - API V2 Agreement Process [Part 3]
  collections/m2m gateway/agreements/Suspend Agreement.bru
  collections/m2m gateway/agreements/Unsuspend Agreement.bru
  collections/m2m gateway/agreements/Upgrade Agreement.bru
  packages/agreement-process/src/model/domain/agreement-validators.ts
  packages/agreement-process/src/model/domain/errors.ts
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/src/services/agreementService.ts
  packages/agreement-process/src/services/agreementSuspensionProcessor.ts
  packages/agreement-process/src/services/agreementUpgradeProcessor.ts
  packages/agreement-process/src/utilities/errorMappers.ts
  packages/agreement-process/test/integration/activateAgreement.test.ts
  packages/agreement-process/test/integration/agreementConsumerDocuments.test.ts
  packages/agreement-process/test/integration/agreementStatesFlows.test.ts
  packages/agreement-process/test/integration/archiveAgreement.test.ts
  packages/agreement-process/test/integration/cloneAgreement.test.ts
  packages/agreement-process/test/integration/createAgreement.test.ts
  packages/agreement-process/test/integration/deleteAgreement.test.ts
  packages/agreement-process/test/integration/getAgreement.test.ts
  packages/agreement-process/test/integration/rejectAgreement.test.ts
  packages/agreement-process/test/integration/submitAgreement.test.ts
  packages/agreement-process/test/integration/suspendAgreement.test.ts
  packages/agreement-process/test/integration/updateAgreement.test.ts
  packages/agreement-process/test/integration/upgradeAgreement.test.ts
  packages/agreement-process/test/integration/verifyTenantCertifiedAttributes.test.ts
  packages/api-clients/open-api/agreementApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/backend-for-frontend/src/services/agreementService.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/agreementRouter.ts
  packages/m2m-gateway/src/services/agreementService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/src/utils/validators/agreementValidators.ts
  packages/m2m-gateway/test/api/agreements/suspendAgreement.test.ts
  packages/m2m-gateway/test/api/agreements/unsuspendAgreement.test.ts
  packages/m2m-gateway/test/api/agreements/upgradeAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/suspendAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/unsuspendAgreement.test.ts
  packages/m2m-gateway/test/integration/agreements/upgradeAgreement.test.ts
Labels: agreement-process, api-v2

#1905 PIN-6630: M2M GW EService Template
  collections/m2m gateway/eServiceTemplates/Get EService Template.bru
  collections/m2m gateway/eServiceTemplates/Get EService template version.bru
  collections/m2m gateway/eServiceTemplates/Get EService template versions.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/backend-for-frontend/src/model/errors.ts
  packages/catalog-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/model/domain/errors.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/utilities/errorMappers.ts
  packages/eservice-template-process/test/integration/activateEServiceTemplateVersion.test.ts
  packages/eservice-template-process/test/integration/createEServiceTemplate.test.ts
  packages/eservice-template-process/test/integration/createEServiceTemplateRiskAnalysis.test.ts
  packages/eservice-template-process/test/integration/createEServiceTemplateVersion.test.ts
  packages/eservice-template-process/test/integration/deleteDocument.test.ts
  packages/eservice-template-process/test/integration/deleteEServiceTemplateRiskAnalysis.test.ts
  packages/eservice-template-process/test/integration/deleteEServiceTemplateVersion.test.ts
  packages/eservice-template-process/test/integration/getEServiceTemplateById.test.ts
  packages/eservice-template-process/test/integration/getEServiceTemplateVersionDocumentById.test.ts
  packages/eservice-template-process/test/integration/publishEServiceTemplateVersion.test.ts
  packages/eservice-template-process/test/integration/suspendEServiceTemplateVersion.test.ts
  packages/eservice-template-process/test/integration/updateDocument.test.ts
  packages/eservice-template-process/test/integration/updateDraftVersion.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplate.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateDescription.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateIntendedTarget.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateName.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateRiskAnalysis.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateVersionAttributes.test.ts
  packages/eservice-template-process/test/integration/updateEServiceTemplateVersionQuotas.test.ts
  packages/eservice-template-process/test/integration/uploadDocument.test.ts
  packages/m2m-gateway/src/api/eserviceTemplateApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/eserviceTemplateRouter.ts
  packages/m2m-gateway/src/services/eserviceTemplateService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/test/api/eServiceTemplates/getEServiceTemplate.test.ts
  packages/m2m-gateway/test/api/eServiceTemplates/getEServiceTemplateVersion.test.ts
  packages/m2m-gateway/test/api/eServiceTemplates/getEServiceTemplateVersions.test.ts
  packages/m2m-gateway/test/integration/eServiceTemplates/getEServiceTemplate.test.ts
  packages/m2m-gateway/test/integration/eServiceTemplates/getEServiceTemplateVersion.test.ts
  packages/m2m-gateway/test/integration/eServiceTemplates/getEServiceTemplateVersions.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/m2m-gateway/test/mockUtils.ts
  packages/m2m-gateway/test/vitest.api.setup.ts
  packages/purpose-process/src/model/domain/errors.ts
Labels: eservice-template, api-v2

#1918 PIN-6627 M2M GW Purposes - Part 3
  collections/m2m gateway/purposes/Activate purpose.bru
  collections/m2m gateway/purposes/Approve purpose.bru
  collections/m2m gateway/purposes/Archive purpose.bru
  collections/m2m gateway/purposes/Get purpose version.bru
  collections/m2m gateway/purposes/Get purpose versions.bru
  collections/m2m gateway/purposes/Get purpose.bru
  collections/m2m gateway/purposes/List purposes.bru
  collections/m2m gateway/purposes/Suspend purpose.bru
  collections/m2m gateway/purposes/Unsuspend purpose.bru
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/api-clients/open-api/purposeApi.yml
  packages/m2m-gateway/src/api/purposeApiConverter.ts
  packages/m2m-gateway/src/model/errors.ts
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/utils/errorMappers.ts
  packages/m2m-gateway/src/utils/polling.ts
  packages/m2m-gateway/src/utils/validators/purposeValidator.ts
  packages/m2m-gateway/src/utils/validators/validators.ts
  packages/m2m-gateway/test/api/purposes/activatePurpose.test.ts
  packages/m2m-gateway/test/api/purposes/approvePurpose.test.ts
  packages/m2m-gateway/test/api/purposes/archivePurpose.test.ts
  packages/m2m-gateway/test/api/purposes/suspendPurpose.test.ts
  packages/m2m-gateway/test/api/purposes/unsuspendPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/activatePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/approvePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/archivePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/getPurposeVersions.test.ts
  packages/m2m-gateway/test/integration/purposes/suspendPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/unsuspendPurpose.test.ts
  packages/purpose-process/src/routers/PurposeRouter.ts
  packages/purpose-process/src/services/purposeService.ts
  packages/purpose-process/src/services/validators.ts
  packages/purpose-process/test/integration/activatePurposeVersion.test.ts
  packages/purpose-process/test/integration/archivePurposeVersion.test.ts
  packages/purpose-process/test/integration/suspendPurposeVersion.test.ts
Labels: purpose-process, api-v2

#1890 PIN-6495 Add `FeatureFlagClientAssertionStrictClaimsValidation` to `verifyClientAssertion`
  packages/authorization-server/.env
  packages/authorization-server/src/config/config.ts
  packages/authorization-server/src/services/tokenService.ts
  packages/backend-for-frontend/.env
  packages/backend-for-frontend/src/config/config.ts
  packages/backend-for-frontend/src/services/toolService.ts
  packages/client-assertion-validation/src/validation.ts
  packages/client-assertion-validation/test/validation.test.ts
  packages/commons/src/config/featureFlagsConfig.ts
Labels: token-claims

#1909 PIN-6052: Analytics - Delegation consumer
  docker/domains-analytics-db/domains-init.sql
  packages/domains-analytics-writer/src/handlers/delegation/consumerServiceV2.ts
  packages/domains-analytics-writer/src/index.ts
  packages/domains-analytics-writer/src/model/db/delegation.ts
  packages/domains-analytics-writer/src/model/db/index.ts
  packages/domains-analytics-writer/src/model/delegation/delegation.ts
  packages/domains-analytics-writer/src/model/delegation/delegationContractDocument.ts
  packages/domains-analytics-writer/src/model/delegation/delegationStamp.ts
  packages/domains-analytics-writer/src/repository/delegation/delegation.repository.ts
  packages/domains-analytics-writer/src/repository/delegation/delegationContractDocument.repository.ts
  packages/domains-analytics-writer/src/repository/delegation/delegationStamp.repository.ts
  packages/domains-analytics-writer/src/service/delegationService.ts
  packages/domains-analytics-writer/test/delegationService.test.ts
  packages/domains-analytics-writer/test/utils.ts
Labels: kpi

#1877 PIN-6834 - Refactoring e-service and template visibility to include M2M
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/services/readModelService.ts
  packages/catalog-process/src/services/readModelServiceSQL.ts
  packages/catalog-process/src/services/validators.ts
  packages/catalog-process/test/integration/getEserviceById.test.ts
  packages/catalog-process/test/integration/getEservices.test.ts
  packages/catalog-process/test/mockUtils.ts
  packages/commons-test/src/testUtils.ts
  packages/commons/src/auth/authorization.ts
  packages/eservice-template-process/src/routers/EServiceTemplateRouter.ts
  packages/eservice-template-process/src/services/eserviceTemplateService.ts
  packages/eservice-template-process/src/services/readModelService.ts
  packages/eservice-template-process/src/services/readModelServiceSQL.ts
  packages/eservice-template-process/src/services/validators.ts
  packages/eservice-template-process/test/integration/getEServiceTemplateById.test.ts
  packages/eservice-template-process/test/integration/getEServiceTemplateVersionDocumentById.test.ts
  packages/eservice-template-process/test/integration/getEServiceTemplates.test.ts
  packages/eservice-template-process/test/mockUtils.ts
Labels: api-v2

#1927 PIN-6898 - M2M - align post calls to return 200
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/m2m-gateway/src/routers/purposeRouter.ts
  packages/m2m-gateway/src/routers/tenantRouter.ts
  packages/m2m-gateway/src/services/purposeService.ts
  packages/m2m-gateway/src/services/tenantService.ts
  packages/m2m-gateway/test/api/agreements/getAgreement.test.ts
  packages/m2m-gateway/test/api/eServiceTemplates/getEServiceTemplateVersions.test.ts
  packages/m2m-gateway/test/api/purposes/activatePurpose.test.ts
  packages/m2m-gateway/test/api/purposes/approvePurpose.test.ts
  packages/m2m-gateway/test/api/purposes/archivePurpose.test.ts
  packages/m2m-gateway/test/api/purposes/createPurpose.test.ts
  packages/m2m-gateway/test/api/purposes/getPurpose.test.ts
  packages/m2m-gateway/test/api/purposes/getPurposeVersions.test.ts
  packages/m2m-gateway/test/api/purposes/suspendPurpose.test.ts
  packages/m2m-gateway/test/api/purposes/unsuspendPurpose.test.ts
  packages/m2m-gateway/test/api/tenants/addCertifiedAttribute.test.ts
  packages/m2m-gateway/test/api/tenants/getTenant.test.ts
  packages/m2m-gateway/test/api/tenants/revokeCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/purposes/activatePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/approvePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/archivePurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/suspendPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/toM2MGatewayApiPurpose.test.ts
  packages/m2m-gateway/test/integration/purposes/unsuspendPurpose.test.ts
  packages/m2m-gateway/test/integration/tenants/addCertifiedAttribute.test.ts
  packages/m2m-gateway/test/integration/tenants/revokeCertifiedAttribute.test.ts
Labels: api-v2

#1932 Delete Dockerfile from `token-generation-readmodel-producer-id-updater`
  packages/token-generation-readmodel-producer-id-updater/Dockerfile
Labels: token-claims

#1825 PIN-6542 Supertest in delegation process
  packages/api-clients/open-api/delegationApi.yml
  packages/delegation-process/package.json
  packages/delegation-process/src/app.ts
  packages/delegation-process/src/index.ts
  packages/delegation-process/src/routers/DelegationRouter.ts
  packages/delegation-process/src/services/delegationService.ts
  packages/delegation-process/test/api/approveConsumerDelegation.test.ts
  packages/delegation-process/test/api/approveProducerDelegation.test.ts
  packages/delegation-process/test/api/createConsumerDelegation.test.ts
  packages/delegation-process/test/api/createProducerDelegation.test.ts
  packages/delegation-process/test/api/getConsumerDelegators.test.ts
  packages/delegation-process/test/api/getConsumerDelegatorsWithAgreements.test.ts
  packages/delegation-process/test/api/getConsumerEservices.test.ts
  packages/delegation-process/test/api/getDelegationById.test.ts
  packages/delegation-process/test/api/getDelegationContract.test.ts
  packages/delegation-process/test/api/getDelegations.test.ts
  packages/delegation-process/test/api/rejectConsumerDelegation.test.ts
  packages/delegation-process/test/api/rejectProducerDelegation.test.ts
  packages/delegation-process/test/api/revokeConsumerDelegation.test.ts
  packages/delegation-process/test/api/revokeProducerDelegation.test.ts
  packages/delegation-process/test/integrationUtils.ts
  packages/delegation-process/test/mockUtils.ts
  packages/delegation-process/test/vitest.api.setup.ts
  packages/delegation-process/vitest.api.config.ts
  pnpm-lock.yaml
Labels: supertest

#1936 Refactor tenant query in readmodel-checker
  packages/readmodel-checker/src/services/readModelServiceSQL.ts
Labels: readmodel-sql, fix-sql

#1925 PIN-6912: M2M GW Keys endpoints
  collections/authorization/Get JWK by kid.bru
  collections/authorization/Get producer JWK by kid.bru
  collections/m2m gateway/keys/Get JWK by kid.bru
  collections/m2m gateway/keys/Get producer JWK by kid.bru
  collections/m2m gateway/keys/folder.bru
  packages/api-clients/open-api/authorizationApi.yml
  packages/api-clients/open-api/m2mGatewayApi.yml
  packages/authorization-process/src/index.ts
  packages/authorization-process/src/model/domain/apiConverter.ts
  packages/authorization-process/src/model/domain/errors.ts
  packages/authorization-process/src/routers/AuthorizationRouter.ts
  packages/authorization-process/src/services/authorizationService.ts
  packages/authorization-process/src/services/readModelService.ts
  packages/authorization-process/src/services/readModelServiceSQL.ts
  packages/authorization-process/src/utilities/errorMappers.ts
  packages/authorization-process/test/api/getJWKByKid.test.ts
  packages/authorization-process/test/api/getProducerJWKByKid.test.ts
  packages/authorization-process/test/integration/getJWKByKid.test.ts
  packages/authorization-process/test/integration/getProducerJWKByKid.test.ts
  packages/authorization-process/test/integrationUtils.ts
  packages/m2m-gateway/src/api/keysApiConverter.ts
  packages/m2m-gateway/src/app.ts
  packages/m2m-gateway/src/clients/clientsProvider.ts
  packages/m2m-gateway/src/index.ts
  packages/m2m-gateway/src/routers/keyRouter.ts
  packages/m2m-gateway/src/services/keyService.ts
  packages/m2m-gateway/test/api/keys/getJWKByKid.test.ts
  packages/m2m-gateway/test/api/keys/getProducerJWKByKid.test.ts
  packages/m2m-gateway/test/integration/keys/getJWKByKid.test.ts
  packages/m2m-gateway/test/integration/keys/getProducerJWKById.test.ts
  packages/m2m-gateway/test/integrationUtils.ts
  packages/m2m-gateway/test/vitest.api.setup.ts
Labels: authorization-process, api-v2

#1845 API tests for agreement-process
  packages/agreement-process/package.json
  packages/agreement-process/src/app.ts
  packages/agreement-process/src/index.ts
  packages/agreement-process/src/routers/AgreementRouter.ts
  packages/agreement-process/test/.eslintrc.json
  packages/agreement-process/test/api/activateAgreement.test.ts
  packages/agreement-process/test/api/addConsumerDocument.test.ts
  packages/agreement-process/test/api/apiConverter.test.ts
  packages/agreement-process/test/api/archiveAgreement.test.ts
  packages/agreement-process/test/api/cloneAgreement.test.ts
  packages/agreement-process/test/api/createAgreement.test.ts
  packages/agreement-process/test/api/deleteAgreementById.test.ts
  packages/agreement-process/test/api/getAgreementById.test.ts
  packages/agreement-process/test/api/getAgreementConsumerDocument.test.ts
  packages/agreement-process/test/api/getAgreements.test.ts
  packages/agreement-process/test/api/getAgreementsConsumers.test.ts
  packages/agreement-process/test/api/getAgreementsEServices.test.ts
  packages/agreement-process/test/api/getAgreementsProducers.test.ts
  packages/agreement-process/test/api/internalArchiveAgreementAfterDelegationRevocation.test.ts
  packages/agreement-process/test/api/internalComputeAgreementsStateByAttribute.test.ts
  packages/agreement-process/test/api/internalDeleteAgreementAfterDelegationRevocation.test.ts
  packages/agreement-process/test/api/rejectAgreement.test.ts
  packages/agreement-process/test/api/removeAgreementConsumerDocument.test.ts
  packages/agreement-process/test/api/submitAgreement.test.ts
  packages/agreement-process/test/api/suspendAgreement.test.ts
  packages/agreement-process/test/api/updateAgreement.test.ts
  packages/agreement-process/test/api/upgradeAgreement.test.ts
  packages/agreement-process/test/api/verifyTenantCertifiedAttributes.test.ts
  packages/agreement-process/test/mockUtils.ts
  packages/agreement-process/test/vitest.api.setup.ts
  packages/agreement-process/vitest.api.config.ts
  packages/api-clients/open-api/agreementApi.yml
  pnpm-lock.yaml
Labels: supertest

#1903 PIN-6050: Analytics - Tenant consumer
  docker/domains-analytics-db/domains-init.sql
  packages/domains-analytics-writer/src/handlers/tenant/consumerServiceV1.ts
  packages/domains-analytics-writer/src/handlers/tenant/consumerServiceV2.ts
  packages/domains-analytics-writer/src/index.ts
  packages/domains-analytics-writer/src/model/db/deleting.ts
  packages/domains-analytics-writer/src/model/db/index.ts
  packages/domains-analytics-writer/src/model/db/tenant.ts
  packages/domains-analytics-writer/src/model/errors.ts
  packages/domains-analytics-writer/src/model/tenant/tenant.ts
  packages/domains-analytics-writer/src/model/tenant/tenantCertifiedAttribute.ts
  packages/domains-analytics-writer/src/model/tenant/tenantDeclaredAttribute.ts
  packages/domains-analytics-writer/src/model/tenant/tenantFeature.ts
  packages/domains-analytics-writer/src/model/tenant/tenantMail.ts
  packages/domains-analytics-writer/src/model/tenant/tenantVerifiedAttribute.ts
  packages/domains-analytics-writer/src/model/tenant/tenantVerifiedAttributeRevoker.ts
  packages/domains-analytics-writer/src/model/tenant/tenantVerifiedAttributeVerifier.ts
  packages/domains-analytics-writer/src/repository/tenant/tenant.repository.ts
  packages/domains-analytics-writer/src/repository/tenant/tenantCertifiedAttribute.repository.ts
  packages/domains-analytics-writer/src/repository/tenant/tenantDeclaredAttribute.repository.ts
  packages/domains-analytics-writer/src/repository/tenant/tenantFeature.repository.ts
  packages/domains-analytics-writer/src/repository/tenant/tenantMail.repository.ts
  packages/domains-analytics-writer/src/repository/tenant/tenantVerifiedAttribute.repository.ts
  packages/domains-analytics-writer/src/repository/tenant/tenantVerifiedAttributeRevoker.repository.ts
  packages/domains-analytics-writer/src/repository/tenant/tenantVerifiedAttributeVerifier.repository.ts
  packages/domains-analytics-writer/src/service/setupDbService.ts
  packages/domains-analytics-writer/src/service/tenantService.ts
  packages/domains-analytics-writer/src/utils/mapZodToSQLType.ts
  packages/domains-analytics-writer/src/utils/sqlQueryHelper.ts
  packages/domains-analytics-writer/test/setupDbService.test.ts
  packages/domains-analytics-writer/test/tenantService.test.ts
  packages/domains-analytics-writer/test/utils.ts
  packages/domains-analytics-writer/test/utilsTenant.ts
  packages/domains-analytics-writer/test/utilsTenantConverterV1.ts
Labels: kpi

#1945 clientUsersUpdater: fix message parsing
  packages/selfcare-client-users-updater/src/services/selfcareClientUsersUpdaterProcessor.ts
Labels: admin-client

#1940 Fix name search in tenant
  packages/tenant-process/src/services/readModelServiceSQL.ts
  packages/tenant-process/test/integration/getConsumers.test.ts
  packages/tenant-process/test/integration/getProducers.test.ts
Labels: readmodel-sql

#1938 Refactor tenant sql queries
  packages/dtd-catalog-exporter/src/services/readModelServiceSQL.ts
  packages/ipa-certified-attributes-importer/src/index.ts
  packages/ipa-certified-attributes-importer/src/services/readModelServiceSQL.ts
  packages/readmodel-checker/src/services/readModelServiceSQL.ts
  packages/readmodel/src/tenantReadModelService.ts
  packages/tenant-process/src/services/readModelServiceSQL.ts
Labels: readmodel-sql

#1955 Fix Dockerfile of delegation-ites-archiver
  packages/delegation-items-archiver/Dockerfile
Labels: readmodel-sql

#1865 Improving e-service published updates validators naming
  packages/catalog-process/src/services/catalogService.ts
  packages/catalog-process/src/services/validators.ts
Labels: catalog-process, mixed-activity
